<!--#begin edit -->
<script type="text/javascript">
<!--

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function check_uncheck(obj,prefix)
	{
	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}



function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms.edit_step;
	var count = 0;
	var todelete = 0;

	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_step';
		f.submit();
		}
	}



function add_btn()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_btn.value);
	if (!isNaN(x))
		f.nb_btn.value = x + parseInt(f.btn_to_add.value);
	else
		f.nb_btn.value = parseInt(f.btn_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}


function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}

function edit_message_record(index,text)
	{
	var f = document.forms.edit_step;
	eval('var message = f.message_'+index+';');
	message.value = unescape(text);
	}

function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}



function form_formChange(obj) {

	stepname = document.getElementById('form_stepName');
	if ('' == stepname.value) {
		stepname.value = obj.options[obj.selectedIndex].innerHTML;
	}
}


//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_step">
<input type="hidden" name="id_app" value="{ id_app }">
<input type="hidden" name="id_step" value="{ id_step }">
<input type="hidden" name="nb_btn" value="{ arr[nb_btn] }">
<input type="hidden" name="del_btn_index" value="-1">
<input type="hidden" name="id_type" value="1">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">
	<tr>
		<td colspan="2" align="center"><br />{ application_titre }<br /><br /></td>
	</tr>
	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td colspan="4"><input type="text" name="name" id="form_stepName" value="{ arr[name] }" size="32" maxlength="32" /></td>
	</tr>
	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td colspan="4"><textarea name="description" cols="32">{ arr[description] }</textarea></td>
	</tr>
	

	<tr>
		<td align="right" colspan="1">{ t_id_form }</td>
		<td colspan="4">
			<select name="id_form" onchange="form_formChange(this)">
				<option value="0"></option>
			<!--#in getnextform -->
				<option value="{ form[id] }" { selected }>{ form[name] }</option>
			<!--#endin getnextform -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="1">{ t_ovml_file }</td>
		<td colspan="4">
			<input type="text" name="ovml_file" value="{ arr[ovml_file] }" size="64" maxlength="255" />
		</td>
	</tr>

	<tr>
		<td colspan="5">
			&nbsp;
		</td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_btn_name }</td>
		<td colspan="2">{ t_btn_type }&nbsp;<a href="{ babAddonUrl }user&amp;idx=help&amp;help_id=appli,step,button,type" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>{ t_step }</td>
		<td>{ t_del }</td>
	</tr>

	<!--#in getnextbtn -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->

		<td>
			<input type="hidden" name="btn_id_btn_{ index }" value="{ btn[id_btn] }">
			<input type="text" name="btn_name_{ index }" value="{ btn[btn_name] }" maxlength="64">
		</td>

		<td colspan="2">
			<select name="btn_id_type_{ index }">
				<option value="0"></option>
				<!--#in getnextbtntype -->
				<option value="{ btn_type[id] }" { selected }>{ btn_type[description] }</option>
				<!--#endin getnextbtntype -->
			</select>
		</td>

		<td>
			<select name="btn_id_goto_step_{ index }">
				<option value="0"></option>
				<!--#in getnextstep -->
				<option value="{ step[id] }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
		</td>

		<td>
			<input type="checkbox" name="btn_del_fields[]" value="{ index }" />
		</td>
	</tr>

	<!--#endin getnextbtn -->

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="btn_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_btn }&nbsp;<input type="button" value="{ t_ok }" onclick="add_btn();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('btn_del_fields',document.forms['edit_step'].nb_btn);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'btn_del_fields')" />
		</td>
	</tr>


	

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }" />&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()" />
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit -->