<!--#begin edit -->

<script type="text/javascript">
<!--

function check_uncheck(obj,prefix)
	{
	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function field_lock(index)
	{
	var f = document.forms.edit_step;

	eval('var id_form_field = f.id_form_field_'+index+';');
	eval('var field_value = f.field_value_'+index+';');
	eval('var step = f.step_'+index+';');

	if (id_form_field.value == 0)
		{
		id_form_field.disabled = false;
		field_value.disabled = true;
		step.disabled = true;
		}
	else
		{
		id_form_field.disabled = false;
		field_value.disabled = false;
		step.disabled = false;
		}
	
	}


function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms.edit_step;
	var count = 0;
	var todelete = 0;

	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_step';
		f.submit();
		}
	}

function add_fields()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_fields.value);
	if (!isNaN(x))
		f.nb_fields.value = x + parseInt(f.fields_to_add.value);
	else
		f.nb_fields.value = parseInt(f.fields_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}


function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}


function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}


//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_step" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="nb_fields" value="{ arr[nb_fields] }" />
<input type="hidden" name="del_fields_index" value="-1" />
<input type="hidden" name="id_type" value="3" />

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">



	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td colspan="4"><input type="text" name="name" value="{ arr[name] }" maxlength="32" /></td>
	</tr>
	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td colspan="4"><textarea name="description">{ arr[description] }</textarea></td>
	</tr>


		<tr>
			<td align="right" colspan="1">{ t_default_step }</td>
			<td colspan="4">
			<select name="switch_id_step">
				<!--#in getnextstep -->
				<option value="{ step[id] }" { selected }>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
			</td>
		</tr>

		<tr>
			<td colspan="5">
				&nbsp;
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground" align="center">
			<td>{ t_id_form_field }</td>
			<td>{ t_field_value }</td>
			<td>{ t_step }</td>
			<td>{ t_disabled }</td>
			<td>{ t_del }</td>
		</tr>

		<!--#in getnextcases -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->
			<td>
				<select name="id_form_field_{ index }" onchange="field_lock({ index })">
					<option value="0"></option>
					<!--#in getnexteditform -->
						<optgroup label="{ form[name] }">
						<!--#in getnextfield -->
							<option value="{ field[id] }" { selected }>{ field[name] }</option>
						<!--#endin getnextfield -->
						</optgroup>
					<!--#endin getnexteditform -->
				</select>

				<input type="hidden" name="id_cases_{ index }" value="{ cases[id] }">
			</td>
			
			<td>
				<input type="text" name="field_value_{ index }" value="{ cases[field_value] }" size="10">
			</td>

			<td>
				<select name="step_{ index }" onchange="field_lock({ index })">
					<option value="0"></option>
					<!--#in getnextstep -->
					<option value="{ step[id] }" { selected }>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>

			<td>
				<!--#if cases[disabled] "== N" -->
				<input type="checkbox" name="disabled_{ index }" value="Y" />
				<!--#else cases[disabled] -->
				<input type="checkbox" name="disabled_{ index }" value="Y" checked="checked" />
				<!--#endif cases[disabled] -->
			</td>
			<td>
				<input type="checkbox" name="cases_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextcases -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="fields_to_add" value="1" size="3" maxlength="2" />&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_fields();" />
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('cases_del_fields',document.forms['edit_step'].nb_fields);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'cases_del_fields')" />
		</td>
	</tr>

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }" />&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()" />
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit -->