<!--#begin edit -->

<script type="text/javascript">
<!--

function check_uncheck(obj,prefix)
	{
	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}


function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms.edit_step;
	var count = 0;
	var todelete = 0;

	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_step';
		f.submit();
		}
	}


function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}

function add_approb()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_approb.value);
	if (!isNaN(x))
		f.nb_approb.value = x + parseInt(f.approb_to_add.value);
	else
		f.nb_approb.value = parseInt(f.approb_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}

function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}



function approb_lock(index)
	{
	var f = document.forms.edit_step;

	eval('var approb_id_form_field = f.approb_id_form_field_'+index+';');
	eval('var approb_field_value = f.approb_field_value_'+index+';');
	eval('var approb_id_sh = f.approb_id_sh_'+index+';');
	eval('var approb_id_form = f.approb_id_form_'+index+';');

	if (approb_id_form_field.value == 0)
		{
		approb_id_form_field.disabled = false;
		approb_field_value.disabled = true;
		approb_id_sh.disabled = true;
		approb_id_form.disabled = true;
		}
	else
		{
		approb_id_form_field.disabled = false;
		approb_field_value.disabled = false;
		approb_id_sh.disabled = false;
		approb_id_form.disabled = false;
		}
	}
	

//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_step" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="nb_approb" value="{ arr[nb_approb] }" />
<input type="hidden" name="del_approb_index" value="-1" />
<input type="hidden" name="id_type" value="4" />

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">



	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td colspan="4"><input type="text" name="name" value="{ arr[name] }" size="32" maxlength="32" /></td>
	</tr>
	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td colspan="4"><textarea name="description" cols="45">{ arr[description] }</textarea></td>
	</tr>


	<tr>
		<td align="right">{ t_id_approb_next_step }</td>
		<td colspan="4">
			<select name="id_approb_next_step">
				<!--#in getnextstep -->
				<option value="{ step[id] }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_id_approb_sh }</td>
		<td colspan="4">
			<select name="id_approb_sh">
				<!--#in getnextapprob -->
				<option value="{ approb[id] }" { selected }>{ approb[name] }</option>
				<!--#endin getnextapprob -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_id_approb_form }</td>
		<td colspan="4">
			<select name="id_approb_form">
				<!--#in getnextappform -->
				<option value="{ appform[id] }" { selected }>{ appform[name] }</option>
				<!--#endin getnextappform -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_approb_mail_subject }</td>
		<td colspan="4">
			<input type="text" name="approb_mail_subject" value="{ arr[approb_mail_subject] }" size="35" />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_valid_mail_subject }</td>
		<td colspan="4">
			<input type="text" name="valid_mail_subject" value="{ arr[valid_mail_subject] }" size="35" />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_refused_mail_subject }</td>
		<td colspan="4">
			<input type="text" name="refused_mail_subject" value="{ arr[refused_mail_subject] }" size="35" />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_approb_change }</td>
		<td colspan="4">
			<select name="approb_change">
				<option value="0" <!--#if arr[approb_change] "== 0" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_0 }</option>
				<option value="1" <!--#if arr[approb_change] "== 1" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_1 }</option>
				<option value="2" <!--#if arr[approb_change] "== 2" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_2 }</option>
			</select>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_approb_mail_applicant }</td>
		<td colspan="4">
			<input type="checkbox" name="approb_mail_applicant" value="1" <!--#if arr[approb_mail_applicant] --> checked="checked" <!--#endif arr[approb_mail_applicant] --> />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_approb_mail }</td>
		<td colspan="4">
			<input type="text" name="approb_mail" value="{ arr[approb_mail] }" size="35" />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_approb_mail_group }</td>
		<td colspan="4">
			<select name="approb_mail_group">
				<option value="0"></option>
			<!--#in getnextgroup -->
				<!--#if selected -->
				<option value="{ group[id] }" selected="selected">{ group[name] }</option>
				<!--#else selected -->
				<option value="{ group[id] }">{ group[name] }</option>
				<!--#endif selected -->
			<!--#endin getnextgroup -->
			</select>
		</td>
	</tr>

	<tr>
		<td colspan="5">
			&nbsp;
		</td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_id_form_field }</td>
		<td>{ t_field_value }</td>
		<td>{ t_id_sh }</td>
		<td>{ t_id_form }</td>
		<td>{ t_del }</td>

	</tr>

	<!--#in getnextfieldapprob -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td>
			<select name="approb_id_form_field_{ index }" onchange="approb_lock({ index })">
				<option value="0"></option>
				<!--#in getnexteditform -->
					<optgroup label="{ form[name] }">
					<!--#in getnextfield -->
						<option value="{ field[id] }" { selected }>{ field[name] }</option>
					<!--#endin getnextfield -->
					</optgroup>
				<!--#endin getnexteditform -->
			</select>

			<input type="hidden" name="approb_id_approb_{ index }" value="{ fieldapprob[id] }">
		</td>
		
		<td>
			<input type="text" name="approb_field_value_{ index }" value="{ fieldapprob[field_value] }" size="10">
		</td>

		<td>
			<select name="approb_id_sh_{ index }">
				<option value="0"></option>
				<!--#in getnextapprob -->
				<option value="{ approb[id] }" { selected }>{ approb[name] }</option>
				<!--#endin getnextapprob -->
			</select>
		</td>

		<td>
			<select name="approb_id_form_{ index }">
				<option value="0"></option>
				<!--#in getnextappform -->
				<option value="{ appform[id] }" { selected }>{ appform[name] }</option>
				<!--#endin getnextappform -->
			</select>
		</td>
		<td>
			<input type="checkbox" name="approb_del_fields[]" value="{ index }" />
		</td>
	</tr>

	<!--#endin getnextfieldapprob -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="approb_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_approb();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('approb_del_fields',document.forms['edit_step'].nb_approb);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'approb_del_fields')" />
		</td>
	</tr>

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }" />&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()" />
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit -->