<!--#begin edit -->
<script type="text/javascript">
<!--

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}


function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}



function add_menu()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_menu.value);
	if (!isNaN(x))
		f.nb_menu.value = x + parseInt(f.menu_to_add.value);
	else
		f.nb_menu.value = parseInt(f.menu_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}




function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms.edit_step;
	var count = 0;
	var todelete = 0;

	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_step';
		f.submit();
		}
	}







//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_step" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="id_type" value="6" />
<input type="hidden" name="nb_menu" value="{ arr[nb_menu] }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">
	<tr>
		<td colspan="5" align="center"><br />{ application_titre }<br /><br /></td>
	</tr>

	

	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td colspan="4"><input type="text" name="name" value="{ name }" maxlength="32" size="32"></td>
	</tr>

	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td colspan="4"><textarea name="description" cols="45">{ arr[description] }</textarea></td>
	</tr>
	
	
	
	

		

	<tr>
		<td colspan="5">
			&nbsp;
		</td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td >{ t_menu_name }</td>
		<td colspan="2">{ t_menu_id_menustep }</td>
		<td>{ t_menu_selmenu }</td>
		<td>{ t_del }</td>

	</tr>

	<!--#in getnextmenu -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->
			<td>
				<input type="text" name="menu_name_{ index }" value="{ menu[name] }" />
				<input type="hidden" name="menu_id_menu_{ index }" value="{ menu[id] }" />
			</td>
			<td colspan="2">
				<select name="menu_id_menustep_{ index }">
				<!--#in getnextmenustep -->
					<!--#if selected -->
					<option value="{ menustep[id] }" selected="selected">{ menustep[name] }</option>
					<!--#else selected -->
					<option value="{ menustep[id] }">{ menustep[name] }</option>
					<!--#endif selected -->
				<!--#endin getnextmenustep -->
				</select>
			</td>
			<td>
				<!--#if menu[selmenu] -->
				<input type="radio" name="menu_selmenu" value="{ index }" checked="checked" />
				<!--#else menu[selmenu] -->
				<input type="radio" name="menu_selmenu" value="{ index }" />
				<!--#endif menu[selmenu] -->
			</td>
			<td>
				<input type="checkbox" name="menu_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextmenu -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="menu_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_menu();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('menu_del_fields',document.forms['edit_step'].nb_menu);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'menu_del_fields')" />
		</td>
	</tr>
	
	
	
	
	
	
	

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }" />&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()" />
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit -->