<!--#begin edit -->
<script type="text/javascript">
<!--

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}


function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}

//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_step" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="id_type" value="8" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">
	<tr>
		<td colspan="2" align="center"><br />{ application_titre }<br /><br /></td>
	</tr>

	

	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td><input type="text" name="name" value="{ name }" maxlength="32" size="32"></td>
	</tr>

	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td><textarea name="description" cols="45">{ arr[description] }</textarea></td>
	</tr>


	<tr>
		<td align="right">{ t_id_register_next_step }</td>
		<td colspan="4">
			<select name="id_register_next_step">
				<!--#in getnextstep -->
				<option value="{ step[id] }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">{ t_id_error_register_next_step }</td>
		<td colspan="4">
			<select name="id_error_register_next_step">
				<!--#in getnextstep -->
				<option value="{ step[id] }" <!--#if errorselected --> selected="selected" <!--#endif errorselected -->>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="5">
			<label for="form_register_delete_invalid">{ t_register_delete_invalid }</label> : 
			<input type="checkbox" id="form_register_delete_invalid" name="register_delete_invalid" value="1" <!--#if arr[register_delete_invalid] --> checked="checked" <!--#endif arr[register_delete_invalid] --> />
		</td>
	</tr>


	<tr>
		<td colspan="2" align="center"><br /><input type="submit" value="{ t_record }" />&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()" />
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit -->