

<h3>Applications :</h3>
<ul>
<OCAddon name="forms" action="applications">
	<li>
		<a href="<OVApplicationUrl>"><OVApplicationName></a><br /> 
		<OVApplicationDescription>
	</li>
</OCAddon>
</ul>







<table border="1">
	<OCAddon name="forms" action="simplelist" form_name="Liste Infos Partenaires" limit="4" pos="4">
	<tr>
		<td><OVNom></td>
		<td><OVPrenom></td>
		<td><OVmail></td>
	</tr>
	</OCAddon>
</table>

<br />

<table border="1">
	<OCAddon name="forms" action="listform" form_id="102">
	<tr>
		<td><OVValue_1675></td>
		<td><OVDownload_1676></td>
	</tr>
	</OCAddon>
</table>


<br />

<table border="1">
	<OCAddon name="forms" action="viewform" form_name="AnnuSites-Visualisation" form_row="1">
	<tr>
		<td><OVFieldId></td>
		<td><OVName></td>
		<td><OVValue></td>
	</tr>
	</OCAddon>
</table>