.FORMS_tooltip {
	position:absolute;
	visibility:hidden;
	background:#FFFFE1;
	border:#000 1px solid;
	padding:.2em .5em; 
	width:200px;
	}
	
	
.form_workspaces {

	border:#000 1px solid;
	margin:.5em;
	padding:.2em;
	background:#fff;
}

.form_workspaces table {
	border-collapse:collapse;
	
}

.form_workspaces table td {
	padding:0;
	margin:0;
	vertical-align:top;
	
}

.form_workspaces .form_ws_menu {
	width:150px;
	border-right:#000 1px solid;
}

.form_workspaces .current_ws {
	padding:1em;
}

.form_workspaces .current_ws .edit,
.form_workspaces .current_ws .export,
.form_workspaces .current_ws .assign {
	padding:.5em;
}

.form_workspaces .current_ws .edit {
	padding-left:20px;
	background:transparent url(../../../skins/ovidentia/images/addons/forms/button_properties.png) no-repeat 0 50%;
}

.form_workspaces .current_ws .export {
	padding-left:20px;
	background:transparent url(../../../skins/ovidentia/images/addons/forms/export.gif) no-repeat 0 50%;
}

.form_workspaces .current_ws .assign {
	padding-left:17px;
	background:transparent url(../../../skins/ovidentia/images/addons/forms/button_filing.gif) no-repeat 0 50%;
}

.form_workspaces .form_ws_menu ul {
	margin:0;
	padding:0;
	
}

.form_workspaces  .form_ws_menu li {
	display:inline;
	list-style-type:none;
}

.form_workspaces  .form_ws_menu li a {
	display:block;
	padding:.2em .5em;
	text-decoration:none;
	color:#000;
	background:#eee;
	margin-bottom:.2em;
}

.form_workspaces .form_ws_menu li.selected a {
	color:#fff;
	background:#333;
}