

<!--#begin options -->
<script type="text/javascript">
<!--

function submitCtr()
	{
	var f = document.forms.options;
	return true;
	}



//-->
</script>
<form name="options" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="options">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="action" value="options">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="2" cellspacing="0" class="BabLoginMenuBackground">
		<tr>
			<td colspan="2" align="center">&nbsp;
				
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_section_title }
			</td>
			<td>
				<input type="text" name="section_title" value="{ v_section_title }">
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_recipients_by_mail }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=options,recipients_by_mail" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
			</td>
			<td>
				<input type="text" name="recipients_by_mail" value="{ v_recipients_by_mail }">
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_date_format }
			</td>
			<td>
				<select name="date_format">
				<!--#if v_date_format "== en" -->
					<option value="en" selected>MM/DD/YYYY HH:MM:SS</option>
					<option value="fr">DD/MM/YYYY HH:MM:SS</option>
				<!--#else v_date_format -->
					<option value="en">MM/DD/YYYY HH:MM:SS</option>
					<option value="fr" selected>DD/MM/YYYY HH:MM:SS</option>
				<!--#endif v_date_format -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_transaction_api }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=options,transaction_api" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
			</td>
			<td>
				<select name="transaction_api">
					<!--#in getnexttrans -->
					<option value="{ trans[id] }" { selected }>{ trans[name] }</option>
					<!--#endin getnexttrans -->
				</select>
			</td>
		</tr>

				<tr>
			<td align="right">
				{ t_https_url }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=options,https_url" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
			</td>
			<td>
				<input type="text" name="https_url" value="{ v_https_url }">
			</td>
		</tr>


				
		<tr>
			<td colspan="2" align="center">
				<br /><input type="submit" value="{ t_submit }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end options -->


<!--#begin translist -->
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_description }
		</td>
		<td>
			{ t_login_varname }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			<a href="{ babAddonUrl }admin&idx=transedit&id_trans={ arr[id] }">{ arr[name] }</a>
		</td>
		<td>
			{ arr[description] }
		</td>
		<td>
			{ arr[login] } 
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end translist -->


<!--#begin transedit -->
<script type="text/javascript">
<!--

function submitCtr()
	{
	var f = document.forms['transedit'];
	return true;
	}

function trans_delete()
	{
	var f = document.forms['transedit'];
	f.action.value = 'transdelete';
	f.submit();
	}

//-->
</script>
<form name="transedit" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="translist">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="action" value="transedit">
<input type="hidden" name="id_trans" value="{ arr[id] }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="2" cellspacing="0" class="BabLoginMenuBackground">

		<tr>
			<td align="right">
				{ t_name }
			</td>
			<td>
				<input type="text" name="name" value="{ arr[name] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_description }
			</td>
			<td>
				<input type="text" name="description" value="{ arr[description] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_login }
			</td>
			<td>
				<input type="text" name="login" value="{ arr[login] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_password }
			</td>
			<td>
				<input type="password" name="password" value="{ arr[password] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_tran_key }
			</td>
			<td>
				<input type="text" name="tran_key" value="{ arr[tran_key] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_url }
			</td>
			<td>
				<input type="text" name="url" value="{ arr[url] }" size="50" />
			</td>
		</tr>


		<tr>
			<td align="right">
				{ t_login_varname }
			</td>
			<td>
				<input type="text" name="login_varname" value="{ arr[login_varname] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_password_varname }
			</td>
			<td>
				<input type="text" name="password_varname" value="{ arr[password_varname] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_tran_key_varname }
			</td>
			<td>
				<input type="text" name="tran_key_varname" value="{ arr[tran_key_varname] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_amount_varname }
			</td>
			<td>
				<input type="text" name="amount_varname" value="{ arr[amount_varname] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_additional_parameters }
			</td>
			<td>
				<input type="text" name="additional_parameters" value="{ arr[additional_parameters] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_pos_transaction_id }
			</td>
			<td>
				<input type="text" name="pos_transaction_id" value="{ arr[pos_transaction_id] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_pos_response_code }
			</td>
			<td>
				<input type="text" name="pos_response_code" value="{ arr[pos_response_code] }" size="50" />
			</td>
		</tr>

		<tr>
			<td align="right">
				{ t_pos_response_text }
			</td>
			<td>
				<input type="text" name="pos_response_text" value="{ arr[pos_response_text] }" size="50" />
			</td>
		</tr>

		

		<tr>
			<td colspan="2" align="center">
				<br /><input type="submit" value="{ t_submit }" />&nbsp;<input type="button" value="{ t_delete }" onclick="trans_delete()" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
<!--#end transedit -->

<!--#begin rightslist -->
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_access }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			<!--#if arr[id] "> 2" -->
			<a href="{ babAddonUrl }admin&idx=rights_edit&id_right={ arr[id] }">{ arr[name] }</a>
			<!--#else arr[id] -->
			{ arr[name] }
			<!--#endif arr[id] -->
		</td>

		<td>
			<a href="{ babAddonUrl }admin&idx=rights_acl&id_right={ arr[id] }" title="{ t_access }"><img src="{ babSkinPath }images/addons/forms/button_lock.gif" alt="{ t_access }" border="0"></a>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end rightslist -->


<!--#begin rightsedit -->
<script type="text/javascript">
<!--



function r_delete()
	{
	var f = document.forms['rightsedit'];
	f.action.value = 'rights_delete';
	f.submit();
	}

//-->
</script>
<form name="rightsedit" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="rights_list">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="action" value="rights_edit">
<input type="hidden" name="id_right" value="{ arr[id] }">

<table border="0" width="65%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="2" cellspacing="0" class="BabLoginMenuBackground">

		<tr>
			<td align="right">
				{ t_name }
			</td>
			<td>
				<input type="text" name="name" value="{ arr[name] }" size="50" />
			</td>
		</tr>

		

		<tr>
			<td colspan="2" align="center">
				<br /><input type="submit" value="{ t_submit }" />&nbsp;<input type="button" value="{ t_delete }" onclick="r_delete()" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
<!--#end rightsedit -->