<!--#begin choosetables -->

<form name="edit" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="edit">
<input type="hidden" name="tg" value="{ babAddonTarget }/appcreate">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">


		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_name }</td>
			<td>{ t_use_in_app }</td>
		</tr>
		<!--#in getnexttable -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td width="80%">
				{ name }
			</td>
			<td>
				<input type="checkbox" name="id_table[]" value="{ id }" />
			</td>
		</tr>
		<!--#endin getnexttable -->
		<tr>
			<td colspan="2">
				<br />
				<p align="center"><input type="submit" value="{ t_next }" /></p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end choosetables -->




<!--#begin edit -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	
	return true;
	}


//-->
</script>
<form name="edit" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="edit">
<input type="hidden" name="tg" value="{ babAddonTarget }/appcreate">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
		
		<!--#in getnexttable -->
		
		<tr>
			<td colspan="3"><br /><h3>{ t_tablename }</h3> <input type="hidden" name="id_table[]" value="{ id_table }" />
				<blockquote>
				<p><label><input type="checkbox" name="option[{ id_table }][edit]" value="1" checked="checked" /> { t_create_edit }</label></p>
				<p><label><input type="checkbox" name="option[{ id_table }][visualisation]" value="1" checked="checked" /> { t_create_visualisation }</label></p>
				</blockquote>
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_name }</td>
			<td>{ t_description }</td>
			<td>{ t_use_in_list }</td>
		</tr>
		<!--#in getnextfield -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				{ field[name] }
			</td>
			<td>
				<input type="text" name="description[{ id_table }][{ field[id] }]" value="{ field[description] }" size="50" />
			</td>
			<td>
				<input type="checkbox" name="use_in_list[{ id_table }][]" value="{ field[id] }" checked="checked" />
			</td>
		</tr>
		<!--#endin getnextfield -->
		
		<!--#endin getnexttable -->
		<tr>
			<td colspan="3">
				<br />
				
				<p><label><input type="checkbox" name="option[application]" value="1" checked="checked" /> { t_create_app }</label></p>
				
				<p align="center"><input type="submit" value="{ t_record }" /></p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end edit -->