<!--#begin list_applications -->
<script type="text/javascript">
<!--
function copyurl(url)
	{
	var copywin = window.open('','copy','status=no,menubar=no,personalbar=no,width=300,height=50,top=100,left=100,scrollbars=yes,resizable=yes');
	copywin.document.write('<div align="center"><input type="text" style="width:100%;" id="copy" value="'+url+'"><br /><br /><input type="button" value="{ t_close }" onclick="window.close()"></div>');

	var copy = copywin.document.getElementById('copy');
	copy.focus();
	copy.select();
	if (typeof copy.createTextRange != 'undefined')
		{
		therange=copy.createTextRange();
		therange.execCommand("Copy");
		copywin.close();
		}
	}
-->
</script>
<!--
<p align="left">
	<a href="{ babAddonUrl }main&idx=import">{ t_import }</a>
</p>
-->
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td align="left">
			{ t_name }
		</td>
		<td align="left">
			{ t_description }
		</td>
		<td align="left">
			{ t_list_steps }
		</td>
		<td align="left">
			{ t_links }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&idx=help&help_id=appli,links',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			{ t_launch }
		</td>
		<td>
			{ t_copyurl }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&idx=help&help_id=appli,copyurl',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<!--<td>{ t_export }</td>-->
		<td>
			{ t_acces }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr align="center" class="BabForumBackground1">
	<!--#else altbg -->
	<tr align="center" class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td align="left">
			<a href="{ edit_url }">{ arr[name] }</a>
		</td>
		<td align="left">
			{ arr[description] }
		</td>

		<td align="left">
			<a href="{ list_steps_url }"><img src="{ babSkinPath }images/addons/forms/button_browse.png" alt="{ t_list_steps }" border="0"></a>&nbsp;&nbsp;{ arr[nb_steps] }
		</td>
		<td align="left">
			<!--#if arr[nb_steps] -->
			<!--#if count_links "> 0" -->
			<a href="{ links_url }"><img src="{ babSkinPath }images/addons/forms/links.gif" alt="{ t_links }" border="0"></a>&nbsp;&nbsp;{ arr[nb_links] }
			<!--#endif count_links -->
			<!--#else arr[nb_steps] -->
			&nbsp;
			<!--#endif arr[nb_steps] -->
		</td>
		<td>
			<!--#if app_rights -->
			<a href="{ app_url }"><img src="{ babSkinPath }images/addons/forms/launch.gif" alt="{ t_launch }" border="0"></a>
			<!--#else app_rights -->
			&nbsp;
			<!--#endif app_rights -->
		</td>
		<td>
			<a href="javascript:copyurl('{ app_url }')"><img src="{ babSkinPath }images/addons/forms/copy.gif" alt="{ t_copyurl }" border="0"></a>
		</td>
		<!--
		<td>
			<a href="{ export_url }"><img src="{ babSkinPath }images/addons/forms/export.gif" alt="{ t_export }" border="0"></a>
		</td>
		-->
		<td>
			<a href="{ app_acces_url }"><img src="{ babSkinPath }images/addons/forms/button_lock.gif" border="0" /></a>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end list_applications -->

<!--#begin edit_application -->
<script type="text/javascript">
<!--
function app_delete()
	{
	//{}
	if ( confirm('{ js_delete }') )
		{
		var f = document.forms['edit_formats'];
		f.action.value='delete_application';
		f.submit();
		}
	}
-->
</script>
<form name="edit_formats" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_applications">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_application">
<input type="hidden" name="id_app" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td align="right">{ t_name } :</td>
		<td><input type="text" name="name" value="{ arr[name] }" size="35"></td>
	</tr>
	<tr>
		<td align="right" valign="top">{ t_description } :</td>
		<td><textarea name="description">{ arr[description] }</textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top">{ t_app_grp } :</td>
		<td>
			<!--#in getnextag -->
			<!--#if checked -->
			<input type="checkbox" name="app_grp[]" value="{ app_grp[id] }" checked="checked" />
			<!--#else checked -->
			<input type="checkbox" name="app_grp[]" value="{ app_grp[id] }" />
			<!--#endif checked -->
			{ app_grp[name] } <br />
			<!--#endin getnextag -->
		</td>
	</tr>
	<tr>
		<td align="right">{ t_https }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&idx=help&help_id=appli,https',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td>
			<select name="https">
			<!--#if arr[https] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
			<!--#else arr[https] -->
				<option value="N" selected>{ t_no }</option>
				<option value="Y">{ t_yes }</option>
			<!--#endif arr[https] -->
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="{ t_submit }">
			<!--#if t_delete -->
			<input type="button" value="{ t_delete }" onclick="app_delete()">
			<!--#endif t_delete -->
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_application -->

<!--#begin list_steps -->
<script type="text/javascript">
<!--

-->
</script>
<form name="list_step" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="list_steps">
<input type="hidden" name="id_app" value="{ id }">
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_type }
		</td>
		<td>
			{ t_description }
		</td>
		<td>
			{ t_form }
		</td>
		<td>
			{ t_edit }
		</td>
		<td>
			{ t_id_first_step }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&idx=help&help_id=appli,first_step',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ arr[type] }
		</td>
		<td>
			{ arr[description] }
		</td>
		<td>
			<!--#if arr[form_type] -->
			<img src="{ babSkinPath }images/addons/forms/formtype_{ arr[form_type] }.gif" alt="{ arr[form] }" />
			<!--#endif arr[form_type] -->
			{ arr[form] }
		</td>
		<td>
			<a href="{ edit_url }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0"></a>
		</td>
		<td>
			<input type="radio" name="id_first_step" value="{ arr[id] }" { arr[first_step] }>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<div align="center"><br /><input type="submit" value="{ t_submit }"></div>
</form>
<!--#end list_steps -->

<!--#begin edit_step -->
<script type="text/javascript">
<!--

function check_uncheck(obj,prefix)
	{
	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function field_lock(index)
	{
	var f = document.forms.edit_step;

	eval('var id_form_field = f.id_form_field_'+index+';');
	eval('var field_value = f.field_value_'+index+';');
	eval('var step = f.step_'+index+';');

	if (id_form_field.value == 0)
		{
		id_form_field.disabled = false;
		field_value.disabled = true;
		step.disabled = true;
		}
	else
		{
		id_form_field.disabled = false;
		field_value.disabled = false;
		step.disabled = false;
		}
	
	}

function approb_lock(index)
	{
	var f = document.forms.edit_step;

	eval('var approb_id_form_field = f.approb_id_form_field_'+index+';');
	eval('var approb_field_value = f.approb_field_value_'+index+';');
	eval('var approb_id_sh = f.approb_id_sh_'+index+';');
	eval('var approb_id_form = f.approb_id_form_'+index+';');

	if (approb_id_form_field.value == 0)
		{
		approb_id_form_field.disabled = false;
		approb_field_value.disabled = true;
		approb_id_sh.disabled = true;
		approb_id_form.disabled = true;
		}
	else
		{
		approb_id_form_field.disabled = false;
		approb_field_value.disabled = false;
		approb_id_sh.disabled = false;
		approb_id_form.disabled = false;
		}
	}

function init_each_field()
	{
	var f = document.forms.edit_step;
	var prefix = 'id_cases_';
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			var index = parseInt(objCtrl.name.substring(prefix.length,objCtrl.name.length));
			field_lock(index);
			}
		}
	}

function add_menu()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_menu.value);
	if (!isNaN(x))
		f.nb_menu.value = x + parseInt(f.menu_to_add.value);
	else
		f.nb_menu.value = parseInt(f.menu_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}

function add_approb()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_approb.value);
	if (!isNaN(x))
		f.nb_approb.value = x + parseInt(f.approb_to_add.value);
	else
		f.nb_approb.value = parseInt(f.approb_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}

function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms.edit_step;
	var count = 0;
	var todelete = 0;

	var f = document.forms['edit_step'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_step';
		f.submit();
		}
	}

function add_fields()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_fields.value);
	if (!isNaN(x))
		f.nb_fields.value = x + parseInt(f.fields_to_add.value);
	else
		f.nb_fields.value = parseInt(f.fields_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}


function add_btn()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_step;
	var x = parseInt(f.nb_btn.value);
	if (!isNaN(x))
		f.nb_btn.value = x + parseInt(f.btn_to_add.value);
	else
		f.nb_btn.value = parseInt(f.btn_to_add.value);
	f.idx.value = 'edit_step';
	f.submit();
	}


function submitCtr()
	{
	var f = document.forms.edit_step;
	removespaces(f.name)
	if (f.name.value == '') 
		{
		//}
		alert('{ js_title }');
		return false;
		}
	else return true;
	}

function edit_message_record(index,text)
	{
	var f = document.forms.edit_step;
	eval('var message = f.message_'+index+';');
	message.value = unescape(text);
	}

function delete_form()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_step;
		f.action.value = 'delete_step';
		f.submit();
		}
	}

function type_switch()
	{
	var f = document.forms.edit_step;
	<!--#in getnexttype -->
	if (document.getElementById('step_type_{ type[id] }'))
		document.getElementById('step_type_{ type[id] }').style.display = 'none';
	<!--#endin getnexttype -->
	if (document.getElementById('step_type_'+f.id_type.value))
		document.getElementById('step_type_'+f.id_type.value).style.display = '';
	}

//-->
</script>
<form name="edit_step" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_steps">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_step">
<input type="hidden" name="id_app" value="{ id_app }">
<input type="hidden" name="id_step" value="{ id_step }">
<input type="hidden" name="nb_menu" value="{ arr[nb_menu] }">
<input type="hidden" name="nb_approb" value="{ arr[nb_approb] }">
<input type="hidden" name="nb_fields" value="{ arr[nb_fields] }">
<input type="hidden" name="nb_btn" value="{ arr[nb_btn] }">
<input type="hidden" name="del_menu_index" value="-1">
<input type="hidden" name="del_approb_index" value="-1">
<input type="hidden" name="del_fields_index" value="-1">
<input type="hidden" name="del_btn_index" value="-1">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" class="BabLoginMenuBackground">
	<tr>
		<td colspan="5" align="center"><br />{ arr[application_titre] }<br /><br /></td>
	</tr>

	<tr>
		<td align="right" colspan="1">{ t_type }</td>
		<td colspan="4">
		<select name="id_type" onchange="type_switch()">
		<!--#in getnexttype -->
			<option value="{ type[id] }" { selected }>{ type[description] }</option>
		<!--#endin getnexttype -->
		</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="1">{ t_name }</td>
		<td colspan="4"><input type="text" name="name" value="{ arr[name] }" maxlength="32"></td>
	</tr>
	<tr>
		<td align="right" colspan="1">{ t_description }</td>
		<td colspan="4"><textarea name="description">{ arr[description] }</textarea></td>
	</tr>
	
	<tbody id="step_type_9">
		<tr>
			<td align="right">{ t_id_import_user_next_step }</td>
			<td colspan="4">
				<select name="id_import_user_next_step">
					<!--#in getnextstep -->
					<option value="{ step[id] }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>
		</tr>
	</tbody>
	
	<tbody id="step_type_8">
		<tr>
			<td align="right">{ t_id_register_next_step }</td>
			<td colspan="4">
				<select name="id_register_next_step">
					<!--#in getnextstep -->
					<option value="{ step[id] }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">{ t_id_error_register_next_step }</td>
			<td colspan="4">
				<select name="id_error_register_next_step">
					<!--#in getnextstep -->
					<option value="{ step[id] }" <!--#if errorselected --> selected="selected" <!--#endif errorselected -->>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="5">
				<label for="form_register_delete_invalid">{ t_register_delete_invalid }</label> : 
				<input type="checkbox" id="form_register_delete_invalid" name="register_delete_invalid" value="1" <!--#if arr[register_delete_invalid] --> checked="checked" <!--#endif arr[register_delete_invalid] --> />
			</td>
		</tr>
	</tbody>

	<tbody id="step_type_7">
		<tr>
			<td align="right">{ t_id_validate_next_step }</td>
			<td colspan="4">
				<select name="id_validate_next_step">
					<!--#in getnextstep -->
					<option value="{ step[id] }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>
		</tr>
	</tbody>

	<tbody id="step_type_6">
		
	
		<tr>
			<td colspan="5">
				&nbsp;
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground" align="center">
			<td >{ t_menu_name }</td>
			<td colspan="2">{ t_menu_id_menustep }</td>
			<td>{ t_menu_selmenu }</td>
			<td>{ t_del }</td>

		</tr>

	<!--#in getnextmenu -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->
			<td>
				<input type="text" name="menu_name_{ index }" value="{ menu[name] }" />
				<input type="hidden" name="menu_id_menu_{ index }" value="{ menu[id] }" />
			</td>
			<td colspan="2">
				<select name="menu_id_menustep_{ index }">
				<!--#in getnextmenustep -->
					<!--#if selected -->
					<option value="{ menustep[id] }" selected="selected">{ menustep[name] }</option>
					<!--#else selected -->
					<option value="{ menustep[id] }">{ menustep[name] }</option>
					<!--#endif selected -->
				<!--#endin getnextmenustep -->
				</select>
			</td>
			<td>
				<!--#if menu[selmenu] -->
				<input type="radio" name="menu_selmenu" value="{ index }" checked="checked" />
				<!--#else menu[selmenu] -->
				<input type="radio" name="menu_selmenu" value="{ index }" />
				<!--#endif menu[selmenu] -->
			</td>
			<td>
				<input type="checkbox" name="menu_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextmenu -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="menu_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_menu();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('menu_del_fields',document.forms['edit_step'].nb_menu);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'menu_del_fields')" />
		</td>
	</tr>
	</tbody>

	<tbody id="step_type_4">
		<tr>
			<td align="right">{ t_id_approb_next_step }</td>
			<td colspan="4">
				<select name="id_approb_next_step">
					<!--#in getnextstep -->
					<option value="{ step[id] }" { selected }>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_id_approb_sh }</td>
			<td colspan="4">
				<select name="id_approb_sh">
					<!--#in getnextapprob -->
					<option value="{ approb[id] }" { selected }>{ approb[name] }</option>
					<!--#endin getnextapprob -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_id_approb_form }</td>
			<td colspan="4">
				<select name="id_approb_form">
					<!--#in getnextappform -->
					<option value="{ appform[id] }" { selected }>{ appform[name] }</option>
					<!--#endin getnextappform -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_approb_mail_subject }</td>
			<td colspan="4">
				<input type="text" name="approb_mail_subject" value="{ arr[approb_mail_subject] }" size="35" />
			</td>
		</tr>

		<tr>
			<td align="right">{ t_valid_mail_subject }</td>
			<td colspan="4">
				<input type="text" name="valid_mail_subject" value="{ arr[valid_mail_subject] }" size="35" />
			</td>
		</tr>

		<tr>
			<td align="right">{ t_refused_mail_subject }</td>
			<td colspan="4">
				<input type="text" name="refused_mail_subject" value="{ arr[refused_mail_subject] }" size="35" />
			</td>
		</tr>

		<tr>
			<td align="right">{ t_approb_change }</td>
			<td colspan="4">
				<select name="approb_change">
					<option value="0" <!--#if arr[approb_change] "== 0" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_0 }</option>
					<option value="1" <!--#if arr[approb_change] "== 1" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_1 }</option>
					<option value="2" <!--#if arr[approb_change] "== 2" --> selected="selected"<!--#endif arr[approb_change] --> /> { t_approb_change_2 }</option>
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_approb_mail_applicant }</td>
			<td colspan="4">
				<input type="checkbox" name="approb_mail_applicant" value="1" <!--#if arr[approb_mail_applicant] --> checked="checked" <!--#endif arr[approb_mail_applicant] --> />
			</td>
		</tr>

		<tr>
			<td align="right">{ t_approb_mail }</td>
			<td colspan="4">
				<input type="text" name="approb_mail" value="{ arr[approb_mail] }" size="35" />
			</td>
		</tr>

		<tr>
			<td align="right">{ t_approb_mail_group }</td>
			<td colspan="4">
				<select name="approb_mail_group">
					<option value="0"></option>
				<!--#in getnextgroup -->
					<!--#if selected -->
					<option value="{ group[id] }" selected="selected">{ group[name] }</option>
					<!--#else selected -->
					<option value="{ group[id] }">{ group[name] }</option>
					<!--#endif selected -->
				<!--#endin getnextgroup -->
				</select>
			</td>
		</tr>
	
		<tr>
			<td colspan="5">
				&nbsp;
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground" align="center">
			<td>{ t_id_form_field }</td>
			<td>{ t_field_value }</td>
			<td>{ t_id_sh }</td>
			<td>{ t_id_form }</td>
			<td>{ t_del }</td>

		</tr>

		<!--#in getnextfieldapprob -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->
			<td>
				<select name="approb_id_form_field_{ index }" onchange="approb_lock({ index })">
					<option value="0"></option>
					<!--#in getnexteditform -->
						<optgroup label="{ form[name] }">
						<!--#in getnextfield -->
							<option value="{ field[id] }" { selected }>{ field[name] }</option>
						<!--#endin getnextfield -->
						</optgroup>
					<!--#endin getnexteditform -->
				</select>

				<input type="hidden" name="approb_id_approb_{ index }" value="{ fieldapprob[id] }">
			</td>
			
			<td>
				<input type="text" name="approb_field_value_{ index }" value="{ fieldapprob[field_value] }" size="10">
			</td>

			<td>
				<select name="approb_id_sh_{ index }">
					<option value="0"></option>
					<!--#in getnextapprob -->
					<option value="{ approb[id] }" { selected }>{ approb[name] }</option>
					<!--#endin getnextapprob -->
				</select>
			</td>

			<td>
				<select name="approb_id_form_{ index }">
					<option value="0"></option>
					<!--#in getnextappform -->
					<option value="{ appform[id] }" { selected }>{ appform[name] }</option>
					<!--#endin getnextappform -->
				</select>
			</td>
			<td>
				<input type="checkbox" name="approb_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextfieldapprob -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="approb_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_approb();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('approb_del_fields',document.forms['edit_step'].nb_approb);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'approb_del_fields')" />
		</td>
	</tr>
	</tbody>

	
	<tbody id="step_type_1">
	
		

		<tr>
			<td align="right" colspan="1">{ t_id_form }</td>
			<td colspan="4">
				<select name="id_form">
					<option value="0"></option>
				<!--#in getnextform -->
					<option value="{ form[id] }" { selected }>{ form[name] }</option>
				<!--#endin getnextform -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right" colspan="1">{ t_ovml_file }</td>
			<td colspan="4">
				<input type="text" name="ovml_file" value="{ arr[ovml_file] }" />
			</td>
		</tr>

		<tr>
			<td colspan="5">
				&nbsp;
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground" align="center">
			<td>{ t_btn_name }</td>
			<td colspan="2">{ t_btn_type }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=appli,step,button,type" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
			</td>
			<td>{ t_step }</td>
			<td>{ t_del }</td>
		</tr>

		<!--#in getnextbtn -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->

			<td>
				<input type="hidden" name="btn_id_btn_{ index }" value="{ btn[id_btn] }">
				<input type="text" name="btn_name_{ index }" value="{ btn[btn_name] }" maxlength="64">
			</td>

			<td colspan="2">
				<select name="btn_id_type_{ index }">
					<option value="0"></option>
					<!--#in getnextbtntype -->
					<option value="{ btn_type[id] }" { selected }>{ btn_type[description] }</option>
					<!--#endin getnextbtntype -->
				</select>
			</td>

			<td>
				<select name="btn_id_goto_step_{ index }">
					<option value="0"></option>
					<!--#in getnextstep -->
					<option value="{ step[id] }" { selected }>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>

			<td>
				<input type="checkbox" name="btn_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextbtn -->

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="btn_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_btn }&nbsp;<input type="button" value="{ t_ok }" onclick="add_btn();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('btn_del_fields',document.forms['edit_step'].nb_btn);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'btn_del_fields')" />
		</td>
	</tr>

	</tbody>
	<tbody id="step_type_3">

		<tr>
			<td align="right" colspan="1">{ t_default_step }</td>
			<td colspan="4">
			<select name="switch_id_step">
				<!--#in getnextstep -->
				<option value="{ step[id] }" { selected }>{ step[name] }</option>
				<!--#endin getnextstep -->
			</select>
			</td>
		</tr>

		<tr>
			<td colspan="5">
				&nbsp;
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground" align="center">
			<td>{ t_id_form_field }</td>
			<td>{ t_field_value }</td>
			<td>{ t_step }</td>
			<td>{ t_disabled }</td>
			<td>{ t_del }</td>

		</tr>

		<!--#in getnextcases -->

		<!--#if altbg -->
		<tr class="BabForumBackground1" align="center">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground" align="center">
		<!--#endif altbg -->
			<td>
				<select name="id_form_field_{ index }" onchange="field_lock({ index })">
					<option value="0"></option>
					<!--#in getnexteditform -->
						<optgroup label="{ form[name] }">
						<!--#in getnextfield -->
							<option value="{ field[id] }" { selected }>{ field[name] }</option>
						<!--#endin getnextfield -->
						</optgroup>
					<!--#endin getnexteditform -->
				</select>

				<input type="hidden" name="id_cases_{ index }" value="{ cases[id] }">
			</td>
			
			<td>
				<input type="text" name="field_value_{ index }" value="{ cases[field_value] }" size="10">
			</td>

			<td>
				<select name="step_{ index }" onchange="field_lock({ index })">
					<option value="0"></option>
					<!--#in getnextstep -->
					<option value="{ step[id] }" { selected }>{ step[name] }</option>
					<!--#endin getnextstep -->
				</select>
			</td>

			<td>
				<!--#if cases[disabled] "== N" -->
				<input type="checkbox" name="disabled_{ index }" value="Y">
				<!--#else cases[disabled] -->
				<input type="checkbox" name="disabled_{ index }" value="Y" checked>
				<!--#endif cases[disabled] -->
			</td>
			<td>
				<input type="checkbox" name="cases_del_fields[]" value="{ index }" />
			</td>
		</tr>

	<!--#endin getnextcases -->
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td colspan="4" align="right">
			{ t_add }&nbsp;<input type="text" name="fields_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_fields();">
			&nbsp;
			<input type="button" value="{ t_del }" onclick="del_list('cases_del_fields',document.forms['edit_step'].nb_fields);" />
		</td>
		<td>
			<input type="checkbox" onclick="check_uncheck(this,'cases_del_fields')" />
		</td>
	</tr>
	</tbody>

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }">&nbsp;
		<!--#if id_step -->
		<input type="button" value="{ t_delete }" onclick="delete_form()">
		<!--#endif id_step --><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
init_each_field();
type_switch();
//-->
</script>
<!--#end edit_step -->





<!--#begin link_list -->
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="4" cellspacing="0">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>
				{ t_form_col }
			</td>
			<td>
				{ t_app_step }
			</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				<a href="{ babAddonUrl }main&amp;idx=link_edit&amp;id_app={ id_app }&amp;id_link={ arr[id] }">{ arr[name] }</a>
			</td>
			<td>
				{ arr[app_step] }
			</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end link_list -->


<!--#begin link_edit -->
<script type="text/javascript">
<!--


function changeFormCol(obj, selv)
	{
	if (typeof selv == 'undefined')
		var selv = 0;
	var intCols = new Array();
	<!--#in getnextlink -->
	intCols[{ link[id] }] = new Array();
	intCols[{ link[id] }][0] = '{ t_index }';
	<!--#in getnextintcol -->
	intCols[{ link[id] }][{ intcol[id] }] = '{ intcol[name] }';
	<!--#endin getnextintcol -->
	<!--#endin getnextlink -->


	for(object = 0; object < 2; object++)
		{
		 
		if (object == 0)
			{
			sel = document.forms['edit_link'].elements['id_index'];
			<!--#if arr[id] -->
			selv = { arr[id_index] };
			<!--#else arr[id] -->
			selv = 0;
			<!--#endif arr[id] -->
			}
		else
			{
			sel = document.forms['edit_link'].elements['id_if_field'];
			<!--#if arr[id] -->
			selv = { arr[id_if_field] };
			<!--#else arr[id] -->
			selv = 0;
			<!--#endif arr[id] -->
			for (var i in intCols) {
				intCols[i][0] = '';
				}
			}

		for(i=0; i < sel.options.length; i++)
			{
			sel.options[i] = null;
			}

		var opt = new Array();
		var j = 0;
		for (var i in intCols[obj.value])
			{
			sel.options[j] = new Option(intCols[obj.value][i],i);
			j++;
			}

		sel.value = selv;
		}
	}

function link_delete()
{
	var f = document.forms['edit_link'];
	f.action.value = 'link_delete';
	f.submit();
}

//-->
</script>
<form method="post" name="edit_link" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="link_list" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="link_edit" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_link" value="{ id_link }" />


<table border="0" width="80%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="6" cellspacing="0">
	
	<tr>
		<td align="right">
			{ t_form_col }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=appli,links,form" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="link" onchange="changeFormCol(this)">
			<!--#in getnextlink -->
				<option value="{ link[id] }"  <!--#if selected --> selected="selected"<!--#endif selected -->>{ link[name] }</option>
			<!--#endin getnextlink -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right">
			{ t_id_index }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=appli,links,index" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="id_index">
			</select>
		</td>
	</tr>
	
	<tr>
		<td align="right">
			{ t_app_step }
		</td>
		<td>
			<select name="target">
			<!--#in getnexttarget -->
				<option value="{ target[id] }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ target[name] }</option>
			<!--#endin getnexttarget -->
			</select>
		</td>
	</tr>


	<tr>
		<td align="right">
			{ t_if }
		</td>
		<td>
			<select name="id_if_field">
			</select>

			
			<select name="if_operator">
			<!--#in getnextoperator -->
				<option value="{ id }" <!--#if selected --> selected="selected"<!--#endif selected --> >{ name }</option>
			<!--#endin getnextoperator -->
			</select>

			<input type="text" name="if_value" value="{ arr[if_value] }" size="10" />
		</td>
	</tr>
	
	<tr>
		<td align="center" colspan="2">

			<script>
				changeFormCol(document.forms['edit_link'].elements['link']);
			</script>


			<input type="submit" value="{ t_submit }" />
			<!--#if arr[id] -->
			 &nbsp; <input type="button" value="{ t_delete }" onclick="link_delete();" />
			<!--#endif arr[id] -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end link_edit -->


<!--#begin import_application -->
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_applications">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="import_application">


<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
	<tr class="BabLoginMenuBackground">
		<td align="center">
		<input type="file" name="uploadf" size="40" maxlength="255" />
		</td>
	</tr>
	
	<tr>
		<td align="center">
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end import_application -->



<!--#begin add_step -->
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="edit_step" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="id_app" value="{ id_app }" />

<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="4" cellspacing="0">
		
		<!--#in getnext -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				{ description }
			</td>
			<td>
				<input type="radio" name="id_type" value="{ id_type }" />
			</td>
		</tr>
		<!--#endin getnext -->
		
		<tr class="BabSiteAdminTitleFontBackground">
			<td colspan="2" align="right">
				<input type="submit" value="{ t_next }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end add_step -->
