<!--#begin html -->
<table border="0" cellpadding="3" cellspacing="0" width="100%">
	<!--#if message -->
	<tr>
		<td colspan="2" align="center">{ message }</td>
	</tr>
	<!--#endif message -->
	<!--#in getnext -->
	<tr>
		<td title="{ arr[description] }" valign="top" align="right">
		<!--#if arr[description] -->
		{ arr[description] }&nbsp;:
		<!--#else arr[description] -->
		{ arr[name] }&nbsp;:&nbsp;
		<!--#endif arr[description] -->
		</td>
		
		<td>
		{ arr[value] }&nbsp;
		</td>
	</tr>
	<!--#endin getnext -->
	<!--#in getnextlink -->
	<tr>
		<td colspan="2" align="center">
		<a href="{ arr[url] }">{ arr[name] }</a><br />
		<!--#if arr[description] --><em>{ arr[description] }</em><!--#endif arr[description] -->
		</td>
	</tr>
	<!--#endin getnextlink -->
</table>
<!--#end html -->


<!--#begin text -->

<!--#if message -->
{ message }
<!--#endif message -->
{ lb }	
<!--#in getnext -->
<!--#if arr[description] -->{ arr[row_description] } : <!--#else arr[description] -->{ arr[row_name] } : <!--#endif arr[description] --> { arr[row_value] } { lb }
<!--#endin getnext -->
{ lb }
<!--#in getnextlink -->
{ arr[row_name] } <!--#if arr[description] -->({ arr[row_description] })<!--#endif arr[description] --> [{ arr[url] }] { lb }
<!--#endin getnextlink -->

<!--#end text -->