<!--#begin hidden -->
	<!--#if loopoption -->
		<!--#in getnextoption -->
		<!--#if selected -->
		<input type="hidden" name="form_field_{ col[id] }[]" value="{ option[val] }" />
		<!--#endif selected -->
		<!--#endin getnextoption -->
	<!--#else loopoption -->
		<!--#if not_blob -->
		<input type="hidden" name="form_field_{ col[id] }" value="{ value }" />
		<!--#endif not_blob -->
	<!--#endif loopoption -->
<!--#end hidden -->


<!--#begin date -->
<script type="text/javascript">
function form_get_date_{ col[id] }(day, month, year)
	{
		var f = document.forms['addon_forms'];
		f.form_field_{ col[id] }.value = year+'-'+month+'-'+day;
		f.form_field_{ col[id] }_display.value = form_dateView(year,month,day);
	}
</script>
<input type="text" name="form_field_{ col[id] }_display" value="{ t_value }" id="AF_field_{ col[id] }" disabled="disabled" />
<a href="javascript:form_calendar({ col[id] })"><img src="{ babSkinPath }images/addons/forms/button_browse.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty({ col[id] })"><img src="{ babSkinPath }images/addons/forms/button_empty.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_field_{ col[id] }" value="{ value }" />
<!--#end date -->

<!--#begin readonly -->
	<!--#if option_link -->
		<!--#if loopoption -->
		<ul>
			<!--#in getnextoption -->
			<!--#if selected -->
			<li>{ option[opt] }<input type="hidden" name="form_field_{ col[id] }[]" value="{ option[val] }" /></li>
			<!--#endif selected -->
			<!--#endin getnextoption -->
		</ul>
		<!--#else loopoption -->
			<!--#in getnextoption -->
			<!--#if selected -->
			<span class="value">{ option[opt] }</span>
			<!--#endif selected -->
			<!--#endin getnextoption -->
			<input type="hidden" name="form_field_{ col[id] }" id="AF_field_{ col[id] }" value="{ line_value }" />
		<!--#endif loopoption -->
	<!--#else option_link -->
		<!--#if loopoption -->
		<ul>
			<!--#in getnextoption -->
			<!--#if selected -->
			<li>{ option[opt] }<input type="hidden" name="form_field_{ col[id] }[]" value="{ option[val] }" /></li>
			<!--#endif selected -->
			<!--#endin getnextoption -->
		</ul>
		<!--#else loopoption -->
			<span class="value">{ html_value }</span>
			<!--#if not_blob -->
			<input type="hidden" name="form_field_{ col[id] }" id="AF_field_{ col[id] }" value="{ value }" />
			<!--#endif not_blob -->
		<!--#endif loopoption -->
	<!--#endif option_link -->
<!--#end readonly -->

<!--#begin text -->
<input type="text" name="form_field_{ col[id] }" id="AF_field_{ col[id] }" value="{ value }" />
<!--#end text -->

<!--#begin password -->
<input type="password" name="form_field_{ col[id] }" id="AF_field_{ col[id] }" value="{ value }" />
<!--#end password -->

<!--#begin proposal -->

<!--#in getnextproposal -->
<!--#if checkbox -->
	<input type="checkbox" name="form_field_{ col[id] }[]" value="{ name }" <!--#if checked --> checked="checked"<!--#endif checked --> />{ name } &nbsp; 
<!--#else checkbox -->
	<input type="radio" name="form_field_{ col[id] }" value="{ name }" <!--#if checked --> checked="checked"<!--#endif checked --> />{ name } &nbsp; 
<!--#endif checkbox -->
<!--#endin getnextproposal -->

<!--#if specify -->
<span class="specify">  
<!--#if checkbox -->
{ t_specify } : <input type="text" name="form_field_{ col[id] }_specify" id="AF_field_{ col[id] }" value="{ specify_value }" />
<!--#else checkbox -->
{ t_specify } : <input type="text" name="form_field_{ col[id] }_specify" id="AF_field_{ col[id] }" value="{ specify_value }" />
<!--#endif checkbox -->
</span>
<!--#endif specify -->

<!--#end proposal -->

<!--#begin textarea -->
<textarea name="form_field_{ col[id] }" id="AF_field_{ col[id] }" rows="9" cols="20">{ value }</textarea>
<!--#end textarea -->

<!--#begin select -->
<select name="form_field_{ col[id] }" id="AF_field_{ col[id] }">
	<!--#in getnextoption -->
	<!--#if selected -->
		<option value="{ option[val] }" selected="selected">{ option[opt] }</option>
	<!--#else selected -->
		<option value="{ option[val] }">{ option[opt] }</option>
	<!--#endif selected -->
	<!--#endin getnextoption -->
</select>
<!--#end select -->

<!--#begin selectblank -->
<select name="form_field_{ col[id] }" id="AF_field_{ col[id] }">
		<option value=""></option>
	<!--#in getnextoption -->
	<!--#if selected -->
		<option value="{ option[val] }" selected="selected">{ option[opt] }</option>
	<!--#else selected -->
		<option value="{ option[val] }">{ option[opt] }</option>
	<!--#endif selected -->
	<!--#endin getnextoption -->
</select>
<!--#end selectblank -->


<!--#begin selectdouble -->

<select name="form_field_{ col[id] }" id="AF_field_{ col[id] }">
	<option value=""></option>
	<!--#in getnextoptgroup -->
		<optgroup label="{ optgroup }">
		<!--#in getnextoptgroupoption -->

		<!--#if selected -->
			<option value="{ option[val] }" selected="selected">{ option[opt] }</option>
		<!--#else selected -->
			<option value="{ option[val] }">{ option[opt] }</option>
		<!--#endif selected -->
		
		<!--#endin getnextoptgroupoption -->
		</optgroup>
	<!--#endin getnextoptgroup -->
</select>
<!--#end selectdouble -->


<!--#begin radio -->
<ul>
	<!--#in getnextoption -->
	<li>
	<!--#if selected -->
		<input type="radio" name="form_field_{ col[id] }" value="{ option[val] }" checked="checked" /> 
	<!--#else selected -->
		<input type="radio" name="form_field_{ col[id] }" value="{ option[val] }" />
	<!--#endif selected -->
		{ option[opt] }
	</li>
	<!--#endin getnextoption -->
</ul>
<!--#end radio -->

<!--#begin selectmultiple -->
<select multiple="multiple" name="form_field_{ col[id] }[]" id="AF_field_{ col[id] }" size="7">
	<!--#in getnextoption -->
	<!--#if selected -->
		<option value="{ option[val] }" selected="selected">{ option[opt] }</option>
	<!--#else selected -->
		<option value="{ option[val] }">{ option[opt] }</option>
	<!--#endif selected -->
	<!--#endin getnextoption -->
</select>
<!--#end selectmultiple -->

<!--#begin checkbox -->
<ul>
	<!--#in getnextoption -->
	<li>
	<!--#if selected -->
		<input type="checkbox" name="form_field_{ col[id] }[]" value="{ option[val] }" checked="checked" />
	<!--#else selected -->
		<input type="checkbox" name="form_field_{ col[id] }[]" value="{ option[val] }" />
	<!--#endif selected -->
	{ option[opt] }
	</li>
	<!--#endin getnextoption -->
</ul>
<!--#end checkbox -->

<!--#begin file -->
	{ html_value }
	<input type="file" name="form_field_{ col[id] }" id="AF_field_{ col[id] }" />
<!--#end file -->


<!--#begin directory -->
<script type="text/javascript">
<!--
function add_field()
	{
	var d = document.getElementById('form_directory_inputfiles');
	var n = d.childNodes.length;
	var p = document.createElement("p");
	d.appendChild(p);
	var input = document.createElement("input");
	input.type = 'file';
	input.name = 'dirfile'+n;
	p.appendChild(input);
	document.getElementById('form_directory_delbtn').style.visibility = 'visible';
	}

function remove_field()
	{
	var d = document.getElementById('form_directory_inputfiles');
	var p = d.getElementsByTagName('p');
	if (p.length > 1) {				
		d.removeChild(p[(p.length-1)]);
		if (1 == p.length) {
			document.getElementById('form_directory_delbtn').style.visibility = 'hidden';
			}
		}
	}
//-->
</script>
<table>
	<thead>
		<tr>
			<th>{ t_filename }</th><td>{ t_filesize }</td><td><a href="javascript:check_uncheck(this,'dirfile_delete');">{ t_delete }</a></td>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
		<th colspan="3" id="form_directory_inputfiles">
			<p><input type="file" name="dirfile0" id="AF_field_{ col[id] }" /> </p>
		</th>
		</tr>
	</tfoot>
	
	<tbody>
	<!--#if dirfiles -->
	<!--#in getnextdirfile -->
		<tr>
			<th class="{ classname }"><a href="{ fileurl }">{ filename }</a></th><td>{ filesize }</td><td><input type="checkbox" name="dirfile_delete[]" value="{ filename }" /></td>
		</tr>
	<!--#endin getnextdirfile -->
	<!--#else dirfiles -->
		<tr>
			<td colspan="3" class="nofiles"><br />{ t_nofiles }<br /><br /></td>
		</tr>
	<!--#endif dirfiles -->
	</tbody>
	
	
</table>
<div class="bottom_btn">
	<a href="javascript:add_field()" class="add">{ t_add_field }</a>  <a id="form_directory_delbtn" href="javascript:remove_field()" class="remove">{ t_remove_field }</a>
</div>
<!--#end directory -->


<!--#begin rodirectory -->
<table>
	<thead>
		<tr>
			<th>{ t_filename }</th><td>{ t_filesize }</td>
		</tr>
	</thead>
	<tbody>
	<!--#if dirfiles -->
	<!--#in getnextdirfile -->
		<tr>
			<th class="{ classname }"><a href="{ fileurl }">{ filename }</a></th><td>{ filesize }</td>
		</tr>
	<!--#endin getnextdirfile -->
	<!--#else dirfiles -->
		<tr>
			<td colspan="3" class="nofiles"><br />{ t_nofiles }<br /><br /></td>
		</tr>
	<!--#endif dirfiles -->
	</tbody>
</table>
<!--#end rodirectory -->



<!--#begin captcha -->
{ sCaptchaSecurityData }<br /><input type="text" name="sCaptchaSecurityCode" size="30" value="" />
<!--#end captcha -->



<!--#begin functionfield -->
<input type="text" name="form_field_{ col[id] }_display" value="{ t_value }" id="AF_field_{ col[id] }" disabled="disabled" />
<a href="javascript:{ col[form_element_param] }"><img src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty({ col[id] })"><img src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_field_{ col[id] }" value="{ value }" />
<!--#end functionfield -->


<!--#begin ovusers -->
<input type="text" name="form_field_{ col[id] }_display" value="{ t_value }" id="AF_field_{ col[id] }" disabled="disabled" />
<a href="javascript:bab_popup('index.php?tg=oml&amp;file=addons/forms/ovusers.ovml&amp;echo=1&amp;fieldid={ col[id] }&amp;id_directory={ options[id_directory] }');"><img src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty({ col[id] })"><img src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_field_{ col[id] }" value="{ value }" />
<!--#end ovusers -->

<!--#begin ovdirectory -->
<input type="text" name="form_field_{ col[id] }_display" value="{ t_value }" id="AF_field_{ col[id] }" disabled="disabled" />
<a href="javascript:bab_popup('index.php?tg=oml&amp;file=addons/forms/ovdirectory.ovml&amp;echo=1&amp;fieldid={ col[id] }&amp;id_directory={ options[id_directory] }');"><img src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty({ col[id] })"><img src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_field_{ col[id] }" value="{ value }" />
<!--#end ovdirectory -->


<!--#begin functionlist -->
<select multiple="multiple" name="form_field_{ col[id] }[]" id="AF_field_{ col[id] }" size="7">
	<!--#in getnextoption -->
	<!--#if selected -->
		<option value="{ option[val] }">{ option[opt] }</option>
	<!--#endif selected -->
	<!--#endin getnextoption -->
</select>

<a href="javascript:{ col[form_element_param] }"><img align="top" src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty({ col[id] })"><img align="top" src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>


<script type="text/javascript">
	form_registerFieldSelectAll({ col[id] });
</script>
<!--#end functionlist -->