<!--#begin list -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />

<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/filters">
<input type="hidden" name="action" value="delete_filters">
<input type="hidden" name="id_table" value="{ id_table }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_description }
		</td>
		<td>
			{ t_rules }
		</td>
		<td width="5%">
			{ t_edit }
		</td>
		<td width="5%">
			{ t_delete }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ arr[description] }
		</td>
		<td>
			{ arr[rules] }
		</td>
		<td align="center">
			<!--#if arr[id_field] -->
			{ t_in_use }
			<!--#else arr[id_field] -->
			<a href="{ babAddonUrl }filters&idx=edit&id_filter={ arr[id] }&id_table={ id_table }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0" /></a>
			<!--#endif arr[id_field] -->
		</td>
		<td align="center">
			<!--#if arr[id_field] -->
			&nbsp;
			<!--#else arr[id_field] -->
			<input type="checkbox" name="delete_filters[]" value="{ arr[id] }" />
			<!--#endif arr[id_field] -->
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="4">
			&nbsp;
		</td>
		<td width="5%" align="center">
			<a title="{ t_checkall }" href="javascript:onCheckAll('delete_filters', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0" /></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('delete_filters', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0" /></a>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<div align="center">
	<br />
	<input type="submit" value="{ t_delete }" />
</div>
</form>
<!--#end list -->


<!--#begin edit -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	var f = document.forms['edit_lnk'];
	
	return true;
	}


//-->
</script>
<form name="edit" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/filters">
<input type="hidden" name="action" value="record_filter">
<input type="hidden" name="id_table" value="{ id_table }">
<input type="hidden" name="id_filter" value="{ id_filter }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<td align="right">{ t_name }</td>
			<td colspan="2"><input type="text" name="name" value="{ arr[name] }" /></td>
		</tr>
		<tr>
			<td align="right">{ t_description }</td>
			<td colspan="2"><textarea name="description">{ arr[description] }</textarea><br /><br /></td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_name }</td>
			<td>{ t_operator }</td>
			<td>{ t_comparator }</td>
			<td>{ t_order }</td>
		</tr>
		<!--#in getnextfield -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				{ field[name] }
				<input type="hidden" name="field_id_{ field[id_table_field] }" value="{ field[id] }" />
			</td>
			<td>
				<select name="field_operator_{ field[id_table_field] }">
					<option value=""></option>
					<!--#in getnextoperator -->
					<option value="{ id }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ value }</option>
					<!--#endin getnextoperator -->
				</select>
			</td>
			<td><input type="text" name="field_comparator_{ field[id_table_field] }" value="{ field[comparator] }" /></td>
			<td><input type="radio" name="ordercol" value="{ field[id_table_field] }" <!--#if checked --> checked="checked" <!--#endif checked --> /></td>
		</tr>
		<!--#endin getnextfield -->

		<!--#in getnextlnk -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				{ lnk[name] }
				<input type="hidden" name="field_id_{ lnk[id_table_field] }" value="{ lnk[id] }" />
				<input type="hidden" name="field_lnk_{ lnk[id_table_field] }" value="{ lnk[lnk] }" />
			</td>
			<td>
				<select name="field_operator_{ lnk[id_table_field] }">
					<option value=""></option>
					<!--#in getnextoperator -->
					<option value="{ id }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ value }</option>
					<!--#endin getnextoperator -->
				</select>
			</td>
			<td><input type="text" name="field_comparator_{ lnk[id_table_field] }" value="{ lnk[comparator] }" /></td>
			<td>&nbsp;</td>
		</tr>
		<!--#endin getnextlnk -->
		<tr>
			<td colspan="3" align="right">{ t_no_order } : </td>
			<td><input type="radio" name="ordercol" value="0" <!--#if noorder --> checked="checked"<!--#endif noorder --> /></td>
		</tr>
		<tr>
			<td colspan="4" align="center"><br /><input type="submit" value="{ t_record }" /></td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end edit -->
