<script type="text/javascript" src="{ babInstallPath }skins/ovidentia/templates/{ babAddonHtmlPath }formula.js"></script>

<select id="formula_operators" onchange="formula.onchange(this)">
	<option value=""></option>
</select>
<select id="formula_functions" onchange="formula.onchange(this)">
	<option value=""></option>
</select>
<input type="button" onclick="formula.deleteSelected()" value="{ t_delete }" />
<div id="formula_contener" style="height:200px;border:#000 1px solid;margin:.4em 0">
</div>


<script type="text/javascript">
<!--



var formula = new formula();
formula.add( {'[]':'{ t_customvalue }'} ,'V');

window.focus();

document.onkeypress = function(ev) { 
	if (document.all) ev = window.event;
	if (ev.keyCode == 27) alert('formula : '+formula.config.formula); 
	};

function formula_close()
{
var f = formula.getFormula();
if (f != false)
	{
	//}
	opener.{ callback }(f,'{ id_formula }');
	window.close();
	}

}
-->
</script>

<p align="center">
<input type="button" onclick="formula_close();" value="{ t_ok }" />
</p>