<!--#begin list -->

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_function }
		</td>
		<td>
			{ t_edit }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ arr[field_function] }
		</td>
		<td>
			<a href="{ babAddonUrl }funccol&idx=edit&id_func={ arr[id] }&id_table={ id_table }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0"></a>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>

<!--#end list -->


<!--#begin edit -->
<script type="text/javascript">
<!--

function form_formula_functions(obj,functions,formula)
	{
	if (typeof obj.formula == 'undefined')
		{
		window.status = typeof obj.formula;
		setTimeout(function() { form_formula_functions(obj,functions,formula) }, 500);
		}
	else
		{
		obj.formula.add(functions,'F');
		obj.formula.setFormula(formula);
		}
	}


function form_formula_popup(id,functions,formula)
	{
	//}
	var obj = window.open('{ babAddonUrl }main&idx=formula&id_formula='+id, 'formula', 'status=yes,menubar=no,personalbar=no,width=450,height=350,top=100,left=100,scrollbars=yes,resizable=yes');
	form_formula_functions(obj,functions,formula);
	
	}

function form_formula(formula,id)
	{
	var f = document.forms['edit_func'];
	f.elements[id+'_formula'].value = formula;
	}

function func_delete()
	{
	var f = document.forms['edit_func'];
	f.action.value = 'delete_func';
	f.submit();
	}

-->
</script>
<form name="edit_func" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/funccol">
<input type="hidden" name="action" value="edit_func">
<input type="hidden" name="id_table" value="{ id_table }">
<input type="hidden" name="id_func" value="{ arr[id] }">



<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td align="right">
			{ t_name }
		</td>
		<td>
			<input type="text" name="name" value="{ arr[name] }" />
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_function }
		</td>
		<td>
			<select name="field_function">
				<option value="formula" <!--#if arr[field_function] "== formula" --> selected="selected" <!--#endif arr[field_function] --> >{ t_formula }</option>
				<option value="index" <!--#if arr[field_function] "== index" --> selected="selected" <!--#endif arr[field_function] --> >{ t_index }</option>
				<option value="approb" <!--#if arr[field_function] "== approb" --> selected="selected" <!--#endif arr[field_function] --> >{ t_approb }</option>
				<option value="num_approb" <!--#if arr[field_function] "== num_approb" --> selected="selected" <!--#endif arr[field_function] --> >{ t_num_approb }</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
			<input type="hidden" name="field_formula" value="{ arr[field_formula] }" />
			<input type="button" onclick="form_formula_popup('field',{<!--#in getnextfield -->{ field[id] }:'{ field[name] }',<!--#endin getnextfield -->'CONCAT(':'CONCAT(', 'SUM(':'SUM(', 'MAX(':'MAX(', 'MIN(':'MIN('},document.forms['edit_func'].field_formula.value)" value="{ t_field_formula }" />
			<br />
			<br />
			<br />
			<input type="submit" value="{ t_record }" />
			<input type="button" onclick="func_delete()" value="{ t_delete }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end edit -->