<!--#begin help_list -->
<script type="text/javascript">
<!--
function submitCtr() {
	//}
	return confirm('{ js_alert }');

}

function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}
-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/help">
<input type="hidden" name="action" value="delete">
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_help_title }
		</td>
		<td align="right">
			{ t_delete }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			<a href="{ babAddonUrl }help&idx=edit&id_help={ arr[id] }">{ arr[name] }</a>
		</td>
		<td>
			{ arr[help_title] }
		</td>
		<td align="right">
			<input type="checkbox" name="id_help[]" value="{ arr[id] }" />
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="2">
			&nbsp;
		</td>
		<td align="right">
			<input type="checkbox" onclick="check_uncheck(this,'id_help')" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<div align="center">
<br />
	<input type="submit" value="{ t_delete }" />
</div>
</form>
<!--#end help_list -->

<!--#begin help_edit -->

<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/help">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="id_help" value="{ arr[id] }">
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td align="right">
			{ t_name }
		</td>
		<td>
			<input type="text" name="name" value="{ arr[name] }" />
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_help_title }
		</td>
		<td>
			<input type="text" name="help_title" value="{ arr[help_title] }" />
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			{ t_help_text } <br />
			<textarea name="help_text" style="width:90%;height:200px;">{ arr[help_text] }</textarea>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end help_edit -->

<!--#begin help_view -->
<table border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>
		{ title }
		</td>
	</tr>
	<tr class="BabSiteAdminFontBackground">
		<td style="padding:2em">
		{ text }
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
<br />
<div align="center"><input type="button" value="{ t_close }" onclick="window.close()" /></div>
<br />
<!--#end help_view -->