<!--#begin editlabel -->
<label for="AF_field_{ col[id] }">
	<!--#if col[description] -->
	{ col[description] }
	<!--#else col[description] -->
	{ col[name] }
	<!--#endif col[description] -->
	<!--#if notempty -->
	<span class="bab_highlight">*</span>
	<!--#endif notempty -->
	<!--#if col[help_id] -->
	 <a class="help" id="form_help_{ col[help_id] }" href="{ help_url }" title="{ col[help_title] }" onclick="bab_popup(this.href,2);return false;">&nbsp;<span>{ col[help_name] }</span></a>
	<!--#endif col[help_id] -->
	<span class="suffix">:</span>
</label>
<!--#end editlabel -->


<!--#begin search_type_0 -->
<input type="text" name="form_crit_{ crit[id] }" id="form_crit_{ crit[id] }" value="{ crit_value }" />
<!--#end search_type_0 -->

<!--#begin search_type_1 -->
<select name="form_crit_{ crit[id] }" id="form_crit_{ crit[id] }">
	<option value=""></option>
	<!--#in getnextcritval -->
	<option value="{ key }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ value }</option>
	<!--#endin getnextcritval -->
</select>
<!--#end search_type_1 -->

<!--#begin search_type_2 -->
<script type="text/javascript">
function form_get_date_{ crit[id] }_b(day, month, year)
	{
		var f = document.forms['addon_forms'];
		f.form_crit_{ crit[id] }_b.value = year+'-'+month+'-'+day;
		f.form_crit_{ crit[id] }_b_display.value = form_dateView(year,month,day);
	}

function form_get_date_{ crit[id] }_e(day, month, year)
	{
		var f = document.forms['addon_forms'];
		f.form_crit_{ crit[id] }_e.value = year+'-'+month+'-'+day;
		f.form_crit_{ crit[id] }_e_display.value = form_dateView(year,month,day);
	}
</script>
<input type="text" name="form_crit_{ crit[id] }_b_display" id="form_crit_{ crit[id] }" disabled="disabled" size="10" />
<a href="javascript:form_calendar('{ crit[id] }_b')"><img src="{ babSkinPath }images/addons/forms/button_browse.png" /></a>
<input type="text" name="form_crit_{ crit[id] }_e_display" disabled="disabled" size="10" />
<a href="javascript:form_calendar('{ crit[id] }_e')"><img src="{ babSkinPath }images/addons/forms/button_browse.png" /></a>

<input type="hidden" name="form_crit_{ crit[id] }_b" value="{ crit_value_b }" />
<input type="hidden" name="form_crit_{ crit[id] }_e" value="{ crit_value_e }" />

<script type="text/javascript">
form_date_display_crit({ crit[id] });
</script>
<!--#end search_type_2 -->


<!--#begin search_type_3 -->
{ t_between } <input type="text" class="interval between" name="form_crit_{ crit[id] }_b" value="{ crit_value_b }" />
{ t_and } <input type="text" class="interval and" name="form_crit_{ crit[id] }_e" value="{ crit_value_e }" />
<!--#end search_type_3 -->


<!--#begin search_type_4 -->
<ul>
	<!--#in getnextcritval -->
	<li><input type="checkbox" name="form_crit_{ crit[id] }[]" value="{ key }" <!--#if selected --> checked="checked"<!--#endif selected --> /> { value }</li>
	<!--#endin getnextcritval -->
</ul>
<!--#end search_type_4 -->


<!--#begin search_type_5 -->
<select name="form_crit_{ crit[id] }" id="form_crit_{ crit[id] }">
	<option value=""></option>
	<!--#in getnextsetorenum -->
	<option value="{ value }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ value }</option>
	<!--#endin getnextsetorenum -->
</select>
<!--#end search_type_5 -->

<!--#begin search_type_6 -->
<ul>
	<!--#in getnextsetorenum -->
	<li><input type="checkbox" name="form_crit_{ crit[id] }[]" value="{ value }" <!--#if selected --> checked="checked"<!--#endif selected --> /> { value }</li>
	<!--#endin getnextsetorenum -->
</ul>
<!--#end search_type_6 -->

<!--#begin search_type_7 -->
<input type="text" name="form_crit_{ crit[id] }_display" value="{ t_value }"  disabled="disabled" />
<a href="javascript:bab_popup('index.php?tg=oml&amp;file=addons/forms/ovusers.ovml&amp;echo=1&amp;fieldid=form_crit_{ crit[id] }&amp;id_directory={ id_directory }');"><img src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty('form_crit_{ crit[id] }')"><img src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_crit_{ crit[id] }" id="form_crit_{ crit[id] }" value="{ crit_value }" />
<!--#end search_type_7 -->

<!--#begin search_type_8 -->
<input type="text" name="form_crit_{ crit[id] }_display" value="{ t_value }"  disabled="disabled" />
<a href="javascript:bab_popup('index.php?tg=oml&amp;file=addons/forms/ovdirectory.ovml&amp;echo=1&amp;fieldid=form_crit_{ crit[id] }&amp;id_directory={ id_directory }');"><img src="{ babSkinPath }images/addons/forms/b_edit.png" alt="{ t_edit }" /></a>
<a href="javascript:form_empty('form_crit_{ crit[id] }')"><img src="{ babSkinPath }images/addons/forms/b_drop.png" alt="{ t_remove }" /></a>
<input type="hidden" name="form_crit_{ crit[id] }" id="form_crit_{ crit[id] }" value="{ crit_value }" />
<!--#end search_type_8 -->



<!--#begin search_label -->
<label for="form_crit_{ crit[id] }">{ label } <span class="suffix"> :</span> </label>
<!--#end search_label -->

<!--#begin FormHtmlHead_edit -->
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_edit">

<form name="addon_forms" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtrl())" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
<input type="hidden" name="idx" value="{ next_idx }" />
<input type="hidden" name="parent_idx" value="{ parent_idx }" />
<input type="hidden" name="action" value="edit_mode" />
<!--#if id_app "> 0" -->
<input type="hidden" name="trt_step" value="1" />
<!--#else id_app -->
<input type="hidden" name="trt_step" value="" />
<!--#endif id_app -->
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="id_form" value="{ next_form }" />
<input type="hidden" name="record_id_form" value="{ id_form }" />
<input type="hidden" name="id_table" value="{ arr[id_table] }" />
<input type="hidden" name="form_row" value="{ form_row }" />
<input type="hidden" name="form_menu" value="{ form_menu }" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ next_step }" />
<input type="hidden" name="parent_step" value="{ id_step }" />
<input type="hidden" name="id_btn_type" value="0" />
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }" />
<!--#if popup -->
<input type="hidden" name="popup" value="1" />
<!--#endif popup -->

<!--#end FormHtmlHead_edit -->


<!--#begin FormHtmlFoot_edit -->
</form>
</div>
<!--#end FormHtmlFoot_edit -->



<!--#begin FormHtmlHead_view -->
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_view">

<form name="addon_forms" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
	<input type="hidden" name="idx" value="{ next_idx }" />
	<input type="hidden" name="trt_step" value="1" />
	<input type="hidden" name="form_row" value="{ form_row }" />
	<input type="hidden" name="id_app" value="{ id_app }" />
	<input type="hidden" name="id_step" value="{ next_step }" />
	<input type="hidden" name="form_menu" value="{ form_menu }" />
<!--#end FormHtmlHead_view -->

<!--#begin FormHtmlFoot_view -->
	</form>
</div>
<!--#end FormHtmlFoot_view -->


<!--#begin view_notempty -->
<span class="bab_highlight">*</span> { t_view_notempty }
<!--#end view_notempty -->



<!--#begin form_validation -->
<fieldset class="approbation">
	<legend>{ t_approbation }</legend>
	<div>
		<label for="form_approb">{ t_validation } <span class="suffix">:</span></label>
		
		<select name="form_approb" id="form_approb">
			<option value="0" selected="selected">{ t_novalidate }</option>
			<option value="1">{ t_accept }</option>
			<option value="2">{ t_refuse }</option>
		</select>
	<div>
	<p>
		<input type="submit" value="{ t_submit }" />
	</p>
</fieldset>
<!--#end form_validation -->
