<!--#begin list_lnk -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_lnk">
<input type="hidden" name="tg" value="{ babAddonTarget }/lnk">
<input type="hidden" name="action" value="delete_lnk">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_description }
		</td>
		<td width="5%">
			{ t_edit }
		</td>
		<td width="5%">
			{ t_delete }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ arr[description] }
		</td>
		<td align="center">
			<!--#if arr[id_field] -->
			{ t_in_use }
			<!--#else arr[id_field] -->
			<a href="{ babAddonUrl }lnk&idx=edit_lnk&id_lnk={ arr[id] }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0" /></a>
			<!--#endif arr[id_field] -->
		</td>
		<td align="center">
			<!--#if arr[id_field] -->
			&nbsp;
			<!--#else arr[id_field] -->
			<input type="checkbox" name="delete_lnk[]" value="{ arr[id] }" />
			<!--#endif arr[id_field] -->
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="3">
			&nbsp;
		</td>
		<td width="5%" align="center">
			<a title="{ t_checkall }" href="javascript:onCheckAll('delete_lnk', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0" /></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('delete_lnk', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0" /></a>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<div align="center">
	<br />
	<input type="submit" value="{ t_delete }" />
</div>
</form>
<!--#end list_lnk -->



<!--#begin edit_lnk -->
<script type="text/javascript">
<!--


function enabledisable(val)
	{
	var f = document.forms['edit_lnk'];

	if (val == 0 || val == '')
		{	
		f.id_table1.disabled = false;
		f.id_table2.disabled = false;
		f.id_lnk_table.disabled = true;
		f.id_field1.disabled = true;
		f.id_field2.disabled = true;
		}

	if (val == 1)
		{
		f.id_table1.disabled = true;
		f.id_table2.disabled = true;
		f.id_lnk_table.disabled = false;
		f.id_field1.disabled = false;
		f.id_field2.disabled = false;
		}
	}


function submitCtr()
	{
	var f = document.forms['edit_lnk'];
	if (f.name.value == '')
		{
		//}
		alert('{ js_error }');
		return false;
		}
	return true;
	}

function lnk_table_change()
	{
	var f = document.forms['edit_lnk'];
	if (submitCtr())
		{
		f.idx.value = 'edit_lnk';
		f.submit();
		}
	}


//-->
</script>
<form name="edit_lnk" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_lnk">
<input type="hidden" name="tg" value="{ babAddonTarget }/lnk">
<input type="hidden" name="action" value="record_lnk">
<input type="hidden" name="id_lnk" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<td align="right">{ t_name }</td>
			<td><input type="text" name="name" value="{ arr[name] }" /></td>
		</tr>
		<tr>
			<td align="right">{ t_description }</td>
			<td><textarea name="description">{ arr[description] }</textarea></td>
		</tr>

		<tr>
			<td colspan="2"><input type="radio" name="lnk_type" value="0" onclick="enabledisable(this.value)" <!--#if arr[lnk_type] "== 0" --> checked="checked" <!--#endif arr[lnk_type] --> /> { t_lnk_auto }</td>
		</tr>

		<tr>
			<td align="right">{ t_table1 }</td>
			<td>
				<select name="id_table1">
				<!--#in getnexttable -->
				<!--#if selected -->
				<option value="{ table[id] }" selected="selected">{ table[name] }</option>
				<!--#else selected -->
				<option value="{ table[id] }">{ table[name] }</option>
				<!--#endif selected -->
				<!--#endin getnexttable -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">{ t_table2 }</td>
			<td>
				<select name="id_table2">
				<!--#in getnexttable -->
				<!--#if selected -->
				<option value="{ table[id] }" selected="selected">{ table[name] }</option>
				<!--#else selected -->
				<option value="{ table[id] }">{ table[name] }</option>
				<!--#endif selected -->
				<!--#endin getnexttable -->
				</select>
			</td>
		</tr>

		<tr>
			<td colspan="2"><input type="radio" name="lnk_type" value="1" onclick="enabledisable(this.value)" <!--#if arr[lnk_type] "== 1" --> checked="checked" <!--#endif arr[lnk_type] --> /> { t_lnktable }</td>
		</tr>

		<tr>
			<td align="right">{ t_lnk_table }</td>
			<td>
				<select name="id_lnk_table" onchange="lnk_table_change()">
				<option value="0"></option>
				<!--#in getnextlnktable -->
				<!--#if selected -->
				<option value="{ table[id] }" selected="selected">{ table[name] }</option>
				<!--#else selected -->
				<option value="{ table[id] }">{ table[name] }</option>
				<!--#endif selected -->
				<!--#endin getnextlnktable -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_field1 }</td>
			<td>
				<select name="id_field1">
				<!--#in getnextfield -->
				<!--#if selected -->
				<option value="{ field[id] }" selected="selected">{ field[name] }</option>
				<!--#else selected -->
				<option value="{ field[id] }">{ field[name] }</option>
				<!--#endif selected -->
				<!--#endin getnextfield -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_field2 }</td>
			<td>
				<select name="id_field2">
				<!--#in getnextfield -->
				<!--#if selected -->
				<option value="{ field[id] }" selected="selected">{ field[name] }</option>
				<!--#else selected -->
				<option value="{ field[id] }">{ field[name] }</option>
				<!--#endif selected -->
				<!--#endin getnextfield -->
				</select>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center"><input type="submit" value="{ t_record }" /></td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>

<script type="text/javascript">
<!--
enabledisable('{ arr[lnk_type] }');

-->
</script>

<!--#end edit_lnk -->
