<!--#begin list_tables -->
<script type="text/javascript">
<!--
function edit_table(url,rows)
	{
	//{}
	if (rows == 0 || confirm('{ t_edit_alertJs }')) document.location.href = url;
	}
-->
</script>

<p align="left">
	<a href="{ babAddonUrl }user&idx=browse_tables">{ t_tables_content }</a> | <a href="{ babAddonUrl }lnk&idx=list_lnk">{ t_tables_lnk }</a>  | <a href="{ babAddonUrl }appcreate">{ t_appcreate_lnk }</a>
</p>

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td colspan="2">
			{ t_description }
		</td>
		<td>
			{ t_nb_rec }
		</td>
		<td>
			{ t_edit }
		</td>
		<td>
			{ t_funccol }
		</td>
		<td>
			{ t_filters }
		</td>
		<td>
			<a href="{ access_all_url }" title="{ t_access_title }">{ t_acces }</a>
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ arr[description] }
		</td>
		<td>
			<a href="{ tabledesc_url }" title="{ t_descriptions }"><img src="{ babSkinPath }images/addons/forms/descriptions.gif" title="{ t_descriptions }" border="0" /></a>
		</td>
		<td>
			<!--#if browse_btn -->
			<a href="{ browse_url }" title="{ t_browse }"><img src="{ babSkinPath }images/addons/forms/button_browse.png" alt="{ t_browse }" border="0"></a><!--#else browse_btn -->&nbsp;&nbsp;&nbsp;<!--#endif browse_btn -->&nbsp;&nbsp;{ nb_rec }
		</td>
		<td>
			<!--#if arr[messagelock] -->
			<img src="{ babSkinPath }images/addons/forms/filters.gif" alt="{ t_locked }" title="{ arr[messagelock] }" border="0" />
			<!--#else arr[messagelock] -->
			<a href="{ edit_url }" title="{ t_edit }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" alt="{ t_edit }" border="0" /></a>
			<!--#endif arr[messagelock] -->
			<!--#if arr[approbation] -->
			<img src="{ babSkinPath }images/addons/forms/approb.gif" alt="{ t_approb }" title="{ t_approb }" border="0" />
			<!--#endif arr[approbation] -->
		</td>
		<td>
			<!--#if arr[messagelock] -->
			<img src="{ babSkinPath }images/addons/forms/filters.gif" alt="{ t_locked }" title="{ arr[messagelock] }" border="0" />
			<!--#else arr[messagelock] -->
			<a href="{ funccol_url }" title="{ t_funccol }"><img src="{ babSkinPath }images/addons/forms/addcol.gif" alt="{ t_funccol }" border="0"></a><!--#endif arr[messagelock] -->&nbsp;&nbsp;{ arr[functions] }

		</td>
		<td>
			<a href="{ filters_url }" title="{ t_filters }"><img src="{ babSkinPath }images/addons/forms/button_filter.gif" alt="{ t_filters }" border="0"></a>&nbsp;&nbsp;{ arr[filters] }
		</td>
		<td>
			<a href="{ acces_url }" title="{ t_acces }"><img src="{ babSkinPath }images/addons/forms/button_lock.gif" alt="{ t_acces }" border="0"></a>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end list_tables -->

<!--#begin edit_table -->
<script type="text/javascript">
<!--
function new_type(obj)
	{
	var shn = document.getElementById('show_hide_new');
	var nt = document.forms.edit_formats.new_type;
	if (obj.value == 0)
		{
		shn.style.display = '';
		nt.disabled = false;
		}
	else
		{
		shn.style.display = 'none';
		nt.disabled = true;
		}
	}

function add_fields()
	{
	var f = document.forms.edit_table;
	var x = parseInt(f.nb_fields.value);
	if (!isNaN(x))
		f.nb_fields.value = x + parseInt(f.fields_to_add.value);
	else
		f.nb_fields.value = parseInt(f.fields_to_add.value);
	f.idx.value = 'edit_table';
	f.submit();
	}

function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms['edit_table'];
	var count = 0;
	var todelete = 0;

	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_table';
		f.submit();
		}
	}

function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_table;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked || obj.className != 'checked') 
				{
				objCtrl.checked = true;
				}
			else 
				{
				objCtrl.checked = false;
				}
			}
		}

	if (obj.className == 'checked')
		{
		obj.className = '';
		}
	else
		{
		obj.className = 'checked';
		}
	}

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}
	
function type_link_lock(index)
	{
	var f = document.forms.edit_table;
	eval('var el_type = f.field_type_'+index+';');
	eval('var el_link = f.field_link_table_field_id_'+index+';');
	if (el_link.value != 0 && el_link.disabled == false)
		el_type.disabled = true;
	else
		el_type.disabled = false;
	if (el_type.value != 0 && el_type.disabled == false)
		el_link.disabled = true;
	else
		el_link.disabled = false;
	}
	
function init_each_field()
	{
	var f = document.forms.edit_table;
	var prefix = 'field_name_';
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			var index = parseInt(objCtrl.name.substring(prefix.length,objCtrl.name.length));
			type_link_lock(index);
			}
		}
	}

function add_type()
	{
	var f = document.forms.edit_table;
	f.idx.value='add_type';
	f.submit();
	}
	
function submitCtr()
	{
	var f = document.forms.edit_table;
	removespaces(f.name);
	if (f.name.value == '') return false;
	return true;
	}

function table_delete()
	{
	//{}
	if (confirm('{ js_delete }'))
		{
		var f = document.forms.edit_table;
		f.action.value='delete_table';
		f.submit();
		}
	}

//-->
</script>
<form name="edit_table" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_tables">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_table">
<input type="hidden" name="id_table" value="{ id }">
<input type="hidden" name="nb_fields" value="{ arr[nb_fields] }">

<table border="0" width="55%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr >
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td align="right">
			{ t_name }
		</td>
		<td colspan="4">
			<input type="text" name="name" value="{ arr[name] }">
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_description }
		</td>
		<td colspan="4">
			<textarea name="description" >{ arr[description] }</textarea>
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_filing_delay }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=table,filing_delay" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td colspan="4">
			<input type="text" name="filing_delay" value="{ arr[filing_delay] }" size="4" maxlength="5" />
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_approbation }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=table,approbation" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td colspan="4">
			<select name="approbation">
			<!--#if arr[approbation] -->
				<option value="1" selected="selected">{ t_yes }</option>
				<option value="0">{ t_no }</option>
			<!--#else arr[approbation] -->
				<option value="1">{ t_yes }</option>
				<option value="0" selected="selected">{ t_no }</option>
			<!--#endif arr[approbation] -->
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_type }
		</td>
		<td>
			{ t_link_table_field_id }
		</td>
		<td>
			{ t_default_val }
		</td>
		<td>
			<a href="javascript:check_uncheck(this,'del_fields')">{ t_delete }</a>
		</td>
	</tr>
	<!--#in getnextfield -->
	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center" style="padding-top:8px">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center" style="padding-top:8px">
	<!--#endif altbg -->
		<td>
			<input type="text" name="field_name_{ index }" value="{ field[name] }" maxlength="15" size="15">
			<input type="hidden" name="field_id_{ index }" value="{ field[id] }">
		</td>
		<td>
			<select name="field_type_{ index }" onchange="type_link_lock({ index })">
				<option value="0"></option>
			<!--#in getnexttype -->
				<option value="{ type[id] }" { selected }>{ type[name] }</option>
			<!--#endin getnexttype -->
			</select>
		</td>
		<td>
			<select name="field_link_table_field_id_{ index }" onchange="type_link_lock({ index })">
				<option value="0"></option>
				<!--#in getnexttable -->
				<optgroup label="{ table[name] }">
				<!--#in getnextlink -->
				<option value="{ linkid }" { selected }>{ linkname }</option>
				<!--#endin getnextlink -->
				</optgroup>
				<!--#endin getnexttable -->
			</select>
		</td>
		<td>
			<input type="text" name="field_default_val_{ index }" value="{ field[default_val] }" size="10">
		</td>
		
		<td>
			<input type="checkbox" name="del_fields[]" value="{ index }" />
		</td>
	</tr>
	<!--#endin getnextfield -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td>&nbsp;</td>
		<td align="center"><input type="button" onclick="add_type()" value="{ t_add_type }"></td>
		<td colspan="2" align="right">
			{ t_add }&nbsp;<input type="text" name="fields_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_fields();">
		</td><td>
			<input type="button" value="{ t_delete }" onclick="del_list('del_fields',document.forms['edit_table'].nb_fields);" />
		</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5" align="center"><input type="submit" value="{ t_submit }" />
		<!--#if id -->
			<input type="button" value="{ t_delete }" onclick="table_delete()" />
		<!--#endif id -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
init_each_field();
//-->
</script>
<!--#end edit_table -->

<!--#begin list_types -->
<script type="text/javascript">
<!--

-->
</script>
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_description }
		</td>
		<td>
			{ t_extend }
		</td>
		<td>
			{ t_sql_type }
		</td>
		<td>
			{ t_edit }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td nowrap>
			{ arr[name] }
		</td>
		<td>
			{ arr[description] }
		</td>
		<td>
			<!--#if arr[id_extend] "== 1" -->
			<em style="color:grey">{ arr[extend] }</em>
			<!--#else arr[id_extend] -->
			{ arr[extend] }
			<!--#endif arr[id_extend] -->
		</td>
		<td>
			{ arr[sql_type] }
		</td>
		<td>
			<!--#if arr[notused] -->
			<a href="{ edit_url }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0" alt="{ t_edit }" /></a>
			<!--#else arr[notused] -->
			{ t_used }
			<!--#endif arr[notused] -->
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end list_types -->


<!--#begin extend_type -->
<form name="extend_type" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="add_type" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="extend_type" />
<input type="hidden" name="id_table" value="{ id_table }" />

<table border="0" width="55%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="5" cellspacing="0">

	<!--#in getnext -->
	<tr>
		<td>{ ext[name] }</td>
		<td><input type="radio" name="extend" value="{ ext[id] }" <!--#if selected --> checked="checked" <!--#endif selected --> /></td>
	</tr>
	<!--#endin getnext -->

	<tr>
		<td colspan="2" align="center"><br /><input type="submit" value="{ t_next }" /></td>
	</tr>
	</table>

</td>
</tr>
</table>

</form>
<!--#end extend_type -->




<!--#begin edit_extended_type -->
<script type="text/javascript">
<!--
function delete_type()
	{
	//}
	if (confirm('{ delete_type_confirmJs }'))
		{
		var f = document.forms.extend_type;
		f.action.value = 'delete_type';
		f.submit();
		}
	}

//-->
</script>
<form name="extend_type" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_types" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_extended_type" />
<input type="hidden" name="extend" value="{ id_extend }" />
<input type="hidden" name="id_type" value="{ id }" />
<input type="hidden" name="id_table" value="{ id_table }" />

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="7" cellspacing="0">

	<tr>
		<td align="center" colspan="2"><h5>{ extend[name] }</h5></td>
	</tr>
	
	
	
	<tr>
		<td align="right">{ t_name } :</td>
		<td><input type="text" name="name" value="{ arr[name] }" size="20" maxlength="32" /></td>
	</tr>
	<tr>
		<td align="right">{ t_description } :</td>
		<td><input type="text" name="description" value="{ arr[description] }" size="35" /></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<!--#if formatdate -->
	
	<tr>
		<td align="right">{ t_view_date_format } :</td>
		<td>
			<input type="radio" name="view_date_format" value="1" <!--#if options[view_date_format] "== 1" --> checked="checked" <!--#endif options[view_date_format] --> /> { t_date_forms }<br />
			<input type="radio" name="view_date_format" value="2" <!--#if options[view_date_format] "== 2" --> checked="checked" <!--#endif options[view_date_format] --> /> { t_date_ovidentia }
		</td>
	</tr>

	<!--#endif formatdate -->

	<!--#if resdir -->

	<tr>
		<td align="right">{ t_directory } :</td>
		<td>
		<select name="id_directory">
			<!--#in getnextdir -->
			<option value="{ value }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ option }</option>
			<!--#endin getnextdir -->
		</select>
		</td>
	</tr>

	<!--#endif resdir -->
	
	<tr>
		<td align="right" valign="top">{ t_forms_elements } :</td>
		<td>
		<!--#in getnextformelement -->
		<input type="checkbox" name="id_forms_elements[]" value="{ fe[id] }" <!--#if checked --> checked="checked" <!--#endif checked --> /> { fe[description] }<br />
		<!--#endin getnextformelement -->
		</td>
	</tr>

	<!--#if on_delete_user -->
	<tr>
		<td>&nbsp;</td>
		<td>
		<br /><br />
		<input type="checkbox" name="on_delete_user" value="1" <!--#if on_delete_user_checked --> checked="checked" <!--#endif on_delete_user_checked --> /> { t_on_delete_user }
		</td> 
	</tr>

	<!--#endif on_delete_user -->
	
	<tr>
		<td colspan="2" align="center">
			<br /><input type="submit" value="{ t_record }" />
			<!--#if arr[notused] -->
			&nbsp; <input type="button" onclick="delete_type()" value="{ t_delete }" />
			<!--#endif arr[notused] -->
		</td>
	</tr>
	</table>

</td>
</tr>
</table>

</form>
<!--#end edit_extended_type -->





<!--#begin edit_type -->
<script type="text/javascript">
<!--
function type_change(obj)
	{
	var f = document.forms.edit_formats;
	f.idx.value = 'edit_type';
	f.submit();
	}
	
var applicables_forms = new Array();
var control_validity = new Array();
	<!--#in getnextsql_type -->
	applicables_forms['{ sql_type[id] }'] = new Array();
		applicables_forms['{ sql_type[id] }']['form_size'] = '{ sql_type[form_size] }';
		applicables_forms['{ sql_type[id] }']['form_deci'] = '{ sql_type[form_deci] }';
		applicables_forms['{ sql_type[id] }']['form_vals'] = '{ sql_type[form_vals] }';
		applicables_forms['{ sql_type[id] }']['form_attrib'] = '{ sql_type[form_attrib] }';
	<!--#endin getnextsql_type -->
	
function modify_html(obj)
	{
	var f = document.forms.edit_formats;
	for(var i in applicables_forms[obj.value])
		{
		if (applicables_forms[obj.value][i] == 'N')
			{
			document.getElementById(i).style.display = 'none';
			document.getElementById(i+'_el').disabled = true; 
			}
		else
			{
			document.getElementById(i).style.display = '';
			document.getElementById(i+'_el').disabled = false; 
			}
		}
	}
	
	
function remove_from_select()
	{
	var f = document.forms.edit_formats;
	var sel = f.elements["sql_values[]"];
	var srclen = sel.options.length;
	for(i = 0; i < srclen; i++)
		{
		if (sel.options[i].selected)
			{
			sel.options[i] = null;
			}
		}
	}
	
function add_to_select()
	{
	var f = document.forms.edit_formats;
	if (f.value_to_add.value != '')
		{
		var sel = f.elements["sql_values[]"];
		var srclen = sel.options.length;
		var opt = new Option(f.value_to_add.value);
		sel.options[srclen] = opt;
		}
	}

function submitCtr()
	{
	var f = document.forms.edit_formats;
	if (!f.sql_size.disabled && !isNaN(f.sql_size.value) && (f.sql_size.value <= 0 || f.sql_size.value > 255))
		{
		f.sql_size.focus();
		f.sql_size.select();
		return false;
		}
	else if (!f.sql_decimal.disabled && !isNaN(f.sql_decimal.value) && (f.sql_decimal.value <= 0 || f.sql_decimal.value > 30 || f.sql_decimal.value <= (f.sql_size.value-2)))
		{
		f.sql_decimal.focus();
		f.sql_decimal.select();
		return false;
		}
	var list = f.elements["sql_values[]"];
	if ( list.options.length < 2 && (f.sql_type.value == 21 || f.sql_type.value == 22))
		{
		f.sql_type.focus();
		return false;
		}
	for(i=0; i < list.options.length; i++)
		{
		list.options[i].selected = true;
		}
	return true;
	}
	
function delete_type()
	{
	//{}
	if (confirm('{ delete_type_confirmJs }'))
		{
		var f = document.forms.edit_formats;
		f.action.value = 'delete_type';
		f.submit();
		}
	}

//-->
</script>
<form name="edit_formats" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="{ nextidx }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_type" />
<input type="hidden" name="id_type" value="{ id }" />
<input type="hidden" name="id_table" value="{ id_table }" />
<input type="hidden" name="id_form" value="{ id_form }" />

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="5" cellspacing="0">

	<tr>
		<td align="right">{ t_name }</td>
		<td><input type="text" name="name" value="{ arr[name] }" size="20" maxlength="32" /></td>
	</tr>
	<tr>
		<td align="right">{ t_description }</td>
		<td><input type="text" name="description" value="{ arr[description] }" size="35" /></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	
	<tr>
		<td align="right">{ t_sql_type }</td>
		<td>
			<select name="sql_type" onchange="modify_html(this)">
				<!--#in getnextsql_type -->
				<option value="{ sql_type[id] }" { selected }>{ sql_type[name] }</option>
				<!--#endin getnextsql_type -->
			</select>
		</td>
	</tr>
	<tr id="form_size">
		<td align="right">{ t_sql_size }</td>
		<td><input type="text" name="sql_size" id="form_size_el" value="{ sql[sql_size] }" size="10" /></td>
	</tr>
	<tr id="form_deci">
		<td align="right">{ t_sql_decimal }</td>
		<td><input type="text" name="sql_decimal" id="form_deci_el" value="{ sql[sql_decimal] }" size="10" /></td>
	</tr>
	<tr id="form_vals">
		<td align="right">{ t_sql_vals }</td>
		<td>
		<select multiple name="sql_values[]" id="form_vals_el">
		<!--#in getnextsqlvalue -->
			<option value="{ value }">{ value }</option>
		<!--#endin getnextsqlvalue -->
		</select>
		<input type="text" name="value_to_add" value="" size="15" />
		<input type="button" value="{ t_add }" onclick="add_to_select()" />
		<input type="button" value="{ t_del }" onclick="remove_from_select()" />
		</td>
	</tr>
	<tr id="form_attrib">
		<td align="right">{ t_sql_attrib }</td>
		<td>
			<select name="sql_attrib" id="form_attrib_el">
				<option value=""></option>
				<option value="unsigned" { unsigned_selected }>{ t_unsigned }</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" colspan="2" nowrap>
			<input type="submit" value="{ t_button }" />
			<!--#if arr[notused] -->
			<input type="button" onclick="delete_type()" value="{ t_delete }" />
			<!--#endif arr[notused] -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
modify_html(document.forms.edit_formats.sql_type);
//-->
</script>
<!--#end edit_type -->

<!--#begin list_forms -->
<p align="left">
	{ t_filter_by_table } : 
	 <select id="form_table_filter" onchange="document.location.href=this.value">
		<option value="{ babAddonUrl }main&idx=list_forms&id_table=0"></option>
		<!--#in getnexttable -->
		<option value="{ babAddonUrl }main&idx=list_forms&id_table={ table[id] }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ table[name] }</option>
		<!--#endin getnexttable -->
	 </select> 
	 | <a href="{ babAddonUrl }help&idx=list">{ t_help_management }</a> 
	 | <a href="{ babAddonUrl }proposal&idx=list">{ t_proposal_management }</a> 
	 | <a href="{ babAddonUrl }main&idx=copy_form">{ t_copy_form }</a>
</p>


<script type="text/javascript">
<!--
document.onmousemove = bab_tooltipPosition;

document.getElementById('form_table_filter').value = document.location.href;

-->
</script>

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			<a href="{ urlorderby }&orderby=f.name">{ t_name }</a>
		</td>
		<td>
			<a href="{ urlorderby }&orderby=t.name,f.name">{ t_form }</a>
		</td>
		<td>
			{ t_edit }
		</td>
		<td>
			{ t_options }
		</td>
		<td align="center">
			{ t_ordering }
		</td>
		<td align="center">
			<a href="{ access_all_url }" title="{ t_access_title }">{ t_acces }</a>
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td <!--#if arr[description] --> onmouseover="bab_showOnMouse('formdesc{ arr[id] }',1)" onmouseout="bab_showOnMouse('formdesc{ arr[id] }',0)" <!--#endif arr[description] -->>
			{ arr[name] }<!--#if arr[description] --> <span id="formdesc{ arr[id] }" class="FORMS_tooltip">{ arr[description] }</span> <!--#endif arr[description] -->
		</td>
		<td>
		<!--#if allow_form -->
			<a href="{ form_url }" title="{ t_form } : { arr[type] }"><img src="{ babSkinPath }images/addons/forms/formtype_{ arr[id_type] }.gif" border="0" alt="{ t_type } { arr[type] }" /></a>
		<!--#endif allow_form -->
		</td>
		<td>
			<a href="{ edit_url }" title="{ t_edit }"><img src="{ babSkinPath }images/addons/forms/button_properties.png" border="0" alt="{ t_edit }" /></a>

		</td>
		<td nowrap="nowrap">
			<!--#if create_mod -->
			<a href="{ mail_url }" title="{ t_mail }"><img src="{ babSkinPath }images/addons/forms/mail.png" border="0" alt="{ t_mail }" /></a> &nbsp;

			<a href="{ elements_url }" title="{ t_elements }"><img src="{ babSkinPath }images/addons/forms/tools.gif" border="0" alt="{ t_elements }" /></a> &nbsp;

			<a href="{ init_url }" title="{ t_init }"><img src="{ babSkinPath }images/addons/forms/init.gif" border="0" alt="{ t_init }" /></a> &nbsp;
			<!--#endif create_mod -->

			<!--#if search -->
			<a href="{ search_url }" title="{ t_search }"><img src="{ babSkinPath }images/addons/forms/search.gif" border="0" alt="{ t_search }" /></a> &nbsp;
			
			<a href="{ ordgrp_url }" title="{ t_ordgrp }"><img src="{ babSkinPath }images/addons/forms/order.gif" border="0" alt="{ t_ordgrp }" /></a> &nbsp;
			<!--#endif search -->

			<!--#if transform -->
			<a href="{ transform_url }" title="{ t_transform }"><img src="{ babSkinPath }images/addons/forms/transform.gif" border="0" alt="{ t_transform }" /></a> &nbsp;
			<!--#endif transform -->

			<!--#if mod_view -->
			<a href="{ styles_url }" title="{ t_styles }"><img src="{ babSkinPath }images/addons/forms/styles.gif" border="0" alt="{ t_styles }" /></a> &nbsp;

			<a href="{ form_increment_url }" title="{ t_increment }"><img src="{ babSkinPath }images/addons/forms/increment.gif" border="0" alt="{ t_increment }" /></a> &nbsp;
			<!--#endif mod_view -->
		
			<!--#if form_approb -->
			<a href="{ form_approb_url }" title="{ t_form_approb }"><img src="{ babSkinPath }images/addons/forms/approb.gif" border="0" alt="{ t_form_approb }" /></a> &nbsp;
			<!--#endif form_approb -->
			
			<!--#if approbation_list -->
			<a href="{ approbation_list_url }" title="{ t_approbation_list }"><img src="{ babSkinPath }images/addons/forms/approb_list.gif" border="0" alt="{ t_approbation_list }" /></a> &nbsp;
			<!--#endif approbation_list -->

			<!--#if arr[curl_required] "== Y" -->
			<a href="{ curl_url }" title="{ t_curl }"><img src="{ babSkinPath }images/addons/forms/curl.gif" border="0" alt="{ t_curl }" /></a> &nbsp;
			<!--#else arr[curl_required] -->
			<!--#if nocurl -->
				{ t_curl_required } &nbsp;
			<!--#endif nocurl -->
			<!--#endif arr[curl_required] -->
		</td>
		<td align="center">
			<a href="{ ordering_url }" title="{ t_ordering }"><img src="{ babSkinPath }images/Puces/a-z.gif" border="0" alt="{ t_ordering }"></a>
		</td>
		<td align="center">
			<a href="{ acces_url }" title="{ t_acces }"><img src="{ babSkinPath }images/addons/forms/button_lock.gif" alt="{ t_acces }" border="0"></a>
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end list_forms -->

<!--#begin edit_form -->
<script type="text/javascript">
<!--


function changetype()
	{
	var f= document.forms.edit_form;
	var t = parseInt(f.id_type.value);

	// [ list, Create/modify, view, Transaction, Shopping card, Shopping list, approbation, waiting ]
	var fields = {
				list_filed_rows:		[0,1,1,1,1,0,1,0],
				rows_per_page:			[0,1,1,1,1,0,1,0],
				buttons_next_previous:	[0,1,1,1,1,0,1,0],
				view_notempty:			[1,0,1,0,1,0,0,1],
				allow_delete:			[0,1,1,1,0,0,1,0],
				id_table_copy:			[1,0,1,0,1,1,0,1],
				waiting_modify:			[1,0,1,1,1,1,1,1],
				delete_refused:			[1,1,1,1,1,1,0,1]
				};


	for(var i in fields)
		{
		if (typeof f.elements[i] != 'undefined')
			f.elements[i].disabled = fields[i][t-1];
		}

	

	init_each_field();
	}

function changetable()
	{
	if (!submitCtr()) return false;

	var f= document.forms.edit_form;
	if (f.id_table.value != '' && !isNaN(f.id_table.value))
		{
		f.action.value = 'init_fields';
		}
	f.idx.value = 'edit_form';
	f.submit();
	}

function changetable_copy()
	{
	if (!submitCtr()) return false;
	var f= document.forms.edit_form;
	f.idx.value = 'edit_form';
	f.submit();
	}

function type_link_lock(index)
	{
	var f = document.forms.edit_form;
	var t = parseInt(f.id_type.value);

	eval('var el_type = f.field_type_'+index+';');
	eval('var el_link = f.field_table_field_'+index+';');

	if (el_link.value != 0 && el_link.disabled == false)
		el_type.disabled = true;
	else
		el_type.disabled = false;
	if (el_type.value != 0 && el_type.disabled == false)
		el_link.disabled = true;
	else
		el_link.disabled = false;
	}



function init_each_field()
	{
	var f = document.forms.edit_form;
	var prefix = 'field_name_';
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			var index = parseInt(objCtrl.name.substring(prefix.length,objCtrl.name.length));
			type_link_lock(index);
			}
		}
	}

function submitCtr()
	{
	var f = document.forms.edit_form;
	removespaces(f.name)
	if (f.name.value == '') return false;

	var type = parseInt(f.id_type.value);
	var fieldcount = 0;
	var prefix = 'field_name_';
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			var index = parseInt(objCtrl.name.substring(prefix.length,objCtrl.name.length));
			eval('var el_type = f.field_type_'+index+';');
			eval('var el_link = f.field_table_field_'+index+';');
			eval('var mail = f.field_mail_'+index+';');
			eval('var search = f.field_search_'+index+';');

			fieldcount++;

			switch (type)
				{
				case 1: // list
					
					break;
				case 2: // edit
					if (print.value > 2)
						{
						//{}
						alert('{ js_alert_print } '+fieldcount);
						objCtrl.focus();
						return false;
						}
					break;
				case 3: // view
					if (print.value > 4)
						{
						//{}
						alert('{ js_alert_print } '+fieldcount);
						objCtrl.focus();
						return false;
						}
					break;
				}
			}
		}
	

	return true;
	}

function add_type()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_form;
	f.idx.value='add_type';
	f.submit();
	}

function add_fields()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_form;
	var x = parseInt(f.nb_fields.value);
	if (!isNaN(x))
		f.nb_fields.value = x + parseInt(f.fields_to_add.value);
	else
		f.nb_fields.value = parseInt(f.fields_to_add.value);
	f.idx.value = 'edit_form';
	f.submit();
	}

function del_list(prefix, objcnt)
	{
	if (!submitCtr()) return false;
	var f = document.forms['edit_form'];
	var count = 0;
	var todelete = 0;

	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (!objCtrl.checked)
				count++;
			else
				todelete++;
			}
		}

	if (todelete == 0 || todelete > 0 && confirm('{ js_alert }'))
		{
		objcnt.value = count;
		f.idx.value = 'edit_form';
		f.submit();
		}
	}

function init_fields()
	{
	if (!submitCtr()) return false;

	var f = document.forms.edit_form;
	if (f.id_table.value != '' && !isNaN(f.id_table.value))
		{
		f.action.value = 'init_fields';
		f.idx.value = 'edit_form';
		f.submit();
		}
	}

function delete_form()
	{
	//{}
	if (confirm('{ js_confirmdelete }'))
		{
		var f = document.forms.edit_form;
		f.action.value='delete_form';
		f.submit();
		}
	}

function removespaces(nom)
	{
	while(''+nom.value.charAt(nom.value.length-1)==' ') nom.value=nom.value.substring(0,nom.value.length-1);
	}

function more(index,id_field)
	{
	if (typeof id_field == 'undefined')
		var id_field = '';
	var f = document.forms.edit_form;
	//{}
	bab_popup('{ babAddonUrl }main&idx=options_field&index='+index+'&id_type='+f.id_type.value+'&id_field='+id_field,3);
	}

function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked || obj.className != 'checked') 
				{
				objCtrl.checked = true;
				}
			else 
				{
				objCtrl.checked = false;
				}
			}
		}

	if (obj.className == 'checked')
		{
		obj.className = '';
		}
	else
		{
		obj.className = 'checked';
		}
	}

function setdefaultvalue(field, value)
	{
	var f = document.forms.edit_form;
	eval('f.'+field+'.value = '+value+';');
	}


function copy_form()
	{
	var f = document.forms['edit_form'];
	
	if (confirm('{ t_create_form_copy }'))
		{
		f.id_form.value = '';

		for (i = 0; i < f.elements.length; i++)
			{
			var objCtrl = f.elements[i];
			if (objCtrl.name.indexOf('field_id_') == 0)
				{
				objCtrl.value = '';
				}
			}

		f.submit();
		}
	}


//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form">
<input type="hidden" name="id_form" value="{ id }">
<input type="hidden" name="nb_fields" value="{ arr[nb_fields] }">
<input type="hidden" name="id_order_by" value="{ arr[id_order_by] }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td align="right" colspan="2">{ t_name }</td>
		<td colspan="3"><input type="text" name="name" value="{ arr[name] }" maxlength="32" /></td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_description }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,edit,description" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td colspan="3"><input type="text" name="description" value="{ arr[description] }" maxlength="255" /></td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_longdesc }</td>
		<td colspan="3"><textarea name="longdesc">{ arr[longdesc] }</textarea></td>
	</tr>

	

	<tr>
		<td align="right" colspan="2">{ t_type }</td>
		<td colspan="3">
			<select name="id_type" onchange="changetype()">
			<!--#in getnextformtype -->
				<option value="{ type[id] }" { selected }>{ type[name] }</option>
			<!--#endin getnextformtype -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_table }</td>
		<td colspan="3">
			<select name="id_table" onchange="changetable()">
				<option value=""></option>
			<!--#in getnexttable -->
				<option value="{ table[id] }" { selected }>{ table[name] }</option>
			<!--#endin getnexttable -->
			</select>
			<input type="button" value="{ t_init_fields }" onclick="init_fields()">
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_id_table_copy }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,id_table_copy" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
			<select name="id_table_copy" onchange="changetable_copy()">
				<option value=""></option>
			<!--#in getnexttable -->
				<option value="{ table[id] }" { selected }>{ table[name] }</option>
			<!--#endin getnexttable -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_css_file }</td>
		<td colspan="3">
			<select name="css_file">
			<!--#in getnextstyle -->
				<option value="{ style }" { selected }>{ styleDisplay }</option>
			<!--#endin getnextstyle -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_list_filed_rows }</td>
		<td colspan="3">
			<select name="list_filed_rows">
			<!--#if arr[list_filed_rows] "== HIDE" -->
				<option value="HIDE" selected="selected">{ t_hide }</option>
				<option value="VIEWABLE">{ t_viewable }</option>
			<!--#else arr[list_filed_rows] -->
				<option value="HIDE">{ t_hide }</option>
				<option value="VIEWABLE" selected="selected">{ t_viewable }</option>
			<!--#endif arr[list_filed_rows] -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_rows_per_page }</td>
		<td colspan="3">
			<input type="text" name="rows_per_page" value="{ arr[rows_per_page] }" size="4">
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_buttons_next_previous }</td>
		<td colspan="3">
			<!--#if arr[buttons_next_previous] "== Y" -->
			<input type="checkbox" name="buttons_next_previous" checked>
			<!--#else arr[buttons_next_previous] -->
			<input type="checkbox" name="buttons_next_previous">
			<!--#endif arr[buttons_next_previous] -->
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_allow_delete }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,allow_delete" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
			<!--#if arr[allow_delete] "== Y" -->
			<input type="checkbox" name="allow_delete" checked>
			<!--#else arr[allow_delete] -->
			<input type="checkbox" name="allow_delete">
			<!--#endif arr[allow_delete] -->
		</td>
	</tr>

	<tr>
		<td align="right" colspan="2">{ t_view_notempty }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,view_notempty" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
			<select name="view_notempty">
				<!--#if arr[view_notempty] "== N" -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#else arr[view_notempty] -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#endif arr[view_notempty] -->
			</select>
		</td>
	</tr>

	

	<tr>
		<td align="right" colspan="2">{ t_waiting_modify }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,waiting_modify" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
			<select name="waiting_modify">
				<!--#if arr[waiting_modify] "== 0" -->
				<option value="0" selected="selected">{ t_no }</option>
				<option value="1">{ t_creator_only }</option>
				<option value="2">{ t_all }</option>
				<!--#endif arr[waiting_modify] -->

				<!--#if arr[waiting_modify] "== 1" -->
				<option value="0">{ t_no }</option>
				<option value="1" selected="selected">{ t_creator_only }</option>
				<option value="2">{ t_all }</option>
				<!--#endif arr[waiting_modify] -->

				<!--#if arr[waiting_modify] "== 2" -->
				<option value="0">{ t_no }</option>
				<option value="1">{ t_creator_only }</option>
				<option value="2" selected="selected">{ t_all }</option>
				<!--#endif arr[waiting_modify] -->
			</select>
			
			<!--#if arr[delete_refused] "== 1" -->
			<input type="checkbox" name="delete_refused" value="1" checked="checked" /> 
			<!--#else arr[delete_refused] -->
			<input type="checkbox" name="delete_refused" value="1" /> 
			<!--#endif arr[delete_refused] -->
			{ t_delete_refused }
		</td>
	</tr>

	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td>{ t_type }</td>
		<td>{ t_field }</td>
		<td>{ t_more }</td>
		<td><a href="javascript:check_uncheck(this,'del_fields')">{ t_delete }</a></td>
	</tr>

	<!--#in getnextfield -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td>
			<input type="text" name="field_name_{ index }" value="{ field[name] }" maxlength="32" size="10" />

			<input type="hidden" name="field_id_{ index }" value="{ field[id] }" />
			<input type="hidden" name="field_print_{ index }" value="{ field[id_print] }" />
			<input type="hidden" name="field_description_{ index }" value="{ field[description] }" />
			<input type="hidden" name="field_filter_on_dir_{ index }" value="{ field[filter_on_dir] }" />
			<input type="hidden" name="field_filter_on_{ index }" value="{ field[filter_on] }" />
			<input type="hidden" name="field_filter_type_{ index }" value="{ field[filter_type] }" />
			<input type="hidden" name="field_use_key_val_{ index }" value="{ field[field_use_key_val] }" />
			<input type="hidden" name="field_copy_table_field_{ index }" value="{ field[field_copy_table_field] }" />
			<input type="hidden" name="field_copy_on_change_{ index }" value="{ field[field_copy_on_change] }" />
			<input type="hidden" name="field_help_{ index }" value="{ field[field_help] }" />
			<input type="hidden" name="field_link_to_fill_{ index }" value="{ field[field_link_to_fill] }" />
		</td>
		<td nowrap>
			<select name="field_type_{ index }" onchange="type_link_lock({ index })">
				<option value="0"></option>
			<!--#in getnexttype -->
				<option value="{ type[id] }" { selected }>{ type[name] }</option>
			<!--#endin getnexttype -->
			</select>
		</td>
		<td>
			<select name="field_table_field_{ index }" onchange="type_link_lock({ index })">
				<option value="0"></option>
				<!--#in getnextlink -->
				<option value="{ link[id] }" { selected }>{ link[name] }</option>
				<!--#endin getnextlink -->
				<!--#in getnextoptgroup -->
				<optgroup label="{ optgroupname_label }">
					<!--#in getnextoptgroupvalue -->
					<option value="{ linkid }" { selected }>{ linkname }</option>
					<!--#endin getnextoptgroupvalue -->
				</optgroup>
				<!--#endin getnextoptgroup -->
				<!--#in getnextlnk -->
				<optgroup label="{ lnk_name }" style="color:red">
					<!--#in getnextlnkvalue -->
					<option value="lnk-{ lnk_id }-{ flnk[id] }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ flnk[name] }</option>
					<!--#endin getnextlnkvalue -->
				</optgroup>
				<!--#endin getnextlnk -->
				<!--#in getnexttablelnk2 -->
				<!--#in getnextlnk2 -->
				<optgroup label="{ lnk_name }" style="color:green">
					<!--#in getnextlnkvalue2 -->
					<option value="lnk-{ lnk_id }-{ flnk[id] }-{ lnk2_id_field }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ flnk[name] }</option>
					<!--#endin getnextlnkvalue2 -->
				</optgroup>
				<!--#endin getnextlnk2 -->
				<!--#endin getnexttablelnk2 -->
			</select>
		</td>

		<td>
			<!--#if field[id] -->
			<a href="javascript:more({ index },{ field[id] })">{ t_more }</a>
			<!--#else field[id] -->
			<a href="javascript:more({ index })">{ t_more }</a>
			<!--#endif field[id] -->
		</td>
		<td>
			<input type="checkbox" name="del_fields[]" value="{ index }" />
		</td>
	</tr>

	<!--#endin getnextfield -->

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>&nbsp;</td>
		<td><input type="button" onclick="add_type()" value="{ t_add_type }" /></td>
		<td colspan="3" align="right" nowrap>
			{ t_add }&nbsp;<input type="text" name="fields_to_add" value="1" size="3" maxlength="2">&nbsp;{ t_fields }&nbsp;<input type="button" value="{ t_ok }" onclick="add_fields();">
			&nbsp;
			<input type="button" value="{ t_delete }" onclick="del_list('del_fields',document.forms['edit_form'].nb_fields);" />
		</td>
	</tr>

	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>

	<tr>
		<td colspan="5" align="center"><input type="submit" value="{ t_record }">&nbsp;
		<!--#if id -->
		<input type="button" value="{ t_delete }" onclick="delete_form()">
		<!--#endif id --></td>
	</tr>

	<tr>
		<td colspan="6">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
init_each_field();
changetype();
//-->
</script>
<!--#end edit_form -->


<!--#begin order_form -->
<script type="text/javascript">
<!--
function move(bDir, el)
	{
	var idx = el.selectedIndex
	if (idx !=-1 && idx != 0) 
	{
		if( idx == 1 && bDir == true)
			return;
		if( idx == el.options.length-1 && bDir == false)
			return;
		var nxidx = idx + ( bDir ? - 1 : 1)
		if ( nxidx<0 )
			nxidx=el.length-1
		if ( nxidx>=el.length) nxidx=0
		var oldVal = el[idx].value
		var oldText = el[idx].text
		el[idx].value = el[nxidx].value
		el[idx].text = el[nxidx].text
		el[nxidx].value = oldVal
		el[nxidx].text = oldText
		el.selectedIndex = nxidx
	}
}

function moveOptions(src,dest)
{	 
	srclen = src.options.length;
	reslen = dest.options.length + srclen;
	resopt = new Array(reslen);
	destcnt = 1;
	rescnt = 1;
	resopt[0] = new Option(dest.options[0].text,dest.options[0].value);
	while(destcnt < dest.options.length)
	{
		resopt[rescnt] = new Option(dest.options[destcnt].text,dest.options[destcnt].value);
		destcnt++;
		rescnt++;
	}
	for(i = 1; i < srclen; i++)
	{
		while((i < srclen) && (src.options[i].selected == false))
			i++;
		if(i < srclen)
		{
			if(src.options[i].value != src.options[0].value)
			{
				resopt[rescnt] = new Option(src.options[i].text,src.options[i].value);
				src.options[i] = null;
				i--;
				srclen--;
				rescnt++;
			}
		}
	}
	for(i=0; i< rescnt;i++)
	{
		dest.options[i] = null;
		dest.options[i] = resopt[i];
	}
}

function selectAll(list)
{
	list.options[0].selected = false;
	for(i=1; i < list.options.length; i++)
	{
		dummy = 1;
		list.options[i].selected = true;
	}
}

//-->
</script>

<form method="post" name="ordform" action="{ babPhpSelf }" onSubmit="selectAll(document.getElementById('sortlist'));">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="action" value="order_form">
<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground" align="center">
	<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td class="BabLoginMenuBackground" align="right" width="70%">
		<br>
		<select id="sortlist" name="listfields[]" size="20" multiple="multiple">
			<option value="">---------- { form_name } ----------</option>
			<!--#in getnext --> 
			<option value="{ arr[id] }">{ arr[name] }</option>
			<!--#endin getnext --> 
		</select>
		<br><br>
			<input type="submit" value="{ t_record }" >
		<br><br>
		</td>
		<td class="BabLoginMenuBackground" align="left">
		<a href="Javascript:move(true, document.getElementById('sortlist'))">
		<img src="{ babSkinPath }images/Puces/PuceGoTop.gif" width="22" height="18" border="0" alt="{ moveup }"></a>
		<br>
		<br>
		<a href="Javascript:move(false, document.getElementById('sortlist'))"> 
		<img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border="0" alt="{ movedown }"></a>
		</td>
	</tr>
	</table>
</td></tr></table>

</form>
<!--#end order_form -->

<!--#begin options_field -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{ babSiteName }</title>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
function lockByType(type)
	{
	var f = document.forms.option;
	var t = parseInt(type);

	// [ list, Create/modify, view, Transaction, Shopping card, Shopping list, Approbation, waiting ]

	var fields = {
				filter_on_dir:			[0,1,0,1,1,0,1,0],
				filter_on:				[0,1,0,1,1,0,1,0],
				filter_type:			[0,1,0,1,1,0,1,0],
				field_use_key_val:		[1,0,0,1,1,1,1,1],
				field_copy_table_field: [1,0,1,0,1,1,0,1],
				field_copy_on_change:	[1,0,1,0,1,1,0,1],
				field_help:				[0,0,0,0,0,0,0,0],
				field_link_to_fill:		[1,0,1,1,1,1,1,1]
				};

	for(var i in fields)
		{
		if (typeof f.elements[i] == 'undefined')
			alert('error : missing '+i);
		else
			f.elements[i].disabled = fields[i][t-1];
		}

	
	}


function getOptions()
	{
	var f1 = opener.document.forms.edit_form;
	var f2 = document.forms.option;

	f2.field_description.value = f1.field_description_{ index }.value;
	f2.field_print.value = f1.field_print_{ index }.value > 0 ? f1.field_print_{ index }.value : 1;
	f2.filter_on_dir.value = f1.field_filter_on_dir_{ index }.value;
	f2.filter_on.value = f1.field_filter_on_{ index }.value;
	f2.filter_type.value = f1.field_filter_type_{ index }.value;
	f2.field_use_key_val.value = f1.field_use_key_val_{ index }.value;
	f2.field_copy_table_field.value = f1.field_copy_table_field_{ index }.value;
	f2.field_copy_on_change.checked = f1.field_copy_on_change_{ index }.value == 1 ? true : false;
	f2.field_help.value = f1.field_help_{ index }.value;
	f2.field_link_to_fill.value = f1.field_link_to_fill_{ index }.value;

	lockByType(f1.id_type.value);
	}

function putOptions()
	{
	var f1 = opener.document.forms.edit_form;
	var f2 = document.forms.option;

	f1.field_description_{ index }.value = f2.field_description.value;
	f1.field_print_{ index }.value = f2.field_print.value;
	f1.field_filter_on_dir_{ index }.value = f2.filter_on_dir.value;
	f1.field_filter_on_{ index }.value = f2.filter_on.value;
	f1.field_filter_type_{ index }.value = f2.filter_type.value;
	f1.field_use_key_val_{ index }.value = f2.field_use_key_val.value;
	f1.field_copy_table_field_{ index }.value = f2.field_copy_table_field.value;
	f1.field_copy_on_change_{ index }.value = f2.field_copy_on_change.checked ? 1 : 0;
	f1.field_help_{ index }.value = f2.field_help.value;
	f1.field_link_to_fill_{ index }.value = f2.field_link_to_fill.value;

	window.close();
	}


function field_filter_change()
	{
	var f1 = opener.document.forms.edit_form;
	var f2 = document.forms.option;

	if (f2.filter_on_dir.value == '' && f1.id_type.value != 2)
		f2.filter_on.disabled = false;
	else
		f2.filter_on.disabled = true;
	}


// for ov < 5.4
var popup_obj = null;
function popup(url,divisor)
	{
	if (popup_obj == null || popup_obj.closed)
		{
		if (typeof divisor == 'undefined')
			{
				divisor = 3;
			}
		var wd = Math.round(screen.width/divisor);
		var hd = Math.round(screen.height/divisor);
		var w = screen.width-wd;
		var h = screen.height-hd;
		var l = Math.round(wd/2);
		var t = Math.round(hd/2);
		var name = 'popup'+Math.floor(Math.random() * 99999999);
		popup_obj = window.open(url,name,'status=yes,menubar=no,personalbar=no,width='+w+',height='+h+',top='+t+',left='+l+',scrollbars=yes,resizable=yes');
		}
	else
		{
		popup_obj.focus();
		popup_obj.location.href = url;
		}
	}
//-->
</script>
<br />
<form name="option">
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground">
	<table width="100%" border="0" cellspacing="0" cellpadding="3" class="BabLoginMenuBackground">
	<tr>
		<td align="center" colspan="2">
		{ t_options }
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_description }&nbsp;<a href="javascript:popup('{ babAddonUrl }user&idx=help&help_id=form,field,description',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<input type="text" name="field_description" value="" size="50" />
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_print }
		</td>
		<td>
			<select name="field_print">
				<!--#in getnextprint -->
				<option value="{ print[id] }">{ print[name] }</option>
				<!--#endin getnextprint -->
			</select>
		</td>
	</tr>
	


	<tr>
		<td  align="right">
		{ t_filter_on }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,filter" onclick="popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="filter_on_dir" onchange="field_filter_change()">
				<option value=""></option>
				<optgroup label="{ t_directory }">
				<!--#in getnextdirfields -->
				<option value="{ key }">{ value }</option>
				<!--#endin getnextdirfields -->
				</optgroup>
				<optgroup label="{ t_functions }">
				<!--#in getnextinit -->
				<option value="{ key }">{ value }</option>
				<!--#endin getnextinit -->
				</optgroup>
			</select>
			<input type="text" name="filter_on" value="" size="20" />
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_filter_type }
		</td>
		<td>
			<select name="filter_type">
				<!--#in getnextfiltertype -->
				<option value="{ key }">{ value }</option>
				<!--#endin getnextfiltertype -->
			</select>
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_field_use_key_val }
		</td>
		<td>
			<select name="field_use_key_val">
				<option value=""></option>
				<optgroup label="{ t_directory }">
				<!--#in getnextdirfields -->
				<option value="{ key }">{ value }</option>
				<!--#endin getnextdirfields -->
				</optgroup>
				<optgroup label="{ t_functions }">
				<!--#in getnextinit -->
				<option value="{ key }">{ value }</option>
				<!--#endin getnextinit -->
				</optgroup>
			</select>
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_field_copy_table_field }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,copy_table_field" onclick="popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="field_copy_table_field">
				<option value="0"></option>
				<!--#in getnexttablecol -->
				<option value="{ tablecol[id] }">{ tablecol[name] }</option>
				<!--#endin getnexttablecol -->
			</select>
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_field_copy_on_change }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,copy_on_change" onclick="popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<input type="checkbox" name="field_copy_on_change" />
			
		</td>
	</tr>
	<tr>
		<td  align="right">
		{ t_field_help }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,help" onclick="popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="field_help">
				<option value="0"></option>
				<!--#in getnexthelp -->
				<option value="{ help[id] }">{ help[name] }</option>
				<!--#endin getnexthelp -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td  align="right">
		{ t_field_link_to_fill }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,link_to_fill" onclick="popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td>
			<select name="field_link_to_fill">
				<option value="0"></option>
				<!--#in getnextfill -->
				<option value="{ fill[id] }">{ fill[name] }</option>
				<!--#endin getnextfill -->
			</select>
		</td>
	</tr>

	<tr>
		<td colspan="2">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="button" value="{ t_ok }" onclick="putOptions()" />
		</td>
	</tr>
	</table>
</td></tr></table>
</form>
<br />
<script type="text/javascript">
<!--
getOptions();
field_filter_change();
-->
</script>
</body>
</html>
<!--#end options_field -->

<!--#begin pop_closer -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><head>
<title>{ babSiteName }</title>

{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();

function openerreload()
{
if (opener)
	opener.location.reload();
}
//-->
</script>
</head>
<body <!--#if refresh_parent --> onUnload="openerreload()" <!--#endif refresh_parent -->>
<table  width="100%" height="100%" border="0" cellspacing="0" cellpadding="1" align="center">
	<tr> 
		<td align="center" class="BabLoginMenuBackground" valign="middle">
			{ msg }
			<br /><br />
			<a href="javascript:this.close();" class="BabAlphabetLink">{ t_close }</a>
		</td>
	</tr>
</table>
<script type="text/javascript">
if (opener)
	setTimeout("this.close()","1000");
</script>
</body>
</html>
<!--#end pop_closer -->

<!--#begin card_fields -->
<script type="text/javascript">
<!--

function getfields(form)
{
var arr = new Array();
for(var i in form.elements)
	{
	if (typeof form.elements[i].name != 'undefined' && form.elements[i].name.substr(0,11) == 'card_field_')
		{
		arr.push(form.elements[i].name);
		}
	}
return arr;
}

function val_load()
{
var f2 = opener.document.forms.edit_form;
var f1 = document.forms.option;
var arr = getfields(f1);

for (var i in arr)
	{
	eval('f1.'+arr[i]+'.value = f2.'+arr[i]+'.value;');
	}
}

function val_put()
{
var f1 = opener.document.forms.edit_form;
var f2 = document.forms.option;
var arr = getfields(f2);

for (var i in arr)
	{
	eval('f1.'+arr[i]+'.value = f2.'+arr[i]+'.value;');
	}

window.close();
}
-->
</script>
<form name="option">
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground">
		<table width="100%" border="0" cellspacing="0" cellpadding="3" class="BabLoginMenuBackground">
			<tr>
				<td align="right">
				{ t_card_field_quantities }
				</td>
				<td>
					<select name="card_field_quantities">
						<option value="0"></option>
						<!--#in getnextfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextfield -->
					</select>
				</td>
			</tr>

			<tr>
				<td align="right">
				{ t_card_field_total }
				</td>
				<td>
					<select name="card_field_total">
						<option value="0"></option>
						<!--#in getnextfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextfield -->
					</select>
				</td>
			</tr>

			

			<tr>
				<td align="right">
				{ t_card_field_products_summary }
				</td>
				<td>
					<select name="card_field_products_summary">
						<option value="0"></option>
						<!--#in getnextfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextfield -->
					</select>
				</td>
			</tr>

			<tr>
				<td align="right">
				{ t_card_field_transaction_id }
				</td>
				<td>
					<select name="card_field_transaction_id">
						<option value="0"></option>
						<!--#in getnextfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextfield -->
					</select>
				</td>
			</tr>

			<tr>
				<td align="right">
				{ t_card_field_status }
				</td>
				<td>
					<select name="card_field_status">
						<option value="0"></option>
						<!--#in getnextfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextfield -->
					</select>
				</td>
			</tr>

			<tr>
				<td align="right">
				{ t_card_field_product_name }
				</td>
				<td>
					<select name="card_field_product_name">
						<option value="0"></option>
						<!--#in getnextprodfield -->
						<option value="{ field[id] }">{ field[name] }</option>
						<!--#endin getnextprodfield -->
					</select>
				</td>
			</tr>

			<tr>
				<td align="center" colspan="2">
					<input type="button" value="{ t_ok }" onclick="val_put()" />
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
val_load();
-->
</script>
<!--#end card_fields -->


<!--#begin copy_form -->
<form method="post" name="ordform" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="action" value="copy_form">
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground" align="center">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td align="right">{ t_form }</td>
		<td>
			<select name="id_form">
				<!--#in getnext -->
				<option value="{ arr[id] }">{ arr[name] }</option>
				<!--#endin getnext -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">{ t_newname }</td>
		<td>
			<input type="text" name="newname" />
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="{ t_copy }" /></td>
	</tr>
	</table>
</td></tr>
</table>
</form>
<!--#end copy_form -->