
<!--#begin edit_form_mail -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	var f = document.forms.edit_form;
	return true;
	}


function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked || obj.className != 'checked') 
				{
				objCtrl.checked = true;
				}
			else 
				{
				objCtrl.checked = false;
				}
			}
		}

	if (obj.className == 'checked')
		{
		obj.className = '';
		}
	else
		{
		obj.className = 'checked';
		}
	}

function setdefaultvalue(field, value)
	{
	var f = document.forms.edit_form;
	eval('f.'+field+'.value = '+value+';');
	}

//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_mail">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="4" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>

	<tr>
		<td colspan="4">
			<br />
			<h5>{ t_recipient }</h5>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_mail_user }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&idx=help&help_id=form,mail_user',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3" nowrap>
			<!--#if arr[mail_user] "== Y" -->
			<input type="checkbox" name="mail_user" value="Y" checked="checked" />
			<!--#else arr[mail_user] -->
			<input type="checkbox" name="mail_user" value="Y" />
			<!--#endif arr[mail_user] -->
		</td>
	</tr>

	<tr>
		<td align="right">{ t_mail }&nbsp;<a href="javascript:bab_popup('{ babAddonUrl }user&amp;idx=help&amp;help_id=form,mail',2)"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
			<input type="text" name="mail" value="{ arr[mail] }" size="60" />
			
		</td>
	</tr>

	<tr>
		<td align="right">{ t_id_table_field_mail }&nbsp;<a href="{ babAddonUrl }user&amp;idx=help&amp;help_id=form,mail_field" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
		<select name="id_table_field_mail">
			<option value=""></option>
			<!--#in getnextmailcol -->
			<option value="{ mailcol[id] }">{ mailcol[name] }</option>
			<!--#endin getnextmailcol -->
		</select>
		<!--#if arr[id_table_field_mail] -->
		<script type="text/javascript">
		<!--
			setdefaultvalue('id_table_field_mail',{ arr[id_table_field_mail] });
		//-->
		</script>
		<!--#endif arr[id_table_field_mail] -->
		</td>
	</tr>

	<tr>
		<td align="right">{ t_id_group_mail }</td>
		<td colspan="3">
		<select name="id_group_mail">
			<option value=""></option>
			<!--#in getnextgroup -->
			<option value="{ group[id] }">{ group[name] }</option>
			<!--#endin getnextgroup -->
		</select>
		<!--#if arr[id_group_mail] -->
		<script type="text/javascript">
		<!--
			setdefaultvalue('id_group_mail',{ arr[id_group_mail] });
		//-->
		</script>
		<!--#endif arr[id_group_mail] -->
		</td>
	</tr>

	<tr>
		<td colspan="4">
			<br />
			<h5>{ t_bcc }</h5>
		</td>
	</tr>

	<tr>
		<td align="right">{ t_mail_bcc }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,mail_bcc" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3"><input type="text" name="bcc" value="{ arr[bcc] }" size="60" /></td>
	</tr>

	<tr>
		<td align="right">{ t_id_table_field_bcc }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,mail_field_bcc" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="3">
		<select name="id_table_field_bcc">
			<option value=""></option>
			<!--#in getnextmailcol -->
			<option value="{ mailcol[id] }">{ mailcol[name] }</option>
			<!--#endin getnextmailcol -->
		</select>
		<!--#if arr[id_table_field_bcc] -->
		<script type="text/javascript">
		<!--
			setdefaultvalue('id_table_field_bcc',{ arr[id_table_field_bcc] });
		//-->
		</script>
		<!--#endif arr[id_table_field_bcc] -->
		
		</td>
	</tr>

	<tr>
		<td align="right">{ t_id_group_mail }</td>
		<td colspan="3">
		<select name="id_group_bcc">
			<option value=""></option>
			<!--#in getnextgroup -->
			<option value="{ group[id] }">{ group[name] }</option>
			<!--#endin getnextgroup -->
		</select>
		<!--#if arr[id_group_bcc] -->
		<script type="text/javascript">
		<!--
			setdefaultvalue('id_group_bcc',{ arr[id_group_bcc] });
		//-->
		</script>
		<!--#endif arr[id_group_bcc] -->
		</td>
	</tr>

	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<tr>
		<td align="right">{ t_mail_subject }</td>
		<td colspan="3"><input type="text" name="mail_subject" value="{ arr[mail_subject] }" size="60" /></td>
	</tr>

	<tr>
		<td align="right">{ t_mail_ignore_empty_values }</td>
		<td colspan="3"><input type="checkbox" name="mail_ignore_empty_values" value="1" <!--#if arr[mail_ignore_empty_values] --> checked="checked" <!--#endif arr[mail_ignore_empty_values] --> /></td>
	</tr>

	<tr>
		<td colspan="4"><br /></td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td align="left">{ t_name }</td>
	
		<td><a href="javascript:check_uncheck(this,'field_mail_')">{ t_mail }</a></td>
		<td><a href="javascript:check_uncheck(this,'field_mailonchange_')">{ t_mail_onchange }</a></td>

		<td>
		{ t_field_mail }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,field,field_mail" onclick="bab_popup(this.href,2); return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td>
			<!--#if field[mail] "== Y" -->
			<input type="checkbox" name="field_mail_{ index }" checked="checked" />
			<!--#else field[mail] -->
			<input type="checkbox" name="field_mail_{ index }" />
			<!--#endif field[mail] -->
		</td>

		<td>
			<!--#if field[field_mailonchange] -->
			<input type="checkbox" name="field_mailonchange_{ index }" checked="checked" />
			<!--#else field[field_mailonchange] -->
			<input type="checkbox" name="field_mailonchange_{ index }" />
			<!--#endif field[field_mailonchange] -->
		</td>

		<td>
			<select name="field_usemail_{ index }">
				<option value=""></option>
				<option value="mailTo" <!--#if field[field_usemail] "== mailTo" -->selected="selected"<!--#endif field[field_usemail] -->>{ t_mailTo }</option>
				<option value="mailBcc" <!--#if field[field_usemail] "== mailBcc" -->selected="selected"<!--#endif field[field_usemail] -->>{ t_mailBcc }</option>

				<option value="mailToId" <!--#if field[field_usemail] "== mailToId" -->selected="selected"<!--#endif field[field_usemail] -->>{ t_mailToId }</option>
				<option value="mailBccId" <!--#if field[field_usemail] "== mailBccId" -->selected="selected"<!--#endif field[field_usemail] -->>{ t_mailBccId }</option>
				
			</select>
		</td>
	</tr>

	<!--#endin getnext -->
	<tr>
		<td colspan="4" align="center"><br /><input type="submit" value="{ t_submit }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_mail -->




<!--#begin edit_form_search -->
<script type="text/javascript">
<!--

function submitCtr()
	{
	var f = document.forms.edit_form;
	
	return true;
	}



function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked || obj.className != 'checked') 
				{
				objCtrl.checked = true;
				}
			else 
				{
				objCtrl.checked = false;
				}
			}
		}

	if (obj.className == 'checked')
		{
		obj.className = '';
		}
	else
		{
		obj.className = 'checked';
		}
	}


//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_search">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="4" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>

	

	<tr>
		<td align="right"><input type="radio" name="search_box" id="search_box_0" value="0" <!--#if arr[search_box] "== 0" --> checked="checked"<!--#endif arr[search_box] --> /></td>
		<td colspan="3"><label for="search_box_0">{ t_search_box_0 }</label></td>
	</tr>

	<tr>
		<td align="right"><input type="radio" name="search_box" id="search_box_1" value="1" <!--#if arr[search_box] "== 1" --> checked="checked"<!--#endif arr[search_box] --> /></td>
		<td colspan="3"><label for="search_box_1">{ t_search_box_1 }</label></td>
	</tr>

	<tr>
		<td align="right"><input type="radio" name="search_box" id="search_box_2" value="2" <!--#if arr[search_box] "== 2" --> checked="checked"<!--#endif arr[search_box] --> /></td>
		<td colspan="3"><label for="search_box_2">{ t_search_box_2 }</label></td>
	</tr>

	<tr>
		<td colspan="4"><br /></td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td align="left">{ t_name }</td>
	
		<td><a href="javascript:check_uncheck(this,'field_search_')">{ t_search }</a></td>
		<td><a href="javascript:check_uncheck(this,'field_s_crit_')">{ t_search_crit }</a></td>
		<td>{ t_search_description }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,search,description" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td align="left">{ t_type }</td>

	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td>
			<!--#if field[search] "== Y" -->
			<input type="checkbox" name="field_search_{ index }" checked="checked" />
			<!--#else field[search] -->
			<input type="checkbox" name="field_search_{ index }" />
			<!--#endif field[search] -->
		</td>

		<td>
			<!--#if field[search_crit] -->
			<input type="checkbox" name="field_s_crit_{ index }" checked="checked" />
			<!--#else field[search_crit] -->
			<input type="checkbox" name="field_s_crit_{ index }" />
			<!--#endif field[search_crit] -->
		</td>

		<td>
			<!--#if field[id_search_description] -->
			<input type="radio" name="search_description" value="{ field[id] }" checked="checked" />
			<!--#else field[id_search_description] -->
			<input type="radio" name="search_description" value="{ field[id] }" />
			<!--#endif field[id_search_description] -->
		</td>

		<td align="left">
			
			<select name="field_s_type_{ index }">
				
				<option value="0" <!--#if field[search_type] "== 0" -->  selected="selected" <!--#endif field[search_type] --> >{ t_free }</option>
				
				<!--#if field[linkname] -->
				<option value="1" <!--#if field[search_type] "== 1" -->  selected="selected" <!--#endif field[search_type] --> >{ t_listbox } : { field[linkname] }</option>
				<option value="4" <!--#if field[search_type] "== 4" -->  selected="selected" <!--#endif field[search_type] --> >{ t_checkbox } : { field[linkname] }</option>
				<!--#endif field[linkname] -->
				
				<option value="2" <!--#if field[search_type] "== 2" -->  selected="selected" <!--#endif field[search_type] --> >{ t_date_interval }</option>
				<option value="3" <!--#if field[search_type] "== 3" -->  selected="selected" <!--#endif field[search_type] --> >{ t_interval }</option>
				
				<!--#if enum_set -->
				<option value="5" <!--#if field[search_type] "== 5" -->  selected="selected" <!--#endif field[search_type] --> >{ t_listbox } : { field[values_field_type] }</option>
				<option value="6" <!--#if field[search_type] "== 6" -->  selected="selected" <!--#endif field[search_type] --> >{ t_checkbox } : { field[values_field_type] }</option>
				<!--#endif enum_set -->
				
				<!--#if ovuser -->
				<option value="7" <!--#if field[search_type] "== 7" -->  selected="selected" <!--#endif field[search_type] --> >{ t_ovuser }</option>
				<!--#endif ovuser -->
				
				<!--#if ovdirectory -->
				<option value="8" <!--#if field[search_type] "== 8" -->  selected="selected" <!--#endif field[search_type] --> >{ t_ovdirectory }</option>
				<!--#endif ovdirectory -->
			</select>
			
		</td>

	</tr>

	<!--#endin getnext -->
	<tr>
		<td colspan="4" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_search -->



<!--#begin edit_form_elements -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	var f = document.forms.edit_form;
	return true;
	}


function field_element_change(obj)
	{
	
	var field_with_param = new Array();
	<!--#in getnext -->
	<!--#in getnextelement -->
	<!--#if element[parameter] -->
	field_with_param[{ element[id] }] = 1;
	<!--#endif element[parameter] -->
	<!--#endin getnextelement -->
	<!--#endin getnext -->

	next = obj.nextSibling;
	while (next.nodeType != 1)
		next = next.nextSibling;

	if (typeof field_with_param[obj.value] != 'undefined')
		{
		next.style.display = '';
		}
	else
		next.style.display = 'none';

}


function form_capture_changes() {
	
	window['form_capture_changes'].modified = 0;

	var e = document.forms['edit_form'].elements;
	for (var i = 0; i < e.length; i++ ) {

		e[i].onchange = function() {
			window['form_capture_changes'].modified = 1;
		}

		e[i].onkeyup = function() {
			window['form_capture_changes'].modified = 1;
		}

		e[i].onclick = function() {
			window['form_capture_changes'].modified = 1;
		}
	}
}


function isnotmodified() {
	if (window['form_capture_changes'].modified) {
		//}
		return confirm('{ t_form_modified }');
	}

	return true;
}


function form_closestSpan(select, classname)
{
	var ns = select.nextSibling;
	
	do {
		if (ns.nodeName == 'SPAN' && ns.className.indexOf(classname) != -1)
		{
			return ns;
		}
	} while(ns = ns.nextSibling);
}

function form_closestSelect(span)
{
	var ps = span.previousSibling;
	
	do {
		if (ps.nodeName == 'SELECT')
		{
			return ps;
		}
	} while(ps = ps.previousSibling);
}





function form_elementOnChange()
{
	if(span = form_closestSpan(this, 'doublelist'))
	{
		
		if (16 == parseInt(this.value))
		{
			span.style.display='';
		} else {
			span.style.display='none';
		}
	}
	
	if(span = form_closestSpan(this, 'proposal'))
	{
		
		if (17 == parseInt(this.value))
		{
			span.style.display='';
		} else {
			span.style.display='none';
		}
	}
}




function form_optgroups()
{
	var table = document.getElementById('form_f_elements');
	var span = table.getElementsByTagName('SPAN');
	
	for(var i =0; i < span.length; i++)
	{
		if (span[i].className.indexOf('doublelist') != -1)
		{
			var select = form_closestSelect(span[i]);
			
			if (typeof select.options[select.selectedIndex] == 'undefined')
			{
				var form_elem = 0;
			} else {
				var form_elem = parseInt(select.options[select.selectedIndex].value);
			}

			if (form_elem != 16)
			{
				span[i].style.display = 'none';
			}
			
			select.onchange = form_elementOnChange;
		}
	}
	
}




function form_proposals()
{
	
	var table = document.getElementById('form_f_elements');
	var span = table.getElementsByTagName('SPAN');
	
	for(var i =0; i < span.length; i++)
	{
		if (span[i].className.indexOf('proposal') != -1)
		{
			var select = form_closestSelect(span[i]);
			if (typeof select.options[select.selectedIndex] == 'undefined')
			{
				var form_elem = 0;
			} else {
				var form_elem = parseInt(select.options[select.selectedIndex].value);
			}

			if (form_elem != 17)
			{
				span[i].style.display = 'none';
			}
			
			select.onchange = form_elementOnChange;
		}
	}
}






bab_initFunctions.push(function() { 
	form_capture_changes(); 
	form_optgroups();
	form_proposals();
});



//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_elements">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" id="form_f_elements" border="0" width="100%" cellpadding="5" cellspacing="0">

	<tr>
		<td colspan="5" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>



	<tr class="BabSiteAdminTitleFontBackground" align="left">
		<td>{ t_name }</td>
	
		<td>{ t_form_element }</td>
		<td>{ t_filter }</td>
		<td align="center">{ t_notempty }</td>
		<td align="center">{ t_validation }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ field[name] }
		</td>

		<td>
			<select name="field_element_{ index }" onchange="field_element_change(this);">
				<!--#in getnextelement -->
				<option value="{ element[id] }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ element[description] }</option>
				<!--#endin getnextelement -->
			</select>
			<input type="text" name="field_element_param_{ index }" size="10" value="{ field[form_element_param] }" />

			<script type="text/javascript">
			field_element_change(document.forms.edit_form.field_element_{ index });
			</script>
			
			<span class="doublelist">
			{ t_group_by } :
			<select name="id_table_field_optgroup_{ index }">
				<!--#in getnextoptgroup -->
				<option value="{ id }"  <!--#if selected --> selected="selected" <!--#endif selected --> >{ name }</option>
				<!--#endin getnextoptgroup -->
			</select>
			</span>
			
			
			<span class="proposal">
			{ t_use } :
			<select name="id_proposal_{ index }">
				<!--#in getnextproposal -->
				<option value="{ id }"  <!--#if selected --> selected="selected" <!--#endif selected --> >{ name }</option>
				<!--#endin getnextproposal -->
			</select>
			</span>
		</td>


		<td>
			<!--#if allowfilter -->
			<select name="field_filter_{ index }">
				<option value="0"></option>
				<!--#in getnextfilter -->
				<option value="{ filter[id] }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ filter[name] }</option>
				<!--#endin getnextfilter -->
			</select>
			<!--#endif allowfilter -->
		</td>

		<td align="center">
			<!--#if field[notempty] "== Y" -->
			<input type="checkbox" name="field_notempty_{ index }" checked="checked" />
			<!--#else field[notempty] -->
			<input type="checkbox" name="field_notempty_{ index }" />
			<!--#endif field[notempty] -->
		</td>


		<td align="center">
			<!--#if validation -->
			<a href="{ babAddonUrl }main&idx=edit_field_validations&id_form={ id }&id_field={ field[id] }" title="{ t_validation }" onclick="return isnotmodified()"><img src="{ babSkinPath }images/addons/forms/validation.gif" alt="{ t_validation }" border="0" /></a> { field[validations] }
			<!--#else validation -->
			&nbsp;
			<!--#endif validation -->
		</td>
	</tr>

	<!--#endin getnext -->
	<tr align="center">
		<td colspan="5"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end edit_form_elements -->


<!--#begin edit_field_validations -->
<script type="text/javascript">
<!--

document.onmousemove = bab_tooltipPosition;

function submitCtr()
	{
	var f = document.forms.edit_form;
	return true;
	}


//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="edit_form_elements" />
<input type="hidden" name="tg" value="{ babAddonTarget }/main" />
<input type="hidden" name="action" value="edit_field_validations" />
<input type="hidden" name="id_form" value="{ id_form }" />
<input type="hidden" name="id_field" value="{ id_field }" />

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="4" align="center"><br />{ arr[form_name] }<br />{ arr[field_name] }<br /><br /></td>
	</tr>



	<tr class="BabSiteAdminTitleFontBackground" align="left">
		<td>&nbsp;</td>
		<td>{ t_validation }</td>
		<td>{ t_param }</td>
		<td>{ t_alert }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			<!--#if validation[value] -->
			<input type="checkbox" name="validation[]" value="{ validation[id] }" checked="checked" />
			<input type="hidden" name="id_{ validation[id] }" value="{ validation[value] }" />
			<!--#else validation[value] -->
			<input type="checkbox" name="validation[]" value="{ validation[id] }" />
			<!--#endif validation[value] -->

		</td>

		<td onmouseover="bab_showOnMouse('valdesc{ validation[id] }',1)" onmouseout="bab_showOnMouse('valdesc{ validation[id] }',0)">
			{ validation[name] } <span id="valdesc{ validation[id] }" class="FORMS_tooltip">{ validation[description] }</span>
		</td>

		<td>
			<input type="text" name="param_{ validation[id] }" size="10" value="<!--#if validation[parameter] -->{ validation[parameter] }<!--#endif validation[parameter] -->" />
		</td>

		<td>
			<input type="text" name="alert_{ validation[id] }" size="30" value="<!--#if validation[alert] -->{ validation[alert] }<!--#endif validation[alert] -->" />
		</td>
	</tr>

	<!--#endin getnext -->
	<tr align="center">
		<td colspan="4"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_field_validations -->



<!--#begin edit_form_styles -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	var f = document.forms.edit_form;
	return true;
	}


//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_styles">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="3" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>



	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td align="left">{ t_name }</td>
		<td align="left">{ t_style }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td align="left">
			<select name="field_style_{ field[id] }">
				<option value=""></option>
				<!--#in getnextstyle -->
				<option value="{ style[name] }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ style[description] }</option>
				<!--#endin getnextstyle -->
			</select>
		</td>
	</tr>

	<!--#endin getnext -->
	<tr>
		<td colspan="3" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_styles -->


<!--#begin edit_form_approbation_list -->

<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_approbation_list">
<input type="hidden" name="id_form" value="{ arr[id] }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="2" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>

	<tr>
		<td align="right" valign="top">{ t_name } : </td>
		<td>
			<input type="checkbox" name="approb_list_status[]" value="0" <!--#if s0 --> checked="checked"<!--#endif s0 --> /> { t_waiting }<br />
			<input type="checkbox" name="approb_list_status[]" value="1" <!--#if s1 --> checked="checked"<!--#endif s1 --> /> { t_validated }<br />
			<input type="checkbox" name="approb_list_status[]" value="2" <!--#if s2 --> checked="checked"<!--#endif s2 --> /> { t_refused }<br />
		</td>
	</tr>

	<tr>
		<td colspan="2" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_approbation_list -->


<!--#begin edit_form_curl -->
<script type="text/javascript">
<!--

function submitCtr()
	{
	var f = document.forms.edit_form;
	
	return true;
	}



function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked || obj.className != 'checked') 
				{
				objCtrl.checked = true;
				}
			else 
				{
				objCtrl.checked = false;
				}
			}
		}

	if (obj.className == 'checked')
		{
		obj.className = '';
		}
	else
		{
		obj.className = 'checked';
		}
	}

function setdefaultvalue(field, value)
	{
	var f = document.forms.edit_form;
	eval('f.'+field+'.value = '+value+';');
	}

function form_formula_functions(obj,functions,formula)
	{
	if (typeof obj.formula == 'undefined')
		{
		window.status = typeof obj.formula;
		setTimeout(function() { form_formula_functions(obj,functions,formula) }, 500);
		}
	else
		{
		obj.formula.add(functions,'F');
		obj.formula.setFormula(formula);
		}
	}


function form_formula_popup(id,functions,formula)
	{
	var obj = window.open('{ babAddonUrl }main&idx=formula&id_formula='+id, 'formula', 'status=yes,menubar=no,personalbar=no,width=450,height=350,top=100,left=100,scrollbars=yes,resizable=yes');
	form_formula_functions(obj,functions,formula);
	
	}

function form_formula(formula,id)
	{
	var f = document.forms['edit_form'];
	f.elements[id+'_formula'].value = formula;
	}

function form_card_fields()
	{
	var id_table = document.forms['edit_form'].id_table.value;
	var id_form_card = document.forms['edit_form'].id_form_card.value;
	if (id_table > 0 && id_form_card > 0)
		{
		bab_popup('{ babAddonUrl }main&idx=card_fields&id_table=' + id_table + '&id_form_card=' + id_form_card );
		}
	else
		{
		//}
		alert('{ t_js_form_card_fields }');
		}
	}

//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_curl">
<input type="hidden" name="id_form" value="{ id }">
<input type="hidden" name="id_table" value="{ arr[id_table] }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="2" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>

	

	<tr>
		<td colspan="2"><br /></td>
	</tr>

	<!--#if arr[id_type] "== 5" -->

	<tr>
		<td align="right">{ t_formula }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,sc_formula" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td>
			<input type="hidden" name="sc_formula" value="{ arr[sc_formula] }" />
			<input type="hidden" name="trans_formula" value="{ arr[trans_formula] }" />
			<input type="button" name="sc_formula_btn" value="{ t_sc_formula }" onclick="form_formula_popup('sc',{<!--#in getnextlink -->{ link[id] }:'{ arr[table_name] } : { link[js_name] }',<!--#endin getnextlink -->'qte':'{ t_quantity }'},document.forms['edit_form'].sc_formula.value)" />
			<input type="button" name="trans_formula_btn" value="{ t_trans_formula }" onclick="form_formula_popup('trans',{1:'{ t_subtotal }',qte:'{ t_total_qte }'}, document.forms['edit_form'].trans_formula.value)" />
		</td>
	</tr>

	<tr>
		<td align="right">{ t_trans_formula_msg }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,trans_formula_msg" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td colspan="6">
			<input type="text" name="trans_formula_msg" value="{ arr[trans_formula_msg] }" size="40" maxlength="255">
		</td>
	</tr>

	<tr>
		<td align="right">{ t_unit_concat }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,unit_concat" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
		<td colspan="6">
			<input type="text" name="unit_concat_before" value="{ arr[unit_concat_before] }" size="4" maxlength="30" />
			<input type="text" name="unit_concat" value="{ arr[unit_concat] }" size="4" maxlength="30" />
		</td>
	</tr>
	<!--#endif arr[id_type] -->

	<!--#if arr[id_type] "== 4" -->

	<tr>
		<td align="right">{ t_id_form_card }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,form_card" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td>
			<select name="id_form_card">
				<option value="0"></option>
			<!--#in getnextform -->
				<option value="{ form[id] }" { selected }>{ form[name] }</option>
			<!--#endin getnextform -->
			</select>

			
			
		</td>
	</tr>

	<tr>
		<td align="right">&nbsp;</td>
		<td>

			<input type="hidden" name="card_field_quantities" value="{ arr[card_field_quantities] }" />
			<input type="hidden" name="card_field_total" value="{ arr[card_field_total] }" />
			<input type="hidden" name="card_field_products_summary" value="{ arr[card_field_products_summary] }" />
			<input type="hidden" name="card_field_transaction_id" value="{ arr[card_field_transaction_id] }" />
			<input type="hidden" name="card_field_status" value="{ arr[card_field_status] }" />
			<input type="hidden" name="card_field_product_name" value="{ arr[card_field_product_name] }" />
			
			<input type="button" name="card_table_fields" onclick="form_card_fields();" value="{ t_card_table_fields }" />

			&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,card_table_fields" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a>
		</td>
	</tr>


	<tr class="BabSiteAdminTitleFontBackground">
		<td align="left">{ t_name }</td>
		<td align="center">
			{ t_transaction }
		</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td align="center">
			<select name="field_transaction_{ index }">
				<option value="0"></option>
				<!--#in getnexttransaction -->
				<!--#if selected -->
				<option value="{ transaction[id] }" selected="selected">{ transaction[description] }</option>
				<!--#else selected -->
				<option value="{ transaction[id] }">{ transaction[description] }</option>
				<!--#endif selected -->
				<!--#endin getnexttransaction -->
			</select>
		</td>
	</tr>

	<!--#endin getnext -->

	<!--#endif arr[id_type] -->
	<tr>
		<td colspan="2" align="center">
		<br /><input type="submit" value="{ t_submit }" /><br /><br />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_curl -->




<!--#begin edit_form_init -->
<script type="text/javascript">
<!--

function init_dir_change(index)
	{
	var e = document.forms['edit_form'].elements;
	if (e['init_dir_'+index].value != '')
		{
		e['field_init_'+index].disabled = true;
		}
	else
		{
		e['field_init_'+index].disabled = false;
		}
	}

function field_init_change(index)
	{
	var e = document.forms['edit_form'].elements;
	if (e['field_init_'+index].value != '')
		{
		e['init_dir_'+index].disabled = true;
		}
	else
		{
		e['init_dir_'+index].disabled = false;
		}
	}


function submitCtr()
	{
	var f = document.forms.edit_form;
	return true;
	}


//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_init">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="4" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>



	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td >{ t_init }&nbsp;<a href="{ babAddonUrl }user&amp;idx=help&amp;help_id=form,init,init" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td width="1%">{ t_init_on_modify }</td>
		<td>{ t_col }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td>
			<select name="init_dir_{ index }" onchange="init_dir_change({ index })">
				<option value=""></option>
				<optgroup label="{ t_directory }">
				<!--#in getnextdirfields -->
				<option value="{ key }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ value }</option>
				<!--#endin getnextdirfields -->
				</optgroup>
				<optgroup label="{ t_functions }">
				<!--#in getnextinit -->
				<option value="{ key }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ value }</option>
				<!--#endin getnextinit -->
				</optgroup>
			</select>
			<input type="text" name="field_init_{ index }" value="{ field[init] }" onkeyup="field_init_change({ index })" size="10" />
		</td>
		<td>
			<input type="checkbox" name="field_init_on_modify_{ index }" <!--#if field[init_on_modify] "== Y" --> checked="checked" <!--#endif field[init_on_modify] --> />
		</td>
		<td>
			<!--#if link_col -->
			<select name="link_col_{ index }">
				<!--#in getnextlinkcol -->
				<option value="{ key }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ value }</option>
				<!--#endin getnextlinkcol -->
			</select>
			<!--#else link_col -->
			&nbsp;
			<!--#endif link_col -->

			<script type="text/javascript">
				init_dir_change({ index });
				field_init_change({ index });
			</script>
		</td>
	</tr>

	<!--#endin getnext -->
	<tr>
		<td colspan="4" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_init -->






<!--#begin edit_form_transform -->
<script type="text/javascript">
<!--

//-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_transform">
<input type="hidden" name="id_form" value="{ id }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">

	<tr>
		<td colspan="2" align="center"><br />{ t_description }<br /><br /></td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td>{ t_transform }</td>
	</tr>

	<!--#in getnextfield -->
	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td width="35%" align="left">
			<select name="transform_to_{ field[id] }">
				<!--#in getnexttransform -->
				<option value="{ value }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ option }</option>
				<!--#endin getnexttransform -->
			</select>
		</td>	
	</tr>

	<!--#endin getnextfield -->
	<tr>
		<td colspan="2" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end edit_form_transform -->





<!--#begin edit_form_validation -->
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_validation">
<input type="hidden" name="id_form" value="{ id_form }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="4" cellspacing="0">

	<tr>
		<td colspan="4" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>
	
	
	<tr>
		<td colspan="4" >
			<p>{ t_text } :</p>
			<p><input type="text" name="form_approb_text" value="{ arr[form_approb_text] }" size="50" /></p>
		</td>
	</tr>

	<tr>
		<td colspan="4" align="center"><br /><br /></td>
	</tr>
	
	
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td>{ t_view }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,validation,view" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td>{ t_refused }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,validation,refused" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td>{ t_accepted }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,validation,accepted" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
	</tr>

	<!--#in getnextfield -->

	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td align="center">
			<!--#if field[form_approb_description] -->
			<input type="checkbox" name="form_approb_description[]" value="{ field[id] }" checked="checked" />
			<!--#else field[form_approb_description] -->
			<input type="checkbox" name="form_approb_description[]" value="{ field[id] }" />
			<!--#endif field[form_approb_description] -->
		</td>

		<td align="center"><input type="text" name="form_approb_refused_{ field[id] }" value="{ field[form_approb_refused] }" size="8" /></td>
		<td align="center"><input type="text" name="form_approb_accepted_{ field[id] }" value="{ field[form_approb_accepted] }" size="8" /></td>

	</tr>

	<!--#endin getnextfield -->
	<tr>
		<td colspan="4" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_validation -->


<!--#begin edit_form_ordgrp -->
<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_ordgrp">
<input type="hidden" name="id_form" value="{ id_form }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td colspan="5" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>


	<tr>
		<td colspan="2" align="right">{ t_order_primary }</td>
		<td colspan="3">
			<select name="order_type">
				<!--#if arr[order_type] "== DESC" -->
				<option value="ASC">{ t_asc }</option>
				<option value="DESC" selected="selected">{ t_desc }</option>
				<!--#else arr[order_type] -->
				<option value="ASC" selected="selected">{ t_asc }</option>
				<option value="DESC">{ t_desc }</option>
				<!--#endif arr[order_type] -->
			</select>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="right">{ t_order_secondary }</td>
		<td colspan="3">
			<select name="order_type2">
				<!--#if arr[order_type2] "== DESC" -->
				<option value="ASC">{ t_asc }</option>
				<option value="DESC" selected="selected">{ t_desc }</option>
				<!--#else arr[order_type2] -->
				<option value="ASC" selected="selected">{ t_asc }</option>
				<option value="DESC">{ t_desc }</option>
				<!--#endif arr[order_type2] -->
			</select>
		</td>
	</tr>

	<tr>
		<td colspan="5" align="center"><br /></td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td colspan="2">{ t_group_by }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=form,ordgrp,group" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></td>
		<td colspan="2">{ t_order_by }</td>
	</tr>

	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>&nbsp;</td>
		<td>{ t_primary }</td>
		<td>{ t_secondary }</td>
		<td>{ t_primary }</td>
		<td>{ t_secondary }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td><input type="radio" name="id_group_by" value="{ field[id] }" <!--#if group_by --> checked="checked"<!--#endif group_by -->  /></td>
		<td><input type="radio" name="id_group_by2" value="{ field[id] }" <!--#if group_by2 --> checked="checked"<!--#endif group_by2 --> /></td>
		<td><input type="radio" name="id_order_by" value="{ field[id] }" <!--#if order_by --> checked="checked"<!--#endif order_by --> /></td>
		<td><input type="radio" name="id_order_by2" value="{ field[id] }" <!--#if order_by2 --> checked="checked"<!--#endif order_by2 --> /></td>
	</tr>

	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td align="left">{ t_disabled } :</td>
		<td><input type="radio" name="id_group_by" value="0" <!--#if arr[id_group_by] "== 0" --> checked="checked"<!--#endif arr[id_group_by] --> /></td>
		<td><input type="radio" name="id_group_by2" value="0" <!--#if arr[id_group_by2] "== 0" --> checked="checked"<!--#endif arr[id_group_by2] --> /></td>
		<td><input type="radio" name="id_order_by" value="0" <!--#if arr[id_order_by] "== 0" --> checked="checked"<!--#endif arr[id_order_by] --> /></td>
		<td><input type="radio" name="id_order_by2" value="0" <!--#if arr[id_order_by2] "== 0" --> checked="checked"<!--#endif arr[id_order_by2] --> /></td>
	</tr>

	<tr>
		<td colspan="5" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_ordgrp -->


<!--#begin edit_form_increment -->
<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_forms">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="edit_form_increment">
<input type="hidden" name="id_form" value="{ id_form }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td colspan="5" align="center"><br />{ arr[name] }<br /><br /></td>
	</tr>


	<tr class="BabSiteAdminTitleFontBackground" align="center">
		<td>{ t_name }</td>
		<td>{ t_increment }</td>
	</tr>

	<!--#in getnext -->

	<!--#if altbg -->
	<tr class="BabForumBackground1" align="center">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground" align="center">
	<!--#endif altbg -->
		<td align="left">
			{ field[name] }
		</td>

		<td><input type="checkbox" name="int_increment[]" value="{ field[id] }" <!--#if field[int_increment] --> checked="checked"<!--#endif field[int_increment] -->  /></td>
	</tr>

	<!--#endin getnext -->

	<tr>
		<td colspan="2" align="center"><br /><input type="submit" value="{ t_record }" /><br /><br /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit_form_increment -->
