<!--#begin list -->
<script type="text/javascript">
<!--
function submitCtr() {
	//}
	return confirm('{ js_alert }');

}

function check_uncheck(obj,prefix)
	{
	var f = document.forms.edit_form;
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}
-->
</script>
<form name="edit_form" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/proposal">
<input type="hidden" name="action" value="delete">
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td width="150">
			{ t_specify }
		</td>
		<td  width="150">
			{ t_checkbox }
		</td>
		<td  width="5%" align="right">
			{ t_delete }
		</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			<a href="{ babAddonUrl }proposal&amp;idx=edit&amp;id_proposal={ arr[id] }">{ arr[name] }</a>
		</td>
		<td>
			{ arr[specify] }
		</td>
		<td>
			{ arr[checkbox] }
		</td>
		<td align="right">
			<input type="checkbox" name="id_proposal[]" value="{ arr[id] }" />
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="3">
			&nbsp;
		</td>
		<td align="right">
			<input type="checkbox" onclick="check_uncheck(this,'id_proposal')" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<div align="center">
<br />
	<input type="submit" value="{ t_delete }" />
</div>
</form>
<!--#end list -->

<!--#begin edit -->

<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list">
<input type="hidden" name="tg" value="{ babAddonTarget }/proposal">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="id_proposal" value="{ arr[id] }">
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td align="right">
			{ t_name }
		</td>
		<td>
			<input type="text" name="name" value="{ arr[name] }" size="20" />
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_specify }
		</td>
		<td>
			<input type="checkbox" name="specify" value="1" <!--#if arr[specify] --> checked="checked"<!--#endif arr[specify] -->  />
		</td>
	</tr>
	
	<tr>
		<td align="right">
			{ t_checkbox }
		</td>
		<td>
			<input type="checkbox" name="checkbox" value="1" <!--#if arr[checkbox] --> checked="checked"<!--#endif arr[checkbox] -->  />
		</td>
	</tr>
	<tr>
		<td align="right">
			{ t_items }
		</td>
		<td>
			<input type="text" name="items" value="{ arr[items] }" size="40" />
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end edit -->
