<!--#begin edit -->
<script type="text/javascript">
<!--


function submitCtr()
	{
	var f = document.forms['edit_lnk'];
	
	return true;
	}


//-->
</script>
<form name="edit" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list_tables">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="action" value="record_tabledesc">
<input type="hidden" name="id_table" value="{ id_table }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<td colspan="2" align=center><br />{ t_tablename }<br /><br /></td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_name }</td>
			<td>{ t_description }</td>
		</tr>
		<!--#in getnextfield -->
		<!--#if altbg -->
		<tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#endif altbg -->
			<td>
				{ field[name] }
			</td>
			<td>
				<input type="text" name="description_{ field[id] }" value="{ field[description] }" size="50" />
			</td>
		</tr>
		<!--#endin getnextfield -->
		<tr>
			<td colspan="2" align="center"><br /><input type="submit" value="{ t_record }" /></td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end edit -->