<!--#begin list_mode -->
<style type="text/css">
@import url('{ css_file }');
</style>
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_list">

	<form name="addon_forms" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="idx" value="1" />
	<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
	<!--#if id_app "> 0" -->
	<input type="hidden" name="trt_step" value="1" />
	<!--#else id_app -->
	<input type="hidden" name="trt_step" value="" />
	<!--#endif id_app -->
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="id_form" value="{ id }" />
	<input type="hidden" name="parent_id_form" value="{ id }" />
	<input type="hidden" name="pos" value="{ pos }" />
	<input type="hidden" name="id_app" value="{ id_app }" />
	<input type="hidden" name="id_step" value="{ id_step }" />
	<input type="hidden" name="form_menu" value="{ form_menu }" />
	<input type="hidden" name="parent_id_step" value="{ id_step }" />
	<input type="hidden" name="orderby" value="{ arr[id_order_by] }" />
	<input type="hidden" name="ordertype" value="{ arr[order_type] }" />
	<input type="hidden" name="filters" value="{ filters }" />
	<input type="hidden" name="id_btn_type" value="0" />
	<input type="hidden" name="opt_hide" value="{ opt_hide }" />
	<input type="hidden" name="opt_view" value="{ opt_view }" />

	<!--#if app_message -->
	<h2>{ app_message }</h2>
	<!--#endif app_message -->

	<!--#if arr[search_box] "== 1" -->
	<fieldset class="search">
		<!--#in getnextcrit -->
		<div>
			{ html_criterion_label }
			{ html_criterion }
		</div>
		<!--#endin getnextcrit -->
		<p>
			<input type="submit" value="{ t_search }" />
		</p>
	</fieldset>
	<!--#endif arr[search_box] -->

	<div class="bab_list">
	<table>
		<thead>
		<tr class="BabSiteAdminTitleFontBackground">
			<!--#in getnextcol -->

			<!--#if orderby "== ASC" -->
			<th class="ASC" title="{ col[description] }">
				<a href="javascript:order_by({ col[id] },'DESC');">{ col[name] }</a>
			<!--#endif orderby -->

			<!--#if orderby "== DESC" -->
			<th class="DESC" title="{ col[description] }">
				<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
			<!--#endif orderby -->

			<!--#if orderby "== NO" -->
			<th class="NO" title="{ col[description] }">
				<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
			<!--#endif orderby -->

			<!--#if orderby "== FIXED" -->
			<th class="FIXED" title="{ col[description] }">
				{ col[name] }
			<!--#endif orderby -->
				
				<!--#if col[help_id] -->
				 <a class="help" id="form_help_{ col[help_id] }" href="{ help_url }" title="{ col[help_title] }" onclick="bab_popup(this.href,2);return false;">&nbsp;<span>{ col[help_name] }</span></a>
				<!--#endif col[help_id] -->
			</th>
			<!--#endin getnextcol -->
			<!--#if arr[allow_delete] "== Y" -->
			<th class="delete">
				<a href="javascript:check_uncheck(this,'delete')">{ t_allow_delete }</a>
			</th>
			<!--#endif arr[allow_delete] -->
		</tr>
		</thead>
		<tbody>
		<!--#in getnextrow -->
		<!--#if altbg -->
		<tr>
		<!--#else altbg -->
		<tr class="bab_alternate">
		<!--#endif altbg -->
			<!--#in getnextcol -->
			<td class="{ orderby }">
				<!--#if link -->
					<!--#if short -->
						<!--#if popup -->
						<a class="form popup" href="{ link_url }" onclick="bab_popup(this.href);return false;">{ short }</a>
						<!--#else popup -->
						<a class="form" href="{ link_url }">{ short }</a>
						<!--#endif popup -->
					<!--#else short -->
						<!--#if popup -->
						<a href="{ link_url }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
						<!--#else popup -->
						<a href="{ link_url }"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
						<!--#endif popup -->
					<!--#endif short -->
				<!--#else link -->
					{ short }
				<!--#endif link -->
			</td>
			<!--#endin getnextcol -->
			<!--#if arr[allow_delete] "== Y" -->
			<td class="delete">
				<input type="checkbox" name="delete[]" value="{ row[form_id] }" />
			</td>
			<!--#endif arr[allow_delete] -->
		</tr>
		<!--#endin getnextrow -->
		</tbody>
		<tfoot>
		<tr class="BabSiteAdminTitleFontBackground">
			<td colspan="{ colspan }">
			 { t_total } : { max } &nbsp; 
			<!--#if arr[buttons_next_previous] -->
			<input type="hidden" name="rows_per_page" value="{ arr[rows_per_page] }"> 
			<input type="button" name="page_prev_btn" value="&lt;" onclick="page_previous()" title="{ t_rows_per_page }&nbsp;:&nbsp;{ arr[rows_per_page] }" />
			<select name="page" onchange="page_load(this.value)">
			</select>
			<input type="button" name="page_next_btn" value="&gt;" onclick="page_next()"  title="{ t_rows_per_page }&nbsp;:&nbsp;{ arr[rows_per_page] }" />

			
			<!--#endif arr[buttons_next_previous] -->
			&nbsp;
			<!--#if find -->
			&nbsp;&nbsp;&nbsp;
			<input type="text" name="form_search" value="{ form_search }" />
			<input type="submit" value="{ find }" />
			<!--#endif find -->
			</td>
			<!--#if arr[allow_delete] "== Y" -->
			<td class="check_all delete">
				<input type="button" value="{ t_allow_delete }" onclick="delete_rows()" />
			</td>
			<!--#endif arr[allow_delete] -->
		</tr>
		</tfoot>
		</table>
	</div>
	
	{ buttonbar }
	</form>
	<!--#if list_links -->
	<div id="ADDON_FORMS_list_links">
		<!--#if url_opt -->
		<a href="javascript:form_list_opt('');">{ t_opt }</a> 
		<!--#endif url_opt -->
		<!--#if url_opt_hide -->
		<a href="javascript:form_list_opt('hide');">{ t_opt_hide }</a> 
		<!--#endif url_opt_hide -->
		<!--#if url_opt_view -->
		<a href="javascript:form_list_opt('view');">{ t_opt_view }</a>
		<!--#endif url_opt_view -->
	</div>
	<!--#endif list_links -->
	<!--#if arr[buttons_next_previous] -->
	<script type="text/javascript">
	<!--
	page_select_fill();
	-->
	</script>
	<!--#endif arr[buttons_next_previous] -->
</div>
<!--#end list_mode -->




<!--#begin view_mode -->

<style type="text/css">
@import url('{ css_file }');
</style>
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_view">

	<!--#if arr[longdesc] -->
	<h3>{ arr[longdesc] }</h3>
	<!--#endif arr[longdesc] -->
	<fieldset>
	<!--#in getnextcol -->
	<div class="{ field_classname }">
		<span class="label">
		<!--#if col[description] -->
			{ col[description] }
		<!--#else col[description] -->
			{ col[name] }
		<!--#endif col[description] -->
		<!--#if col[help_id] -->
			<a class="help" id="form_help_{ col[help_id] }" href="{ help_url }" title="{ col[help_title] }" onclick="bab_popup(this.href,2);return false;">&nbsp;<span>{ col[help_name] }</span></a>
		<!--#endif col[help_id] -->
		<span class="suffix">:</span>
		</span>
		

		

		<!--#if loopoption -->
		<ul>
		<!--#in getnextoption -->
			<!--#if selected -->
			<li>{ option[opt] }</li>
			<!--#endif selected -->
		<!--#endin getnextoption -->
		</ul>
		<!--#else loopoption -->

			
			
			<!--#if typefield "== readonly" -->
				<span class="value">{ html_value }</span>
			<!--#endif typefield -->
			
			<!--#if typefield "== directory" -->
			<table>
				<thead>
					<tr>
						<th>{ t_filename }</th><td>{ t_filesize }</td>
					</tr>
				</thead>
				<tbody>
				<!--#if dirfiles -->
				<!--#in getnextdirfile -->
					<tr>
						<th class="{ classname }"><a href="{ fileurl }">{ filename }</a></th><td>{ filesize }</td>
					</tr>
				<!--#endin getnextdirfile -->
				<!--#else dirfiles -->
					<tr>
						<td colspan="3" class="nofiles"><br />{ t_nofiles }<br /><br /></td>
					</tr>
				<!--#endif dirfiles -->
				</tbody>
			</table>
			<!--#endif typefield -->

		<!--#endif loopoption -->
	</div>
	<!--#endin getnextcol -->
	</fieldset>
	<!--#if countbtn -->
	<form name="addon_forms" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
	<input type="hidden" name="idx" value="{ next_idx }" />
	<input type="hidden" name="trt_step" value="1" />
	<input type="hidden" name="form_row" value="{ form_row }" />
	<input type="hidden" name="id_app" value="{ id_app }" />
	<input type="hidden" name="id_step" value="{ next_step }" />
	<input type="hidden" name="form_menu" value="{ form_menu }" />
	{ buttonbar }
	</form>
	<!--#endif countbtn -->


</div>
<!--#end view_mode -->






<!--#begin sc_mode -->
<style type="text/css">
@import url('{ css_file }');
</style>
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_list ADDON_FORMS_sc">

<form name="addon_forms" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="5" />
<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
<input type="hidden" name="trt_step" value="" />
<input type="hidden" name="action" value="" />
<input type="hidden" name="id_form" value="{ id }" />
<input type="hidden" name="parent_id_form" value="{ id }" />
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="form_menu" value="{ form_menu }" />
<input type="hidden" name="parent_id_step" value="{ id_step }" />
<input type="hidden" name="orderby" value="{ arr[orderby] }" />
<input type="hidden" name="ordertype" value="{ arr[order_type] }" />
<input type="hidden" name="id_btn_type" value="0" />

	<!--#if app_message -->
	<h2>{ app_message }</h2>
	<!--#endif app_message -->

<div class="bab_list">
	<table>
	<thead>
	<tr class="BabSiteAdminTitleFontBackground">
		<!--#in getnextcol -->
		<!--#if orderby "== ASC" -->
		<th class="ASC" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'DESC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== DESC" -->
		<th class="DESC" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== NO" -->
		<th class="NO" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== FIXED" -->
		<th class="FIXED" title="{ col[description] }">
			{ col[name] }
		<!--#endif orderby -->
				
			<!--#if col[help_id] -->
			 <a class="help" id="form_help_{ col[help_id] }" href="{ help_url }" title="{ col[help_title] }" onclick="bab_popup(this.href,2);return false;">&nbsp;<span>{ col[help_name] }</span></a>
			<!--#endif col[help_id] -->
		</th>
		<!--#endin getnextcol -->

		<th class="qte">
			{ t_qte }
		</th>
		<th class="total">
			{ t_total_prod }
		</th>

		<!--#if arr[allow_delete] "== Y" -->
		<th class="delete">
			{ t_allow_delete }
		</th>
		<!--#endif arr[allow_delete] -->
	</tr>
	</thead>
	<tbody>
	<!--#in getnextrow -->
	<!--#if altbg -->
	<tr>
	<!--#else altbg -->
	<tr class="bab_alternate">
	<!--#endif altbg -->
		<!--#in getnextcol -->
		<td class="{ orderby }">
			<!--#if link -->
				<!--#if short -->
					<!--#if popup -->
					<a class="form popup" href="{ link_url }" onclick="bab_popup(this.href);return false;">{ short }</a>
					<!--#else popup -->
					<a class="form" href="{ link_url }">{ short }</a>
					<!--#endif popup -->
				<!--#else short -->
					<!--#if popup -->
					<a href="{ link_url }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
					<!--#else popup -->
					<a href="{ link_url }"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
					<!--#endif popup -->
				<!--#endif short -->
			<!--#else link -->
				<!--#if blob -->
					<a href="{ blob[file_url] }" title="{ blob[file_name] } ({ blob[file_size] })"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ t_download }" /></a>
				<!--#else blob -->
					{ short }
				<!--#endif blob -->
			<!--#endif link -->
		</td>
		<!--#endin getnextcol -->

		<td class="qte">
			{ row[qte] }
		</td>
		<td class="total">
			{ arr[unit_concat_before] }&nbsp;{ row[total] }&nbsp;{ arr[unit_concat] }
		</td>

		<!--#if arr[allow_delete] "== Y" -->
		<td class="delete">
			<input type="checkbox" name="delete[]" value="{ row[form_id] }" />
		</td>
		<!--#endif arr[allow_delete] -->
	</tr>
	<!--#endin getnextrow -->
	</tbody>
	<tfoot>
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="{ colspan }">&nbsp;</td>
		<td class="qte">
			{ total_qte }
		</td>
		<th class="total">
			{ arr[unit_concat_before] }&nbsp;{ total_sub }&nbsp;{ arr[unit_concat] }
		</th>
		<!--#if arr[allow_delete] "== Y" -->
		<td class="delete">
			<input type="checkbox" onclick="check_uncheck(this,'delete')" />
		</td>
		<!--#endif arr[allow_delete] -->
	</tr>
	<!--#if arr[trans_formula] -->
	<!--#in main_total -->
	<!--#endin main_total -->
	<tr>
		<td class="qte">&nbsp;</td>
		<td colspan="{ colspan }">{ arr[trans_formula_msg] }&nbsp;</td>
		<th class="total">
			{ arr[unit_concat_before] }&nbsp;{ total_full }&nbsp;{ arr[unit_concat] }
		</th>
		<!--#if arr[allow_delete] "== Y" -->
		<td class="delete">
			<input type="button" value="{ t_allow_delete }" onclick="delete_card_rows()" />
		</td>
		<!--#endif arr[allow_delete] -->

	</tr>
	<!--#endif arr[trans_formula] -->
	</tfoot>
	</table>
</div>

{ buttonbar }

</form>
</div>
<!--#end sc_mode -->

<!--#begin sl_mode -->
<style type="text/css">
@import url('{ css_file }');
</style>
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_list ADDON_FORMS_sl">

<form name="addon_forms" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="6" />
<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
<input type="hidden" name="trt_step" value="" />
<input type="hidden" name="action" value="sl_mode" />
<input type="hidden" name="id_form" value="{ id }" />
<input type="hidden" name="parent_id_form" value="{ id }" />
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ id_step }" />
<input type="hidden" name="form_menu" value="{ form_menu }" />
<input type="hidden" name="parent_id_step" value="{ id_step }" />
<input type="hidden" name="orderby" value="{ arr[id_order_by] }" />
<input type="hidden" name="ordertype" value="{ arr[order_type] }" />
<input type="hidden" name="id_btn_type" value="0" />
<input type="hidden" name="opt_hide" value="{ opt_hide }" />
<input type="hidden" name="opt_view" value="{ opt_view }" />

	<!--#if app_message -->
	<h2>{ app_message }</h2>
	<!--#endif app_message -->

<div class="bab_list">
	<table>
	<thead>
	<tr class="BabSiteAdminTitleFontBackground">
		<!--#in getnextcol -->
		<!--#if orderby "== ASC" -->
		<th class="ASC" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'DESC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== DESC" -->
		<th class="DESC" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== NO" -->
		<th class="NO" title="{ col[description] }">
			<a href="javascript:order_by({ col[id] },'ASC');">{ col[name] }</a>
		<!--#endif orderby -->

		<!--#if orderby "== FIXED" -->
		<th class="FIXED" title="{ col[description] }">
			{ col[name] }
		<!--#endif orderby -->
				
			<!--#if col[help_id] -->
			 <a class="help" id="form_help_{ col[help_id] }" href="{ help_url }" title="{ col[help_title] }" onclick="bab_popup(this.href,2);return false;">&nbsp;<span>{ col[help_name] }</span></a>
			<!--#endif col[help_id] -->
		</th>
		<!--#endin getnextcol -->
		<th class="qte">
			{ t_qte }
		</th>
	</tr>
	</thead>
	<tbody>
	<!--#in getnextrow -->
	<!--#if altbg -->
	<tr>
	<!--#else altbg -->
	<tr class="bab_alternate">
	<!--#endif altbg -->
		<!--#in getnextcol -->
		<td class="{ orderby }">
			<!--#if link -->
				<!--#if short -->
					<!--#if popup -->
					<a class="form popup" href="{ link_url }" onclick="bab_popup(this.href);return false;">{ short }</a>
					<!--#else popup -->
					<a class="form" href="{ link_url }">{ short }</a>
					<!--#endif popup -->
				<!--#else short -->
					<!--#if popup -->
					<a href="{ link_url }" onclick="bab_popup(this.href); return false;"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
					<!--#else popup -->
					<a href="{ link_url }"><img src="{ babSkinPath }images/addons/forms/formtype_{ type }.gif" alt="{ t_form }" /></a>
					<!--#endif popup -->
				<!--#endif short -->
			<!--#else link -->
				<!--#if blob -->
					<a href="{ blob[file_url] }" title="{ blob[file_name] } ({ blob[file_size] })"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ t_download }" /></a>
				<!--#else blob -->
					{ short }
				<!--#endif blob -->
			<!--#endif link -->
		</td>
		<!--#endin getnextcol -->

		<td class="qte">
			<input type="text" size="4" name="qte_{ row[form_id] }" value="{ row[qte] }" />
		</td>
	</tr>
	<!--#endin getnextrow -->
	</tbody>
	<tfoot>
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="{ colspan }">
		<!--#if arr[buttons_next_previous] -->
		{ t_rows_per_page }&nbsp;:&nbsp;{ arr[rows_per_page] }<input type="hidden" name="rows_per_page" value="{ arr[rows_per_page] }"> &nbsp;&nbsp;
		<input type="button" name="page_prev_btn" value="&lt;" onclick="page_previous()" />
		<select name="page" onchange="page_load(this.value)">
		</select>
		<input type="button" name="page_next_btn" value="&gt;" onclick="page_next()" />
		<!--#endif arr[buttons_next_previous] -->
		&nbsp;
		<!--#if find -->
		&nbsp;&nbsp;&nbsp;
		<input type="text" name="form_search" value="{ form_search }" size="15" />
		<input type="submit" value="{ find }" />
		<!--#endif find -->
		</td>

		<td class="qte">
			<input type="submit" value="{ t_record_quantities }" />
		</td>
		
	</tr>
	</tfoot>
	</table>
</div>

{ buttonbar }

</form>

	<div id="ADDON_FORMS_list_links">
		<!--#if url_opt -->
		<a href="javascript:form_list_opt('');">{ t_opt }</a> 
		<!--#endif url_opt -->
		<!--#if url_opt_hide -->
		<a href="javascript:form_list_opt('hide');">{ t_opt_hide }</a> 
		<!--#endif url_opt_hide -->
		<!--#if url_opt_view -->
		<a href="javascript:form_list_opt('view');">{ t_opt_view }</a>
		<!--#endif url_opt_view -->
	</div>
<!--#if arr[buttons_next_previous] -->
<script type="text/javascript">
<!--
page_select_fill();
-->
</script>
<!--#endif arr[buttons_next_previous] -->
</div>
<!--#end sl_mode -->

<!--#begin trans_mode -->
<style type="text/css">
@import url('{ css_file }');
</style>
<div class="ADDON_FORMS BabLoginMenuBackground ADDON_FORMS_edit ADDON_FORMS_trans">

<form name="addon_forms" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtrl())" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/form" />
<input type="hidden" name="idx" value="{ next_idx }" />
<input type="hidden" name="parent_idx" value="{ parent_idx }" />
<input type="hidden" name="action" value="trans_mode" />
<!--#if id_app "> 0" -->
<input type="hidden" name="trt_step" value="1" />
<!--#else id_app -->
<input type="hidden" name="trt_step" value="" />
<!--#endif id_app -->
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="id_form" value="{ next_form }" />
<input type="hidden" name="record_id_form" value="{ id_form }" />
<input type="hidden" name="id_table" value="{ arr[id_table] }" />
<input type="hidden" name="form_row" value="{ form_row }" />
<input type="hidden" name="form_menu" value="{ form_menu }" />
<input type="hidden" name="id_app" value="{ id_app }" />
<input type="hidden" name="id_step" value="{ next_step }" />
<input type="hidden" name="parent_step" value="{ id_step }" />
<input type="hidden" name="id_btn_type" value="0" />
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }" />


	<!--#if app_message -->
	<h2>{ app_message }</h2>
	<!--#endif app_message -->
	<!--#if arr[longdesc] -->
	<h3>{ arr[longdesc] }</h3>
	<!--#endif arr[longdesc] -->
	<fieldset>
	<!--#in getnextcol -->
	
	<div class="{ field_classname }">
		{ html_label }
		{ html_field }
	</div>
	
	<!--#endin getnextcol -->

	<!--#if arr[view_notempty] -->
	<span class="legend">
		<span class="bab_highlight">*</span> { t_view_notempty }
	</span>
	<!--#endif arr[view_notempty] -->
	</fieldset>

	<!--#if sc_card -->
	<table class="sc">
		<thead>
		<tr class="BabSiteAdminTitleFontBackground">
			<td width="70%">
				{ t_card_msg }
			</td>
			<td>
				{ t_total_qte }
			</td>
			<th>
				{ t_total }
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				{ total_qte }
			</td>
			<th>
				{ sc_card[unit_concat_before] }&nbsp;{ total_sub }&nbsp;{ sc_card[unit_concat] }
			</th>
		</tr>
		<tr>
			<td colspan="2">
				{ arr[trans_formula_msg] }
			</td>
			<th>
				{ sc_card[unit_concat_before] }&nbsp;{ total_full }&nbsp;{ sc_card[unit_concat] }
			</th>
		</tr>
		</tbody>
	</table>
	<!--#endif sc_card -->
	{ buttonbar }

</form>
</div>
<!--#end trans_mode -->