<!--#begin browse_tables -->

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
			{ t_name }
		</td>
		<td>
			{ t_nb_rec }
		</td>
		<td>
			{ t_browse }
		</td>
		<td>
			{ t_import }
		</td>
		<td>
			{ t_export }
		</td>
		<td>
			{ t_ov_directory }
		</td>
		<td>
			{ t_ov_calendar }
		</td>

	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
			{ arr[name] }
		</td>
		<td>
			{ nb_rec }
		</td>
		<td>
			<a href="{ browse_rows_url }"><img src="{ babSkinPath }images/addons/forms/button_browse.png" border="0" /></a>
		</td>
		<td>
			<!--#if import_url -->
			<a href="{ import_url }">{ t_import }</a>
			<!--#else import_url -->
			&nbsp;
			<!--#endif import_url -->
		</td>
		<td>
			<!--#if nb_rec "> 0" -->
			<a href="{ export_url }">{ t_export }</a>
			<!--#else nb_rec -->
			&nbsp;
			<!--#endif nb_rec -->
		</td>
		
		<td>
			<a href="{ ov_directory_url }" title="{ t_directory_config }"><img src="{ babSkinPath }images/addons/forms/database.png" alt="{ t_directory_config }" border="0" /></a>
			
			<a href="{ ov_directory_upgrade_url }" title="{ t_refresh }"><img src="{ babSkinPath }images/addons/forms/refresh.png" alt="{ t_refresh }" border="0" /></a>
		</td>
		
		<td>
			<a href="{ ov_calendar_url }" title="{ t_calendar_config }"><img src="{ babSkinPath }images/addons/forms/database.png" alt="{ t_calendar_config }" border="0" /></a>
		</td>

	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end browse_tables -->


<!--#begin browse_rows -->
<script type="text/javascript">
<!--
function submitCtr()
	{
	return true;
	}

function page_next()
	{
	var f = document.forms.listform;
	var tmp = f.pos.value + { rows_per_page };
	if (tmp < { max })
		{
		f.pos.value = tmp;
		f.submit();
		}
	}

function page_previous()
	{
	var f = document.forms.listform;
	var tmp = f.pos.value - { rows_per_page };
	if (tmp >= 0)
		{
		f.pos.value = tmp;
		f.submit();
		}
	}

function page_load(p)
	{
	var f = document.forms.listform;
	f.pos.value = p*{ rows_per_page };
	f.submit();
	}

function page_select_fill()
	{
	var f = document.forms.listform;
	if (typeof f.page != 'undefined')
		{
		var nbpages = Math.floor({ max }/{ rows_per_page }) + 1;
		var current = Math.round({ pos }/{ rows_per_page });
		for (var i=0 ; i < nbpages ; i++)
			{
			f.page.options[i] = new Option(i+1,i);
			if (i == current)
				f.page.options[i].selected=true;
			}
		}
	}
-->
</script>
<form name="listform" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="browse_rows">
<input type="hidden" name="tg" value="{ babAddonTarget }/user">
<input type="hidden" name="action" value="filing_lock_table">
<input type="hidden" name="id_table" value="{ id }">
<input type="hidden" name="pos" value="{ pos }">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td></td>
		<!--#in getnextrow -->
		<!--#if selected -->
		<td>
			{ name }
		</td>
		<!--#endif selected -->
		<!--#endin getnextrow -->
		<!--#if alowed_filing -->
		<td>
			<em>{ t_filing }</em>
		</td>
		<!--#endif alowed_filing -->
		<!--#if alowed_lock -->
		<td>
			<em>{ t_lock }</em>
		</td>
		<!--#endif alowed_lock -->
		<!--#if alowed_delete -->
		<td>
			<em>{ t_delete }</em>
		</td>
		<!--#endif alowed_delete -->
		<!--#if alowed_approb -->
		<td>
			<em>{ t_approb }</em>
		</td>
		<!--#endif alowed_approb -->
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td><input type="hidden" name="pageid[]" value="{ row[form_id] }" /></td>
		<!--#in getnextrow -->
		<!--#if selected -->
		<td>
			{ value }
		</td>
		<!--#endif selected -->
		<!--#endin getnextrow -->
		<!--#if alowed_filing -->
		<td>
			<input type="checkbox" name="filing[]" value="{ row[form_id] }" { filingchecked } />
		</td>
		<!--#endif alowed_filing -->
		<!--#if alowed_lock -->
		<td>
			<input type="checkbox" name="lock[]" value="{ row[form_id] }" { lockchecked } />
		</td>
		<!--#endif alowed_lock -->
		<!--#if alowed_delete -->
		<td>
			<input type="checkbox" name="delete[]" value="{ row[form_id] }" />
		</td>
		<!--#endif alowed_delete -->
		<!--#if alowed_approb -->
		<td>
			<select name="approb_{ row[form_id] }">
			<!--#if row[form_approb] "== 0" -->
				<option value="0" selected="selected">{ t_approb_w }</option>
				<option value="1">{ t_approb_a }</option>
				<option value="2">{ t_approb_r }</option>
			<!--#endif row[form_approb] -->
			<!--#if row[form_approb] "== 1" -->
				<option value="0">{ t_approb_w }</option>
				<option value="1" selected="selected">{ t_approb_a }</option>
				<option value="2">{ t_approb_r }</option>
			<!--#endif row[form_approb] -->
			<!--#if row[form_approb] "== 2" -->
				<option value="0">{ t_approb_w }</option>
				<option value="1">{ t_approb_a }</option>
				<option value="2" selected="selected">{ t_approb_r }</option>
			<!--#endif row[form_approb] -->
			</select>
			<!--#if row[id_schi] -->
			<a href="{ babAddonUrl }user&idx=wf_users&idschi={ row[id_schi] }" onclick="bab_popup(this.href,2);return false;"><img src="{ babSkinPath }images/addons/forms/approb.gif" alt="{ t_wf_instance }" border="0" /></a>
			<!--#endif row[id_schi] -->
		</td>
		<!--#endif alowed_approb -->
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td></td>
		<!--#if colspan -->
		<td colspan="{ colspan }">{ t_rows_per_page }&nbsp;<input type="text" name="rows_per_page" value="{ rows_per_page }" size="4" maxlength="4" /> &nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="<" onclick="page_previous()" />
		<select name="page" onchange="page_load(this.value)">
		</select>
		<input type="button" value=">" onclick="page_next()" />
		</td>
		<!--#endif colspan -->
		<!--#if alowed_filing -->
		<td>
			<a title="{ t_checkall }" href="javascript:onCheckAll('filing', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0" /></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('filing', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0" /></a>
		</td>
		<!--#endif alowed_filing -->
		<!--#if alowed_lock -->
		<td>
			<a title="{ t_checkall }" href="javascript:onCheckAll('lock', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0" /></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('lock', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0" /></a>
		</td>
		<!--#endif alowed_lock -->
		<!--#if alowed_delete -->
		<td>
			<a title="{ t_checkall }" href="javascript:onCheckAll('delete', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0" /></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('delete', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0" /></a>
		</td>
		<!--#endif alowed_delete -->
		<!--#if alowed_approb -->
		<td>
			&nbsp;
		</td>
		<!--#endif alowed_approb -->
	</tr>
	</table>
</td>
</tr>
</table>
<br />

	
<table border="0" width="35%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td colspan="2">
		{ t_view_cols } :
		</td>
	</tr>
	<!--#in getnextrow -->
	<tr>
		<td align="right">
			<input type="checkbox" name="table_view_cols[]" value="{ id_col }" <!--#if selected --> checked="checked" <!--#endif selected --> />
		</td>
		<td  title="id : { id_col }">
			{ name }
		</td>
	</tr>
	<!--#endin getnextrow -->
	<tr>
		<td align="right">
			<a title="{ t_checkall }" href="javascript:onCheckAll('table_view_cols', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0"></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('table_view_cols', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0"></a>
		</td>
		<td>&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />

<div align="center">
	<input type="submit" value="{ t_update }">
</div>
</form>
<script type="text/javascript">
<!--
page_select_fill();
-->
</script>
<!--#end browse_rows -->

<!--#begin export -->
<script type="text/javascript">
<!--
function submitCtr()
	{
	return true;
	}
-->
</script>
<form name="listform" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="browse_tables">
<input type="hidden" name="tg" value="{ babAddonTarget }/user">
<input type="hidden" name="action" value="export">
<input type="hidden" name="id_table" value="{ id }">

<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td align="right">{ t_separator }</td>
		<td><input type="text" name="separator" value="," size="4" maxlength="3"></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>{ t_field }</td>
	</tr>
	<tr>
		<td align="right"><em>{ t_index }</em></td>
		<td><input type="checkbox" name="field[]" value="id" /></td>
	</tr>
	<!--#in getnext -->
	<tr>
		<td align="right">{ arr[name] }</td>
		<td><input type="checkbox" name="field[]" value="{ arr[id] }" checked="checked" /></td>
	</tr>
	<!--#endin getnext -->
	<tr>
		<td>&nbsp;</td>
		<td>
		<a title="{ t_checkall }" href="javascript:onCheckAll('field', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0"></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('field', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0"></a>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td align="right">{ t_fav_name }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=table,export,fav_name" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td>
			<input type="text" name="fav_name" />
		</td>
	</tr>
	<tr>
		<td align="right">{ t_to_file }&nbsp;<a href="{ babAddonUrl }user&idx=help&help_id=table,export,to_file" onclick="bab_popup(this.href,2);return false;"><img align="absmiddle" src="{ babSkinPath }images/addons/forms/help.gif" alt="{ t_help }" border="0" /></a></td>
		<td>
			<input type="text" name="to_file" />
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<tr >
		<td colspan="2" align="center"><input type="submit" value="{ t_export }"></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end export -->

<!--#begin import1 -->
<form name="listform" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="import">
<input type="hidden" name="tg" value="{ babAddonTarget }/user">
<input type="hidden" name="action" value="import1">
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }">
<input type="hidden" name="id_table" value="{ id }">

<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td align="right">{ t_separator }</td>
		<td><input type="text" name="separator" value="," size="4" maxlength="3"></td>
	</tr>
	<tr>
		<td align="right">{ t_file }</td>
		<td><input type="file" name="csv"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="{ t_submit }"></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end import1 -->

<!--#begin import2 -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="browse_tables">
<input type="hidden" name="tg" value="{ babAddonTarget }/user">
<input type="hidden" name="action" value="import2">
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }">
<input type="hidden" name="id_table" value="{ id }">
<input type="hidden" name="separator" value="{ separator }">

<table border="0" width="80%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td>{ t_table_name }</td>
		<td>{ t_cvs_name }</td>
		<td  align="center">{ t_reference }</td>
	</tr>
	<!--#in getnextfield -->
	<tr>
		<td align="right">{ field[name] }</td>
		<td>
			<select name="field_{ field[id] }">
				<option value=""></option>
			<!--#in getnexthead -->
				<!--#if selected -->
				<option value="{ key }" selected="selected">{ value }</option>
				<!--#else selected -->
				<option value="{ key }">{ value }</option>
				<!--#endif selected -->
			<!--#endin getnexthead -->
			</select>
		</td>
		<td align="center">
			<input type="checkbox" name="reference[]" value="{ field[id] }" />
		</td>
	</tr>
	<!--#endin getnextfield -->
	<tr>
		<td colspan="3" align="center"><input type="submit" value="{ t_submit }"></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end import2 -->



<!--#begin favlist -->
<script type="text/javascript">
<!--
function copyurl(url)
	{
	var copywin = window.open('','copy','status=no,menubar=no,personalbar=no,width=300,height=50,top=100,left=100,scrollbars=yes,resizable=yes');
	copywin.document.write('<div align="center"><input type="text" style="width:100%;" id="copy" value="'+url+'"><br /><br /><input type="button" value="{ t_close }" onclick="window.close()"></div>');

	var copy = copywin.document.getElementById('copy');
	copy.focus();
	copy.select();
	if (typeof copy.createTextRange != 'undefined')
		{
		therange=copy.createTextRange();
		therange.execCommand("Copy");
		copywin.close();
		}
	}
-->
</script>
<form name="listform" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="favlist">
<input type="hidden" name="tg" value="{ babAddonTarget }/user">
<input type="hidden" name="action" value="favlist">

<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>{ t_name }</td>
		<td>{ t_tablename }</td>
		<td>{ t_launch }</td>
		<td>{ t_copy }</td>
		<td>{ t_delete }</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->

		<td>{ arr[name] }</td>
		<td>{ arr[tablename] }</td>
		<td><a href="{ babAddonUrl }user&idx=favexec&id_fav={ arr[id] }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/addons/forms/launch.gif" border="0" /></a></td>
		<td><a href="javascript:copyurl('{ babAddonUrl }user&idx=favexec&id_fav={ arr[id] }');"><img src="{ babSkinPath }images/addons/forms/copy.gif" border="0" /></a></td>
		<td align="center"><input type="checkbox" name="fav[]" value="{ arr[id] }" /></td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="4"></td>
		<td width="2%" align="center">
			<a title="{ t_checkall }" href="javascript:onCheckAll('fav', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }"  border="0"></a><a title="{ t_uncheckall }" href="javascript:onCheckAll('fav', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }" border="0"></a>
		</td>

	</tr>
	</table>
</td>
</tr>
</table>
<br />

<div align="center">
	<input type="submit" value="{ t_update }">
</div>
</form>

<!--#end favlist -->

<!--#begin wf_users -->
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>{ t_user }</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->

		<td><a href="mailto:{ email }">{ name }</a></td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>

<!--#end wf_users -->



<!--#begin validation_description -->
<ul>
	<!--#in getnext -->
	<li><strong>{ name } : </strong> { value }</li>
	<!--#endin getnext -->
</ul>
<!--#end validation_description -->


<!--#begin ov_directory -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="browse_tables" />
<input type="hidden" name="tg" value="{ babAddonTarget }/user" />
<input type="hidden" name="action" value="ov_directory" />
<input type="hidden" name="id_table" value="{ id_table }" />

<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	
	<tr>
		<td><label for="bab_directory_id_group">{ t_id_group }</label></td>
		<td>
			<input type="text" name="id_group" id="bab_directory_id_group" value="{ id_group }" />
		</td>
	</tr>
	
	<tr>
		<td colspan="2"><br /></td>
	</tr>
	
	
	
	<!--#in getnextdirfield -->
	<tr>
		<td><label for="bab_directory_{ dirfieldname }">{ dirfieldlabel }</label></td>
		<td>
			<select id="bab_directory_{ dirfieldname }" name="ov_directory[{ dirfieldname }]">
				<option value=""></option>
			<!--#in getnexttablefield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnexttablefield -->
			</select>
		</td>
	</tr>
	<!--#endin getnextdirfield -->
	<tr>
		<td colspan="2">
		
		<p align="center">
			<label for="form_delete_password">{ t_delete_password }</label> : 
			<!--#if delete_password -->
			<input type="checkbox" id="form_delete_password" name="delete_password" checked="checked" />
			<!--#else delete_password -->
			<input type="checkbox" id="form_delete_password" name="delete_password" />
			<!--#endif delete_password -->
		</p>
		
		<br /></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<br />
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>

<script type="text/javascript">
	bab_dialog.field('bab_directory_id_group', '{ group_name }', 
		function(display) {
			bab_dialog.selectgroups(
				function(arr) {
					group = document.getElementById('bab_directory_id_group');
					group.value = arr['id'];
					display.innerHTML = arr['content'];
				},
				'toolbar&selectable_groups'
			);
		}
	);
</script>

<!--#end ov_directory -->


<!--#begin ov_directory_upgrade -->
<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
	
	
	<tr>
		<td colspan="2">
			<br />
			
			<!--#if modifications -->
			
			<p>{ t_modifications }</p>
			
			<ul>
				<!--#in getnext -->
				<li>{ name }</li>
				<!--#endin getnext -->
			</ul>
			
			<!--#else modifications -->
			
			<p>{ t_nochanges }</p>
			
			<!--#endif modifications -->
			
			<br />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end ov_directory_upgrade -->









<!--#begin ov_calendar -->
<script type="text/javascript">
function form_calendar_select()
{
	var dtstart = document.getElementById('calendar_DTSTART');
	var dtend = document.getElementById('calendar_DTEND');
	var cdate = document.getElementById('calendar_date');


	if (cdate.value)
	{
		dtstart.disabled = true;
		dtend.disabled = true;
	} else {
		dtstart.disabled = false;
		dtend.disabled = false;

		if (dtstart.value || dtend.value)
		{
			cdate.disabled = true;
		}
	}
	
}

</script>

<form name="calendar" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="browse_tables" />
<input type="hidden" name="tg" value="{ babAddonTarget }/user" />
<input type="hidden" name="action" value="ov_calendar" />
<input type="hidden" name="id_table" value="{ id_table }" />

<table border="0" width="50%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="5" cellspacing="0">
	
	<tr>
		<td align="right"><label for="calendar_name">{ t_calendar_name }</label></td>
		<td>
			<input type="text" name="calendar_name" id="calendar_name" value="{ calendar_name }" />
		</td>
	</tr>
	
	<tr>
		<td colspan="2"><br /></td>
	</tr>
	
	
	
	
	<tr>
		<td align="right"><label for="calendar_SUMMARY">{ t_SUMMARY }</label> <span style="color:red">*</span></td>
		<td>
			<select id="calendar_SUMMARY" name="ov_calendar[SUMMARY]">
				<option value=""></option>
			<!--#in getnextsummaryfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextsummaryfield -->
			</select>
		</td>
	</tr>
	
	
	<tr>
		<td align="right"><label for="calendar_DESCRIPTION">{ t_DESCRIPTION }</label></td>
		<td>
			<select id="calendar_DESCRIPTION" name="ov_calendar[DESCRIPTION]">
				<option value=""></option>
			<!--#in getnextdescriptionfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextdescriptionfield -->
			</select>
		</td>
	</tr>
	
	
	<tr>
		<td align="right"><label for="calendar_CATEGORIES">{ t_CATEGORIES }</label></td>
		<td>
			<select id="calendar_CATEGORIES" name="ov_calendar[CATEGORIES]">
				<option value=""></option>
			<!--#in getnextcategoriesfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextcategoriesfield -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td align="right"><label for="calendar_LOCATION">{ t_LOCATION }</label></td>
		<td>
			<select id="calendar_LOCATION" name="ov_calendar[LOCATION]">
				<option value=""></option>
			<!--#in getnextlocationfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextlocationfield -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td colspan="2"><br />
		
			<p>{ t_dates_help }</p>
		</td>
	</tr>
	
	<tr>
		<td align="right"><label for="calendar_DTSTART">{ t_DTSTART }</label></td>
		<td>
			<select id="calendar_DTSTART" name="ov_calendar[DTSTART]" onchange="form_calendar_select()">
				<option value=""></option>
			<!--#in getnextdtstartfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextdtstartfield -->
			</select>
		</td>
	</tr>
	
	
	<tr>
		<td align="right"><label for="calendar_DTEND">{ t_DTEND }</label></td>
		<td>
			<select id="calendar_DTEND" name="ov_calendar[DTEND]"  onchange="form_calendar_select()">
				<option value=""></option>
			<!--#in getnextdtendfield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextdtendfield -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td align="right"><label for="calendar_daydate">{ t_daydate }</label></td>
		<td>
			<select id="calendar_daydate" name="ov_calendar[daydate]"  onchange="form_calendar_select()">
				<option value=""></option>
			<!--#in getnextdatetablefield -->
				<!--#if selected -->
				<option value="{ fieldid }"  selected="selected">{ fieldname }</option>
				<!--#else selected -->
				<option value="{ fieldid }">{ fieldname }</option>
				<!--#endif selected -->
			<!--#endin getnextdatetablefield -->
			</select>
		</td>
	</tr>
	
	
	<tr>
		<td colspan="2"><br /></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center">
			<br />
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>


<!--#end ov_calendar -->