<!--#begin list -->
<div class="form_workspaces">
	<table border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
	<tr> 
		<td class="form_ws_menu"> 
			<ul>
				<!--#in getnextworkspace -->
				<!--#if selected -->
				<li class="selected">
				<!--#else selected -->
				<li>
				<!--#endif selected -->
					<a href="{ url }">{ name }</a></li>
				<!--#endin getnextworkspace -->
			</ul>
		</td>
		
		<td class="current_ws">
			{ workspace_description } 
			
			<ul>
				<li><a href="{ babAddonUrl }main&amp;idx=list_types">{ t_types }</a></li>
				<li><a href="{ babAddonUrl }main&amp;idx=list_tables">{ t_tables }</a></li>
				<li><a href="{ babAddonUrl }main&amp;idx=list_forms">{ t_forms }</a></li>
				<li><a href="{ babAddonUrl }main&amp;idx=list_applications">{ t_application }</a></li>
			</ul>
			
			<p align="right">
				<a class="edit" href="{ babAddonUrl }workspace&amp;idx=edit&amp;id_workspace={ id_workspace }">{ t_edit }</a> &nbsp; 
				<a class="assign" href="{ babAddonUrl }workspace&amp;idx=assign">{ t_assign }</a> &nbsp; 
				<a class="export" href="{ babAddonUrl }workspace&amp;idx=export">{ t_export }</a>
			</p>
		</td>
	</tr>
	</table>
</div>
<!--#end list -->


<!--#begin edit -->
<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/workspace" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="action" value="workspace_edit" />
<input type="hidden" name="id_workspace" value="{ id_workspace }" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="6" cellspacing="0">

	<tr>
		<td align="right">{ t_name } : </td>
		<td><input type="text" name="name" value="{ name }" maxlength="255" size="64" /></td>
	</tr>
	
	<tr valign="top">
		<td align="right">{ t_description } : </td>
		<td><textarea name="description" cols="64" rows="8">{ description }</textarea></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center">
		
			<br /><br />
		
			<input type="submit" value="{ t_record }" />
			<!--#if id_workspace -->
			<input type="submit" name="delete_ws" value="{ t_delete }" title="{ t_delete_confirm }" onclick="return confirm(this.title)" />
			<!--#endif id_workspace -->
			
			<br /><br />
		</td>
	</tr>
	
	</table>
</td>
</tr>
</table>

</form>

<!--#end edit -->



<!--#begin assign -->
<form name="edit_form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/workspace" />
<input type="hidden" name="idx" value="assign2" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<!--#in getnexttype -->
	<!--#if altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tr class="BabForumBackground1">
	<!--#endif altbg -->
		<td>{ label }</td>
		<td>
			<input type="radio" name="type" value="{ value }" <!--#if checked --> checked="checked"<!--#endif checked --> />
		</td>
	</tr>
	<!--#endin getnexttype -->
	
	<tr  class="BabSiteAdminTitleFontBackground">
		<td colspan="2" align="center">
			<input type="submit" value="{ t_next }" />
		</td>
	</tr>
	
	</table>
</td>
</tr>
</table>

</form>

<!--#end assign -->









<!--#begin assign2 -->

<script type="text/javascript">
<!--

function check_uncheck(obj,prefix)
	{
	var f = document.forms['assign'];
	for (i = 0; i < f.elements.length; i++)
		{
		var objCtrl = f.elements[i];
		if (objCtrl.name.indexOf(prefix) != -1)
			{
			if (obj.checked) objCtrl.checked = true;
			else objCtrl.checked = false;
			}
		}
	}
	
-->
</script>
<form name="assign" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/workspace" />
<input type="hidden" name="idx" value="assign" />
<input type="hidden" name="type" value="{ type }" />
<input type="hidden" name="action" value="assign_object" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tr class="BabForumBackground1">
	<!--#endif altbg -->
		<td>{ label }</td>
		<td>
			<!--#if selected -->
			<input type="checkbox" name="object[]" value="{ value }" checked="checked" />
			<!--#else selected -->
			<input type="checkbox" name="object[]" value="{ value }" />
			<!--#endif selected -->
		</td>
	</tr>
	<!--#endin getnext -->
	
	<tr class="BabSiteAdminTitleFontBackground">
		<td align="center">
			<input type="submit" value="{ t_submit }" />
		</td>
		
		<td width="1%">
			<input type="checkbox" onclick="check_uncheck(this,'object')" />
		</td>
	</tr>
	
	</table>
</td>
</tr>
</table>

</form>

<!--#end assign2 -->



<!--#begin import -->
<form name="edit_form" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/workspace" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="action" value="import_workspace" />


<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="5" cellspacing="0">
	
	<tr>
		<td colspan="2" align="center">
		
			<p><input type="file" name="workspace" /></p>
		
			<input type="submit" value="{ t_submit }" />
		</td>
	</tr>
	
	</table>
</td>
</tr>
</table>

</form>
<!--#end import -->




<!--#begin editor -->

<script type="text/javascript">
<!--


function form_app(a)
	{
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '<a href="'+a.href+'" class="forms-application">'+a.innerHTML+'</a>'
	});
	
	window.close();
}
//-->
</script>



<ul>
	<!--#in getnextws -->
	<li>{ workspace }</li>
	<ul>
		<!--#in getnextapp -->
		<li><a href="{ appurl }" onclick="form_app(this); return false;">{ application }</a></li>
		<!--#endin getnextapp -->
	</ul>
	<!--#endin getnextws -->
</ul>
<!--#end editor -->

