/* General */

.ADDON_FORMS {
	border:#000 2px solid;
	padding:1em 0;
	text-align:center;
	margin:.5em 5%;
	font-size:1em;
	}

.ADDON_FORMS_list {
	margin:.5em 1%;
	}

.ADDON_FORMS h2 {
	font-size:1.1em;
	}

.ADDON_FORMS h3 {
	font-size:1.1em;
	}

.ADDON_FORMS a img {
	border:0;
	}

.ADDON_FORMS a.mailto {
	background: url('../../../../images/addons/forms/mail_icon.gif') center right no-repeat;
    padding-right: 18px;
	}

.ADDON_FORMS a.url {
	background: url('../../../../images/addons/forms/external.png') center right no-repeat;
    padding-right: 13px;
	}

.ADDON_FORMS .download {
	background: url('../../../../images/Puces/download.gif') center left no-repeat;
	padding-left: 18px;
	}

.ADDON_FORMS .ovdirectorylink {
	background: url('../../../../images/Puces/head.gif') center left no-repeat;
	padding-left: 14px;
	}




.ADDON_FORMS_list a.url,
.ADDON_FORMS_list a.mailto {
	color:#000;
	text-decoration:none;
	font-weight:normal;
	}

.ADDON_FORMS_list a.url:hover,
.ADDON_FORMS_list a.mailto:hover {
	text-decoration:underline;
	}

.ADDON_FORMS .bab_highlight {
	color:red;
	}

.ADDON_FORMS .legend {
	padding:.5em;
	}

#ADDON_FORMS_navigation {
	padding:1em 0 0 0;
	}

#ADDON_FORMS_navigation input {
	margin:.5em .2em;
	}

.ADDON_FORMS a.help {
	background:transparent url('../../../../images/addons/forms/help.gif') no-repeat 100% 100%;
	padding-left:10px;
	padding-top:4px;
	font-size:10px;
	text-decoration:none;
	position:relative;
	top:3px;
	}

.ADDON_FORMS a.help span {
	display:none;
	}

.ADDON_FORMS .submit_error,
.ADDON_FORMS .post_submit_error input {
	border-color:#fff;
	background-color:#f00;
	color:#fff;
	}

/* insert/edit */

.ADDON_FORMS fieldset {
	border-width:0;
	text-align:left;
	}

.ADDON_FORMS fieldset.approbation {
	border-width:2px;
	margin:1em;
	}

.ADDON_FORMS fieldset.approbation legend {
	font-weight:normal;
	}

.ADDON_FORMS fieldset.approbation p,
.ADDON_FORMS fieldset.search p {
	text-align:center;
	}

.ADDON_FORMS fieldset div {
	margin:0;
	padding:.25em 0;
	clear:both;
	}

.ADDON_FORMS fieldset div label,
.ADDON_FORMS fieldset div .label {
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	width:40%;
	padding-right:.5em;
	padding-bottom:.5em;
	clear:both;
	font-weight:bold;
	font-size:1em;
	}



/* en fonction du type de champ : */

.ADDON_FORMS_edit .textarea {
	margin:.8em;
	padding:1em;
	text-align:center;
	}



.ADDON_FORMS_edit .textarea label {
	float:none;
	display:block;
	margin:0px;
	padding:0px;
	padding-bottom:.5em;
	text-align:center;
	width:100%;
	
	}

.ADDON_FORMS_edit .textarea textarea  {
	width:90%;
	height:130px;
	}


.ADDON_FORMS_edit .textarea .suffix {
	display:none;
	}

.ADDON_FORMS .hidden {
	display:none;
	}



/* radio et checkbox */


.ADDON_FORMS ul {
	list-style-type:none;
	margin:0em;
	padding:0em;
	width:50%;
	}

.ADDON_FORMS li {
	font-weight:normal;
	}


.ADDON_FORMS .list>.label,
.ADDON_FORMS_edit .radio>label,
.ADDON_FORMS_edit .checkbox>label {
	float:none;
	display:block;
	padding-bottom:0em;
	text-align:right;
	width:40%;
	}

.ADDON_FORMS div>ul {
	width:59%;
	margin-left:41%;
	}


.ADDON_FORMS_edit li input {
	background-color:transparent;
	}

/* list */

.ADDON_FORMS table {
	border-collapse:collapse;
	margin:.5em auto;
	}

.ADDON_FORMS thead a,
.ADDON_FORMS thead a:visited {
	text-decoration:none;
	}

.ADDON_FORMS_list thead a:hover {
	text-decoration:underline;
	}

.ADDON_FORMS thead .DESC a,
.ADDON_FORMS thead .DESC a:visited {
	font-style:italic;
	}

.ADDON_FORMS thead .ASC a,
.ADDON_FORMS thead .ASC a:visited {
	font-style:italic;
	}

.ADDON_FORMS tbody .DESC,
.ADDON_FORMS tbody .ASC {
	background-color:#eee;
	}

.ADDON_FORMS td, .ADDON_FORMS th {
	padding:.2em .4em;
	}
.ADDON_FORMS th,
.ADDON_FORMS thead td, 
.ADDON_FORMS tfoot td {
	font-size:11px;
	border-top:#000 2px solid;
	border-bottom:#000 2px solid;
	}

.ADDON_FORMS tbody td {
	font-weight:normal;
	text-align:left;
	}

.ADDON_FORMS tbody {
	background-color:#fff;
	}

.ADDON_FORMS tbody tr.bab_alternate {
	background-color:#f5f5f5;
	}

.ADDON_FORMS tbody a,
.ADDON_FORMS tbody a:visited {
	color:#000;
	text-decoration:underline;
	}

.ADDON_FORMS tbody a:hover {
	color:#333;
	text-decoration:none;
	}

.ADDON_FORMS tbody tr td {
	border-bottom:#000 1px solid;
	}

.ADDON_FORMS tbody input, #ADDON_FORMS_list .check_all input {
	background-color:transparent;
	}

#ADDON_FORMS_list_links {
	padding:1em;
	text-align:left;
	}

#ADDON_FORMS_list_links a, #ADDON_FORMS_list_links a:visited {
	padding: .1em .3em;
	margin:.1em;
	background-color:#23d;
	color:#fff;
	text-decoration:none;
	border:#000 1px solid;
	font-weight:bold;
	}

#ADDON_FORMS_list_links a:hover {
	background-color:#000;
	}

.ADDON_FORMS .delete {
	text-align:center;
	}

.ADDON_FORMS .search {
	text-align:left;
	width:99%;
	margin:.2em auto;
	}

.ADDON_FORMS .search .interval {
	width:3em;
	}


/* visualisation */

.ADDON_FORMS_view h3 {
	font-size:1.2em;
	}

/* shopping cart/list */

.ADDON_FORMS .qte {
	text-align:center;
	}


.ADDON_FORMS_sc .total {
	text-align:right;
	}

.ADDON_FORMS_sc .delete {
	text-align:center;
	}


/* optional field class */


.ADDON_FORMS .textbox {
	margin:.8em;
	padding:.5em;
	text-align:center;
	border:#666 1px dashed;
	}


.ADDON_FORMS .textbox label,
.ADDON_FORMS .textbox .label {
	float:none;
	display:block;
	margin:0px;
	padding:0px;
	padding-bottom:.5em;
	text-align:center;
	width:100%;
	}

.ADDON_FORMS .textbox .value  {
	display:block;
	margin:0 auto;
	background-color:#fff;
	border:#ccc 1px solid;
	padding:.5em;
	text-align:left;
	font-weight:normal;
	}


.ADDON_FORMS .textbox .suffix {
	display:none;
	}

.ADDON_FORMS .colored .value  {
	color:red;
	}

.ADDON_FORMS .fieldtitle .label,
.ADDON_FORMS .fieldtitle label {
	float:none;
	text-align:left;
	width:auto;
	padding-left:.2em;
	margin-top:1.5em;
	margin-bottom:.2em;
	clear:none;
	font-weight:bold;
	font-size:1.4em;
	}

.ADDON_FORMS .fieldtitle .label .suffix,
.ADDON_FORMS .fieldtitle label .suffix {
	display: none;
	}

.ADDON_FORMS .shortfield input {
	width:6em;
	}

.ADDON_FORMS .longfield input {
	width:50%;
	}




/* Directory */


.ADDON_FORMS .directory {
	margin:.8em auto;
	width:40em;
	background: ButtonFace;
	padding: 4px 8px;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	}

.ADDON_FORMS .directory .label,
.ADDON_FORMS .directory label {
	float:none;
	display:block;
	margin:0px;
	padding:0px;
	padding-top:.3em;
	padding-bottom:.5em;
	text-align:center;
	width:100%;
	}

.ADDON_FORMS .directory .suffix {
	display:none;
	}

.ADDON_FORMS .directory table {
	text-align:left;
	border-collapse:collapse;
	width:100%;
	background:#fff;
	margin:0;
	font: 11px Tahoma,Verdana,sans-serif;
	color:black;
	}

.ADDON_FORMS .directory th {
	width:70%;
	font-weight:normal;
	}

.ADDON_FORMS .directory tbody a {
	font-weight:normal;
	text-decoration:none;
	color:black;
	}
/*
.ADDON_FORMS .directory tbody tr:hover {
	background:#f8f8f8;
	}
*/
.ADDON_FORMS .directory tbody a:hover {
	color:blue;
	text-decoration:none;
	}

.ADDON_FORMS .directory td {
	white-space:nowrap;
	text-align:right;
	
	
	}

.ADDON_FORMS .directory td, .ADDON_FORMS .directory th {
	border-width:0px;
	}

.ADDON_FORMS .directory thead td, 
.ADDON_FORMS .directory thead th, 
.ADDON_FORMS .directory tfoot th {
	background: ButtonFace;
	color: ButtonText;
	padding: 3px;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	}

.ADDON_FORMS .directory tbody {
	border: 1px solid;
	border-color:  ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow ;
	}

.ADDON_FORMS .directory tbody th {
	padding-left:23px;
	background: transparent url('../../../../images/Puces/defaut.gif') 2px center no-repeat
	}

.ADDON_FORMS .directory tbody td.nofiles {
	text-align:center;
	color:grey;
	}

.ADDON_FORMS .directory tbody th.application-pdf			{ background: url('../../../../images/Puces/pdf.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.application-zip			{ background: url('../../../../images/Puces/zip.gif') 1px center no-repeat }
.ADDON_FORMS .directory tbody th.application-x-gzip			{ background: url('../../../../images/Puces/zip.gif') 1px center no-repeat }
.ADDON_FORMS .directory tbody th.text-plain					{ background: url('../../../../images/Puces/txt.gif') 1px center no-repeat }
.ADDON_FORMS .directory tbody th.text-html					{ background: url('../../../../images/Puces/html.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.image-jpg					{ background: url('../../../../images/Puces/jpg.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.image-gif					{ background: url('../../../../images/Puces/gif.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.image-png					{ background: url('../../../../images/Puces/image.gif') 4px center no-repeat }
.ADDON_FORMS .directory tbody th.application-msword			{ background: url('../../../../images/Puces/doc.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.application-vnd.ms-excel	{ background: url('../../../../images/Puces/xls.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.application-mspowerpoint	{ background: url('../../../../images/Puces/ppt.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.audio-mpeg					{ background: url('../../../../images/Puces/mp3.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.video-mpeg					{ background: url('../../../../images/Puces/mpg.gif') 2px center no-repeat }
.ADDON_FORMS .directory tbody th.video-x-msvideo			{ background: url('../../../../images/Puces/avi.gif') 2px center no-repeat }

.ADDON_FORMS .directory thead a {
	font-weight:normal;
	color: ButtonText;
	text-decoration:none;
	}

.ADDON_FORMS .directory thead a:hover {
	color: blue;
	}

.ADDON_FORMS .directory .bottom_btn {
	height:16px;
	}

#form_directory_delbtn {
	visibility:hidden;
	}

.ADDON_FORMS .directory .bottom_btn a {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px 5px;
	margin: 1px;
	display:block;
	float:left;
	text-decoration:none;
	padding-left:20px;
	font-weight:normal;
}

.ADDON_FORMS .directory .bottom_btn a.add {
	background: ButtonFace url('../../../../images/addons/forms/button_insert.png') no-repeat 3px 1px;
}

.ADDON_FORMS .directory .bottom_btn a.remove {
	background: ButtonFace url('../../../../images/addons/forms/button_empty.png') no-repeat 3px 0px;
}


.ADDON_FORMS .directory .bottom_btn a:hover {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	text-decoration:none;
	color: ButtonText;
}




.ADDON_FORMS .directory p {
	margin:.2em 0;
	padding:.2em 0;
	text-align:center;
	}
	
	

/* Captcha */

.ADDON_FORMS_edit .captcha {
	margin:.8em auto;
	padding:1em;
	text-align:center;
	background:#eee;
	color:#000;
	width:350px;
	border:#666 1px solid;
	}



.ADDON_FORMS_edit .captcha label {
	float:none;
	display:block;
	margin:0px;
	padding:0px;
	padding-bottom:.5em;
	text-align:center;
	width:100%;
	
	}



.ADDON_FORMS_edit .captcha .suffix {
	display:none;
	}
	
.ADDON_FORMS_edit .captcha img {
	margin:.3em;
}
	
.ADDON_FORMS_edit .captcha input {
	margin:.3em;
}



.ADDON_FORMS_edit .proposal * {
	vertical-align:middle;
}

.ADDON_FORMS_edit .proposal .specify {
	display:inline-block;
}