@import url('default.css');

/* Horizontal scrollbar on list forms */

.ADDON_FORMS_list {
	width:500px;
	margin:.5em auto;
	}

.ADDON_FORMS_list .bab_list {
	overflow:auto;
	width:500px;
	margin:0 auto;
	padding:8px 0;
	overflow-x:auto;
	overflow-y:hidden;
	}